.footer-lower{
    border-top:1px solid rgb(70, 70, 70);  
    display: flex;
    padding:2rem;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(20,20,20);
    height: 20vh;
   
    
}

#footerIcon-div{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1rem;
    cursor: pointer;
}
#footerIcon-wrapper{
      display: flex;
    align-items: center;
    justify-content: center;
    gap:.5rem;
    width: 100%;

}
#footerIcon{
    font-size: 25px;
}



@media(max-width:600px){
  
   .footer-lower{
    display: grid;
   grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-template-rows: repeat(2, auto);   /* 2 rows */

  gap: 1rem;
  padding: 1.5rem;
   
}

#footerIcon-div{
    width: 100%;
    


}

#footerIcon-wrapper{
    width: 100%;
    justify-content: flex-start;
        margin-left:25% ;
   
}


    
}

@media(max-width:450px){
    .footer-lower{
        padding: 1rem;
    }
    #footerIcon-div{
        font-size: .75rem;
    }

#footerIcon{
    font-size: 20px;
}

}

@media(max-width:400px){

    .footer-lower{
        height: 15vh;
    }

#footerIcon-wrapper{

        margin-left:15% ;
   
}

  #footerIcon-div{
        font-size: .7rem;
    }

#footerIcon{
    font-size: 18px;
}
}