.footer-lower{
    border-top:0px solid rgb(70, 70, 70);  
    display: flex;
flex-direction: column;
   align-items: center;
    flex-wrap: wrap;
    background-color: rgb(20,20,20);
        background-color: rgb(0, 0, 0);
/*     height: 25vh; */
   
    
}

.lower-footer-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.lower-footer-bottom{
        display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 2rem 0rem;
}


.footer-head-wrapper{
    display: flex;
    flex-direction: column;
   align-items: center;
            padding: 1rem 0rem;
}

.footer-head{
    font-family: 'Jost';
    font-size: 10rem;
    color:white;
    letter-spacing: 10px;
       font-weight: 400;
       width: fit-content;

      
}

.footer-tagline{
       font-family: "Questrial", sans-serif; 
       letter-spacing: 10px;
       font-size: 18px;
}

.app-store-link-wrapper{

    display: flex;
    flex-direction: column;
    gap:2rem;
    align-items: center;
         width: 40%;
  margin-bottom: 2rem;

  


}


.app-store-head{
    white-space: nowrap;
    display: grid;
    place-items: center;
        color:rgb(125,125,125);

    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Figtree';
    letter-spacing: 1px;
}





.app-container img{
 width: 10rem;
}

.footer-sm-text{
    font-size: 12px;
}
