  .newArrivals-home-Products-div{
    width: 100%;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: white;

margin-bottom: 4rem;
  }

    .newArrivals-home-Products-div  .product-price{

    font-size: 1.1rem;
    color: rgb(50, 50, 50); 
     font-weight: 350;
       
  }


     .newArrivals-home-Products-div .new-tag{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
      top: 1rem;
    left:0rem;
    height: 1.5rem;
    width: 20%;
    border: 0px solid grey;
    border-left: 0px;
    background-color: rgb(220, 55, 55);
    color:white;
    font-size: .8rem;
   box-shadow: 3px 3px 5px rgb(50, 50, 50);
      z-index: 1;
  }

   .newArrivals-home-Products-div .card-tag ,.discount-tag{
    display: none;
   }

     .newArrivals-home-Products-div .discount-product-price{
        display: none;
    }
