  .newArrivals-home-Products-div{
    width: 100%;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: white;

margin-bottom: 4rem;
  }

  


     .newArrivals-home-Products-div .new-tag{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
      top: 1rem;
    left:0rem;
    height: 1.5rem;
    width: 20%;
    border: 0px solid grey;
    border-left: 0px;
    background-color: rgba(245, 30, 30,0.7);
    color:white;
    font-size: .8rem;
       box-shadow: 2px 2px 5px rgb(160, 160, 160);
      z-index: 1;
  }

    .newArrivals-home-Products-div .home-product:hover .new-tag{
       
            background-color: rgba(245, 30, 30);
     box-shadow: 2px 2px 5px rgb(130, 130, 130);
   }

   .newArrivals-home-Products-div .card-tag ,.discount-tag{
    display: none;
   }

     .newArrivals-home-Products-div .discount-product-price{
        display: none;
    }
