

.home-products-nav-wrapper{
 width: 100%;
}
.home-products-btn{
    background-color: rgb(230,230,230);
    cursor: pointer;
    
   
}

.category-nav-btn.home-products-btn:hover {
    background-color: rgb(240,240,240);
}