 @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
 
 .homeContent-Container{
    position: relative;
    width: 100vw;
    
   
    border-left: 0px solid red;
    display: flex;
  

  }





    .Nav-div{
    position: absolute;
    border: 0px solid red;
    width: 99%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    top:50%;
    transform: translate(0%, -50%);
  }


   .home-left-arrow{
    width: 15rem;
    height: 15rem;
    color: #eeeeee9f;
  /*   background-color: #00000032; */ /* #716c6c4d; */
    margin-left: -15%;
    border: 0px solid #eeeeee9f;
    border-radius: 50%;
    padding:0;
     transition: margin-left 1s;
 

  }

  .Nav-div:hover .home-left-arrow{
     margin-left: -5%;
  
  }

  .home-left-arrow:hover{

    color: #eeeeee;
    border: 1px solid #cfcfcf;
  }

  .home-right-arrow{
    width: 15rem;
    height: 15rem;
  color: #eeeeee9f;
   margin-right: -15%;
    border: 0px solid #eeeeee9f;
    border-radius: 50%;
    padding:0;
     transition: margin-right 1s;

  }

  
  .Nav-div:hover .home-right-arrow{
     margin-right: -5%;
  
  }

  .home-right-arrow:hover{
 
  color: #eeeeee;
    border: 1px solid #cfcfcf;
  }

.homeCrousal{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 5px solid white;
   

  }


.homeContent{
    
    
    width: 100vw;
    height: 100vh;
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }


   .buy-link{
    position:absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    color:rgb(3, 3, 3);
   
    font-size: 1.4rem;
    height: 1rem;
    width:70%;
    border: 0px rgb(0, 0, 0) solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
    margin-bottom: 4rem;
   
   
         font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
    z-index: 1;

  }

  


  #buyLink-btn{
    display: flex;
    justify-content: center;
    align-items: center;

  
   
   width: 40%;
    font-size: 2rem;
   padding:1rem;
  }

   #buyLink-btn:hover{
    cursor: pointer;
   }

  .btn-discoverMore{
      
         color:white;
         border: 2px solid rgb(219, 219, 219) ;
         background-color: transparent;
             transition: all 0.4s ease;

  
  }

  .btn-discoverMore:hover{
    color:white;
    backdrop-filter: blur(1px);
   
         border: 2px solid rgb(255, 255, 255) ;
        
  }

  .btn-shopNow{
    

      background-color: white;
      color:rgb(0, 0, 0);
      
          transition: all 0.4s ease;
  }
  .btn-shopNow:hover{
    background-color: #e3e3e3;
     
  
  }


  .CrousalNav-div{
position: absolute;
bottom: 0;
    width: 100%;
    height: 5rem;
    border: 0px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .CrousalNav-content{
    width: 30%;
    height: 3px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

   .CrousalNav{
    border: 0px solid black;
    height:100% ;
    width: 24%;
   /*  background-color: #ffffff72; */
   background-color: rgba(0, 0, 0, 0.338);
   }

   .CrousalNav:hover{
    cursor: pointer;
   }

     .CrousalNav-selected{
    border: 0px solid black;
    height:100% ;
    width: 24%;
    background-color: rgb(255, 255, 255);
   }

 
  

  .bgImgNav{
    display: none;
    border: 0px solid rgba(0, 0, 0, 0.873);
    background-color: #eeeeee;
    width: 100%;
    height: .3rem;
    color:rgb(0, 0, 0);
    position: absolute;
    margin: auto;
    z-index: 0;
    border-radius: 5px;
    overflow: hidden;
    bottom:0rem;
    left: 50%;
  transform: translateX(-50%);
  
  }
 
  .bgImgNav-slider{
    width: 25%;
    height: 100%;
    border-radius: 1rem;
 
    background-color: black;
  }
