.solar-collection-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;


     
}





.solar-collection-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    transition: background-color 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  will-change: background-color, backdrop-filter;

    
    
}

.solar-collection-head-wrapper{
    position: absolute;
    width: 100%;
   font-family: 'Figtree';

   color: white;
    top: 50vh;
    z-index: 1;
    display: flex;
    flex-direction: column;

    /* delete */
    

}

.solar-head-icon-wrapper{
    display: flex;
    gap: 1rem;
    width: 100%;
    
}
.solar-head-icon-wrapper div{
    width: 4rem;
    aspect-ratio: 1/1;
  
}

.solar-main-head{ font-size: 7rem;font-weight: 500;}

.solar-sub-head{font-size: 2rem;font-weight: 400;}

.gradient-bg-wrapper{
width: 100%;
height: 100%;
position: absolute;

}

.gradient-UV-bg{
    width: 100%;
    height: 100vh;
  position: sticky;
top:0rem;
    z-index: 0;
    will-change: background;
    display: flex;
    justify-content: center;
    
}




.solar-collection{
    width: 80%;
    display: flex;
    justify-content: space-between;
   position: relative;
   

 /*    flex-direction: column; */


    
}



.solar-mainImage-wrapper{
   flex: 1;
    height: 100vh;

 position: sticky;
 top:0rem;
 margin-top: 0rem;/* could be removed */

 border: 0px solid green;
   

}

 .solar-head-icon-wrapper img{
 width: 100%;
 height: 100%;
 object-fit: contain;

} 


.solar-stack-wrapper {
  width: fit-content;
  position: relative;
  padding: 5vh 0 0 0;
  border: 0px solid black;
  margin-top: 10rem;


  

  

}


.solar-stack-item {
  position: sticky;

  height: 200px; /* 150 */
  width:400px ; /* 200 */
  max-width: 600px;
  margin: 40vh auto 40vh auto; /* Spacing between triggers */
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  border-radius: 24px;


  box-shadow: 0 -10px 20px rgba(0,0,0,0.3);
  overflow: hidden;
  transform-origin: top center;
}

/* This spacer is key: it provides the "scroll room" 
   required for the last card to actually trigger its scaling */
.scroll-spacer {
  height: 70vh; 
}

.solar-content {
  /* width: 500px;
  height: 300px; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-position:center ;
  background-size: cover;
  position: relative;

}

.solar-card-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.solar-stacked .solar-card-overlay{
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
}

.solar-head{

  height: 40%;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  z-index: 1;
  transition: all .3s ease;

}

.solar-stacked .solar-head{
  font-size: 1.5rem;
  color:rgb(190, 190, 190)
}

.solar-icon-wrapper{
  width: 2.5rem;
  height: 2.5rem;
    background-position:center ;
  background-size: cover;
  transition: all .3s ease;

}



.solar-para{
  height: 60%;
  width: 100%;
  display: grid;
  place-items: center;
  padding: 1rem;
  font-family: 'Inter';
  font-size: .9rem;
    z-index: 1;
    box-shadow: inset 0px 10px 20px rgba(255, 255, 255, 0.15);
  
}



.solar-Img-wrapper-ph{
  display: none;

}

#solar-products-wrapper{
  z-index: 9999;
    background-color: white;
}

 @media(max-width:1300px){
 .solar-collection{
    width: 90%;}
 }


 @media(max-width:1250px){
  .solar-stack-item {

  height: 170px; 
  width:340px ; 
}
 }

  @media(max-width:1000px){
    .solar-head-icon-wrapper div{
    width: 3.5rem;
}

.solar-main-head{ font-size: 5rem;font-weight: 500;}

.solar-sub-head{font-size: 1.5rem;font-weight: 400;}

  }

  @media(max-width:800px){
   .solar-collection{
    width: 80%;
    display: flex;
    flex-direction: column;
  align-items: center;
  
  position: relative;
}

  .solar-mainImage-wrapper{
   flex: 1;

    width: 100%;



  }

.solar-collection-head-wrapper{
  top: 20vh;
}
.solar-head-icon-wrapper div{
    width: 3rem;
}

.solar-main-head{ font-size: 4rem;font-weight: 400;}

.solar-sub-head{font-size: 1rem;font-weight: 400;}



   }