.Store-filter{


  


  z-index: 1; 
  
    border:0px solid black;
 
   
 background-color: rgb(255, 255, 255);
 
    border: 0px solid #606060;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0rem;

 
 

    /* 3rem */
  width: 100%;/* 100vw */
 
 /*  font-family: 'Montserrat', sans-serif; */

/*  background-color:#d3d9de;  */ /* #8ee0df;  */


   
  }

  .Store-filter-head-div{
    position: sticky;
    top: 0;
      width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight:400;
background-color: rgb(255, 255, 255);
font-family: 'Roboto';

   font-family: "Questrial", sans-serif;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(225, 225, 225);
padding-left: 1rem;
padding-right: 2rem;

z-index: 2;

 
  }

  .Store-filter-cancel{
     display: flex;
  align-items: center;
  justify-content: center;
    width: 2rem;
    height: 2rem;
    font-weight: 300;
    border: 0px solid rgb(171, 171, 171);
    border-radius: 50%;
    color:rgb(50, 50, 50);
  
 
  }
  .Store-filter-cancel:hover{
    color:rgb(20, 20, 20);
      border: 0px solid rgb(31, 31, 31);
      background-color: rgb(231, 231, 231);
  }
.store-categories{
  width: 100%;

flex:1;

display: flex;
flex-direction:column;
align-items:center;


}

.store-category-div{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.store-category{
  width: 100%;

  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 300;
/*   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
 font-family: 'Poppins', sans-serif;
 font-family: 'Inter';
 font-family: 'Josefin Sans';
 font-family: 'Roboto';
   font-family: 'Jost';
  color: rgb(50, 50, 50);
  border-bottom: 1px solid rgb(235, 235, 235);
background-color: rgb(255, 255, 255);
  padding:1.5rem;



}

.store-category:hover{
/*   background-color: #ffffff; */
  color: rgb(10, 10, 10);
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}

.store-category-selected{
    width: 100%;

  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 400;
 font-family: 'Poppins', sans-serif;
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(225, 225, 225);
/*  box-shadow: -2px 2px 2px rgb(200, 200, 200);  */
 background-color: rgb(50,210,210);
   padding:1.5rem;

}


@media(max-width:1200px){
 

}

@media(max-width:700px){

  .Store-filter-head-div{

    font-size: 1.5rem;
  }

  .store-category{
    font-size: 1rem;
  }

  .store-category-selected{
    font-size: 1rem;
  }

}



@media(max-width:400px){

  
}
/*


  .store-categories{
    border:1px solid rgb(203, 42, 42);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;

    height: 3rem;
    width:100%;
    transition: translate 400ms ease-in-out;
    background-color: aqua;
    
   
 
    
  
   }
   .store-category{
    display: flex;
    align-items: center;
    flex-shrink: 0;
    max-width: fit-content;
    height: 85%;
   padding-left: .3rem;
   padding-right: .3rem;
    border-radius: 0rem;
    color:rgb(0, 0, 0);
    font-size: .9rem;
    font-weight: 500;
   
    
    
   }
   .store-category-selected{
    display: flex;
    align-items: center;
    flex-shrink: 0;
    max-width: fit-content;
    padding:0rem ;
    height: 85%;
border-bottom: 2px solid black;
   
 
    color: rgb(0, 0, 0);
    font-weight: 500;
 
    
    
    
   }
   .store-category:hover{
   
    cursor: pointer;
    border-bottom: 2px solid rgb(24, 23, 23);
   }
 */