.Store-filter{


  


  z-index: 1; 
  
    border:0px solid black;
 
   
 background-color: rgb(255, 255, 255);
 
    border: 0px solid #606060;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0rem;

 
 

    /* 3rem */
  width: 100%;/* 100vw */
 
 /*  font-family: 'Montserrat', sans-serif; */

/*  background-color:#d3d9de;  */ /* #8ee0df;  */


   
  }

  .Store-filter-head-div{
    position: sticky;
    top: 0;
      width: 100%;
  height: 5rem;
  display: flex;
  align-items:end;
  justify-content: center;
  font-size: 1rem;
  font-weight:600;
background-color: rgb(255, 255, 255);
font-family: 'Jost';
font-family: 'Raleway';
 font-family: 'Outfit';
   font-family: "Questrial", sans-serif; 
   

  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(225, 225, 225);

letter-spacing: .1rem;
z-index: 2;

 
  }

  .Store-filter-head-content{
    width: 90%;
      display: flex;
  align-items: center;
  justify-content: space-between;
margin-bottom: 1rem;
  border: 0px solid red;
  }

  .Store-filter-cancel{
     display: flex;
  align-items: center;
  justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    font-weight: 300;
    border: 0px solid rgb(171, 171, 171);
    border-radius: 50%;
    color:rgb(50, 50, 50);
    transition: all .3s ease;
  
 
  }
  .Store-filter-cancel:hover{
    color:rgb(20, 20, 20);
      border: 0px solid rgb(31, 31, 31);
      background-color: rgb(231, 231, 231);
      cursor: pointer;
  }
.store-categories{
  width: 100%;

flex:1;

display: flex;
flex-direction:column;
align-items:center;


}

.store-category-div{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
border: 0px solid green;
height: 4.5rem;
}
.store-category{
  width: 100%;
 height: 100%;
  display: flex;
  align-items: center;
  
  font-size: 1rem;
  font-weight: 400;

   font-family: 'Jost';
    font-family: "Questrial", sans-serif;
    font-family: 'Roboto';
  color: rgb(10,10,10);
  border-bottom: 0px solid rgb(235, 235, 235);

 padding-left:2rem; 
  letter-spacing: .05rem;
  transition: all .3s ease;

}


.store-category:hover .animated-underline::after {
  transform: scaleX(1);
}





.store-category:hover{
  color: rgb(10, 10, 10);

  cursor: pointer;
  font-size: 1.15rem;
  letter-spacing: .1rem;

}

.store-category-selected{
    width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 400;
 font-family: 'Poppins', sans-serif;
  font-family: 'Roboto';
  font-family: 'Jost';
    font-family: "Questrial", sans-serif;
    font-family: 'Roboto';
   padding-left:1.5rem; 
   color: rgb(10, 10, 10);
 
  border-bottom:2px solid rgb(0, 0, 0);

 letter-spacing: .1rem;
 pointer-events: none;

 

}


.filter-clear-div-wrapper{
  border: 0px solid red;
  height: 8rem;
  width: 100%;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-top: 1px solid rgb(220,220,220);
}

.filter-clear-div{
  position: sticky;
  bottom: 1rem;
  width: 87%;
  height: 3rem;

color:black;
background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins';

  border-radius:25px ;
  overflow: hidden;
  border: 1px solid black;

}


.filter-selected{

  color:white;
  cursor: pointer;
   border: 1px solid transparent;
}



@media(max-width:1200px){
 

}

@media(max-width:700px){

   .Store-filter-head-div{
    height: 8rem;
  }

  .Store-filter-head-div{

    font-size: 1.5rem;
  }

  .store-category{
    font-size: 1rem;
  }

  .store-category-selected{
   justify-content: start;
   padding-left: .5rem;
    
  }

}



@media(max-width:400px){

 
  
}
/*


  .store-categories{
    border:1px solid rgb(203, 42, 42);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;

    height: 3rem;
    width:100%;
    transition: translate 400ms ease-in-out;
    background-color: aqua;
    
   
 
    
  
   }
   .store-category{
    display: flex;
    align-items: center;
    flex-shrink: 0;
    max-width: fit-content;
    height: 85%;
   padding-left: .3rem;
   padding-right: .3rem;
    border-radius: 0rem;
    color:rgb(0, 0, 0);
    font-size: .9rem;
    font-weight: 500;
   
    
    
   }
   .store-category-selected{
    display: flex;
    align-items: center;
    flex-shrink: 0;
    max-width: fit-content;
    padding:0rem ;
    height: 85%;
border-bottom: 2px solid black;
   
 
    color: rgb(0, 0, 0);
    font-weight: 500;
 
    
    
    
   }
   .store-category:hover{
   
    cursor: pointer;
    border-bottom: 2px solid rgb(24, 23, 23);
   }
 */