.StorePage{
    overflow-x: hidden;
}
.Store-filter{
    margin-left: 1.5rem;
    border:0px solid black;
    display: flex;
  flex-direction: row;
  align-items: center;
  gap:1.5rem;
  font-size: 1rem;
  padding-top: .6rem;
  font-family: 'Trebuchet MS', 'Gill Sans MT', Calibri,'Gill Sans' , sans-serif;
  
    
  }
  .allBtn{
    padding:.3rem;
    border-radius: .3rem;
    background-color: rgb(132, 156, 201);
    color: black;
    
  }
  .allBtn-selected{
    padding:.3rem;
    border-radius: .3rem;
    color: white;
    background-color:rgb(62, 69, 110);
  
  }
  .Store-filter-left:hover,.Store-filter-right:hover{
    border-radius: .3rem;
    background-color:rgb(62, 69, 110);
  }
  .store-categories{
    border:0px solid rgb(203, 42, 42);
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    gap:1.5rem;
    margin-right: 1.5rem;
    width:85%;
    transition: translate 400ms ease-in-out;
    align-items: center;
  
   }
   .store-category{
    flex-shrink: 0;
    max-width: fit-content;
    padding:.3rem;
    border-radius: .3rem;
    background-color: rgb(132, 156, 201);
   }
   .store-category-selected{
    flex-shrink: 0;
    max-width: fit-content;
    padding:.3rem;
    border-radius: .3rem;
    background-color:rgb(62, 69, 110);
    color: white;
   }
   .store-category:hover{
    background-color: rgba(68, 98, 167, 0.821);
   }
  
  
  .product{
    border:0px solid black;
    padding:.3rem;
    height:300px;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: white;
    border-radius: .3rem;
    color:black; 
    box-shadow: 1px 1px 3px  rgba(69, 67, 67, 0.2);   
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
  .product:hover{
    
    box-shadow: 0px 5px 20px   rgba(0, 0, 0, 0.524);
  }
  .Store-Product-title{
    color:rgb(78, 74, 74);
    font-weight:600;
    font-size:1rem;
    line-height: 1.2rem;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  
  }
 
  
  .productList{
  margin: 1.2rem;
   /*  height: 600px; */
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns of equal width */
    grid-template-rows: repeat(2, 1fr); /* 2 rows of equal height */
    grid-gap: 1.2rem;
 
   
  }
  .productImg{
        width: 200px;
        height: 75%;
  }

  .product-price{
    font-weight: 700;
    font-size: 1.2rem;
  }

  .pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    gap:.3rem;
    padding-bottom: 1rem;
    position: static;
   
    
    
  }
  .page-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    text-align: center;
    border: 0px solid grey;
   width: 2.5rem;
   height: 2.5rem;
    cursor:pointer;
    border-radius: .3rem;
    background-color: rgb(255, 255, 255);
   
  }
  .page-nav-selected{
    text-align: center;
    border: 2px solid rgb(172, 167, 167);
    width: 2.5rem;
    height: 2.5rem;
    cursor:pointer;
    border-radius: .3rem;
    background-color:rgb(255, 255, 255); 
   
  }
  .nav-left,.nav-right{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 0px solid grey;
    width: 2.5rem;
    height: 2.5rem;
    cursor:pointer;
    border-radius: .3rem;
    background-color:rgb(62, 69, 110);
    color: white;
    font-weight: 800;
  
  }

  @media (max-width:1150px){
 
      
      .productList{
        margin: 1.2rem;
        
          display: grid;
          grid-template-columns: repeat(4, 1fr); /* 5 columns of equal width */
          grid-template-rows: repeat(3, 1fr); /* 2 rows of equal height */
          grid-gap: 1rem;
       
         
        }

        .product-price{
            font-weight: 700;
            font-size: 1rem;
          }
    
  }

  @media (max-width:920px){
    
    .Store-filter{
        margin-left: 1rem;
        gap:1rem;

      }
    
      
      .store-categories{
      
        gap:1.2rem;
        margin-right: 1rem;
      
       }
    
      
      
      .product{
   
        padding:.1rem;
        height:250px;
       
      }
      
      .productImg{
        width: 150px;
        height: 50%;
      }
      .Store-Product-title{
        
        font-size:.85rem;
        line-height: 1rem;
       
      
      }
    .productList{
        margin: 1.2rem;
         
          display: grid;
          grid-template-columns: repeat(3, 1fr); /* 5 columns of equal width */
          grid-template-rows: repeat(4, 1fr); /* 2 rows of equal height */
          grid-gap: 1rem;
       
         
        }

       
          .page-nav{
            
            width: 2.4rem;
            height: 2rem;
            
           
          }
          .page-nav-selected{
           
            width: 2.4rem;
            height: 2rem;
            
           
          }
          .nav-left,.nav-right{
           
            width: 2.4rem;
            height: 2rem;
           
          
          }
  }

  @media (max-width:580px){
    .productList{
        margin: 1.2rem;
         
          display: grid;
          grid-template-columns: repeat(2, 1fr); /* 5 columns of equal width */
          grid-template-rows: repeat(5, 1fr); /* 2 rows of equal height */
          grid-gap: 1rem;
       
         
        }
        .page-nav{
            
            width: 1.6rem;
            height: 1.6rem;
            font-size: .8rem;
           
          }
          .page-nav-selected{
           
            width: 1.6rem;
            height: 1.6rem;
            
           
          }
          .nav-left,.nav-right{
           
            width: 1.6rem;
            height: 1.6rem;
          
          }
  }

  
  @media (max-width:400px){
    .productList{
        margin: 1.2rem;
         
          display: grid;
          grid-template-columns: repeat(2, 1fr); /* 5 columns of equal width */
          grid-template-rows: repeat(5, 1fr); /* 2 rows of equal height */
          grid-gap: 1rem;
       
         
        }
        .page-nav{
            
            width: 1.4rem;
            height: 1.4rem;
            font-size: .6rem;
           
          }
          .page-nav-selected{
           
            width: 1.4rem;
            height: 1.4rem;
            
           
          }
     
          .nav-left,.nav-right{
           
            width: 1.2rem;
            height: 1.2rem;
           
           
          
          }
          .product{
            height: 200px;
          }
          .Store-filter{
            gap: 3px;
            font-size: .8rem;
          }

          .Store-Product-title{
            font-size: .8rem;
          }
          .price-title{
            font-size: .8rem;
          }
          .product-price{
            font-size: .9rem;
          }
  }