@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

.Store-Page{

 display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgb(255, 255, 255);
  user-select: none;
  min-height: 100vh;
  
  
    

}
.storePage-overlay{
  
  height:100%;
  width: 100%;
  position: absolute;
  top:0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.300);
  z-index: 10;
}





.filter-Btn-Ph{
  display: none;
}









.remove-category-div:hover{
  cursor: pointer;
}









.store-head-div{
  
  height: 80vh;
  color:black;
    border: 0px solid red;
    margin-top: 5rem;
    width: 100%;
    display: flex;
    align-items: end;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)), url('/store-header-img.webp');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    gap: 1rem;
}



.store-head{
  font-size: 4rem;
/*   margin-bottom: 5rem; */
  margin-left: 5rem;
  font-family: "Prosto One", sans-serif;
  font-family: 'Raleway';
  font-weight: 500;
  color:white;
  border: 0px solid red;
  /* font-family: "Bodoni Moda SC", serif;  */
  
}

.store-head-description{
  border: 0px solid blue;
  color:white;
  width: 50%;
   margin-left: 6rem;
   margin-bottom: 4rem;
   font-weight: 300;
   font-size: 1rem;
   font-family: 'Inter';
   font-family: 'Roboto';
   font-family: 'Outfit';
   
  
   
   line-height: 1.3rem;
}



.store-layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
    width: 100%;
 position: relative;
  gap: 0rem;
  margin-top: 1rem;
 
}




.store-sidebar {  /* Make this slideable */
 
    position: fixed;
  top: 0rem; 
  right: 0;
  align-self: flex-start;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
  width: 30%;
  translate: 100%;  
  background-color: rgb(255, 255, 255); /* #f5f5f5; */
  /* border-right: 1px solid #ddd; */
  border: 0px solid black;
  margin-top: 0rem;
  z-index: 999;
  

  

}

.store-content {
  flex: 1;
   padding: 3.5rem;
   padding-top: 1rem;
   
   min-height: 100vh;
   background-color: rgb(255, 255, 255);
   

}


.Loading-Overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* match product grid */
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.8); /* semi-transparent white */
  z-index: 10;
  pointer-events: none;
}



.store-page-heading-wrapper{

  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid red;

}

.store-page-heading{

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 5rem;
  gap:1rem;
  color: rgb(20,20,20);
  z-index: 1;
  font-family: "Questrial", sans-serif;
 

    width: 90%;
 font-size: 1.5rem;
 letter-spacing: .05rem;
 border: 0px solid green;
   border-bottom: 1px solid rgb(220, 220, 220);


}


.store-all-link{
 white-space: nowrap;
 color:rgb(150,150,150);
 font-size: .8rem;
 font-weight:600;
font-family: 'Raleway';
font-family:'Lato';
 font-family: "Questrial", sans-serif; 
 font-family: 'Outfit';
 font-family: 'Roboto';
      font-family: "Questrial", sans-serif;
 letter-spacing: 1px;
 text-transform: uppercase;


}

.store-all-link:hover{
cursor: pointer;
  color: rgb(20,20,20);
}

.store-category-head{
    font-family: 'Raleway';
     font-family: 'Jost';
     font-family: 'Roboto';
     font-family: Outfit;
/*   font-family: 'Outfit'; */
/*    font-family: "Questrial", sans-serif; */
 text-transform: capitalize;
   font-size: 2rem;
 font-weight:400;
  letter-spacing: 1px;
  
}



.productList-wrapper {
  position: relative;
  border: 0px solid red;
}




.productList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem 0rem; 
  width: fit-content;
  margin: 0 auto;
    justify-items: center;
     margin-top: 0rem;
     /* centers items inside each grid cell */
}
  
  .store-product {

    padding: 0rem;
    width:90%;
    justify-content: center;
    align-content: center;
    position: relative;
    color: black;
    overflow: hidden;
    border: 0px solid black;
    border: 0px solid rgb(225, 225, 225);
    
  }

  .Store-Page .productcard-links-div{
    width: 100%;
    height: 3rem;
    border: 0px solid black;
 display: none;
 justify-content: space-between;
 align-items: center;
  }

 .Store-Page  #pd-link{
  width: 48%;
  height: 100%;
  border: 1px solid black;
   display: flex;
 justify-content: center;
 align-items: center;
 font-family: 'Inter', sans-serif;
 }


  


 
.Store-Page .productCard-detail{

width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: self-start;
padding: .5rem;
}

.Store-Page .Store-Product-title-div{
  width: 100%;
 
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

padding: 0.3rem 0;
 
}

  .Store-Page .Store-Product-title{
  
          
          font-family: 'Roboto Condensed';
          font-family: 'Jost';
    font-weight: 400;
    color: #5b5b5b; 
    font-size:1.1rem;

    margin-left: 0;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    

  
  }
  .productImg-wrapper {
  width: 100%;



  overflow: hidden;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
      border: 1px solid transparent ;
        transition: all 0.3s ease;
        
}

 .store-product:hover .productImg-wrapper {

 border: 1px solid rgb(190, 190, 190);

 }

 .Store-Page .productImg-container{
 position: relative;
border: 0px solid blue;
 

 }

 .image-placeholder {
  width: 100%;
  height: 300px;
  background-color: #e0e0e0;
  
  animation: pulse 1.5s infinite;
  

}

@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.7; }
  100% { opacity: 1; }
}


  
  
  .Store-Page .productImg{
        width: 100%;
    

background-color: rgb(245, 245, 245);;
        border:0px solid rgb(220, 220, 220);
         transition: all 0.3s ease;
       
        
  }

   .Store-Page .store-product:hover .productImg{
    background-color: white;
    
  } 

 .Store-Page .bookmark-logo{
   position: absolute;
    top: -1.5rem;
    right:.5rem;
    color:rgb(32, 32, 32);
    z-index: 1;
   
  
  }

  .store-product:hover .bookmark-logo{
   transform: translateY(1.5rem);
  transition: transform 0.5s ease;
  }
  
  .Store-Page .heart-div{
    position: absolute;
    width: 2rem;
    height:2rem;
      top: .5rem;
    right:.5rem;
      z-index: 1;
      background-color: rgb(255, 255, 255);
      border-radius:50% ;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0px solid rgb(201, 201, 201);

  }

   .Store-Page .heart-div:hover{

   }

  

     
.bookmark-fill{

 font-size:1.3rem;
 color:rgb(0, 220, 220);
}

.bookmark-outline{
   font-size:1.3rem;
 color:rgb(190, 190, 190);
}

.bookmark-outline:hover{

 color:rgb(50, 50, 50);
}

.heart-fill{
  font-size:1.2rem ;
 color:rgb(34, 34, 34);
}

  .heart-outline{
  font-size:1.2rem ;
   color:rgb(190, 190, 190);
}

.Store-Page .store-product:hover .heart-outline{
  color:rgb(150, 150, 150);
}

  .heart-outline:hover{

 color:rgb(50, 50, 50);
}


  .Store-Page .discount-tag{
    display: none;
  }

   .Store-Page .card-tag{
    display: none;
   }

  .Store-Page  .discount-product-price{
    display: none;
  }

  .Store-Page .price-div{
    display: flex;
width: 100%;
padding: 0.2rem 0;
justify-content: space-between;
align-items: center;
    color: #3a3a3a;
    font-family: 'Inter';
    border: 0px solid blue;
 
  }


  .Store-Page .product-price{
    
    font-weight: 400;
    font-size: 1.05rem;
 


  }

    .Store-Page .productCard-rating-div{
  display: flex;
  align-items: center;
  gap:.2rem;
   font-size: 1rem;
   border: 0px solid red;
   
  }


  .productCard-star-wrapper {
  position: relative;
  display: inline-flex;
  cursor: pointer;
width: 1.4rem;
height: 1.4rem;
  
  border: 0px solid purple;
}

/* base */
.productCard-star {
  font-size: 1.3rem;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s ease;
  margin-top: -.05rem;
  
}

/* default state */
.productCard-star.filled {
  opacity: 0;
}

.productCard-star.empty {
  opacity: 1;
}

/* hover state */
.store-product :hover .productCard-star.filled {
  opacity: 1;
}

.store-product :hover .productCard-star.empty {
  opacity: 0;
}





 

  .LoadMore-button-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
        margin-top: 5rem;
        height: 3rem;
        
  }


  .LoadMore-button{

    width: 20rem;
    height: 3rem;
    border: 0px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.1rem;
    color:rgb(0, 0, 0);
   

    font-family:'Poppins';
    font-family: 'Raleway';
     font-family: "Questrial", sans-serif;
   
    transition: all .3s ease;
        border-radius: 25px;
  overflow: hidden;
    
  }
  .LoadMore-button:hover{
   /*  background-color: rgb(25, 25, 25); */
   color:black;
    cursor: pointer;
    background-color: rgb(30,30,30);
    color:white;
  }

  .Store-Page .Loading-Product-div{
    width:85%;
        margin: 4rem 1rem 1rem 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2rem;

    border: 0px solid red;
    
  }

   .Store-Page .Loading-Product{
 width: 100%;
 height: 300px;
 border-radius: .5rem;
 background-color: #e0e0e0;
   }


  @media(max-width:1200px){

     .store-page-heading-div{
  
     }

        .store-content {
  flex: 1;
   padding: 2rem;
   padding-top: 1rem;

}

.store-sidebar {
  width: 30%;
}

  .LoadMore-button{
    width: 40%;
  }
  }


   @media(max-width:1000px){

    .store-page-header{

    }


    .store-page-heading{


    }



    .store-sidebar {
  width: 40%;
}
    .productList {

  grid-template-columns: repeat(3, 1fr);
  gap: 3rem 0rem; /* vertical horizontal */
  
}

.Store-Page .productCard-detail{
  padding: .3rem;
}

  .Store-Page .Store-Product-title{
    font-size: 1rem;
  }
   .Store-Page .product-price{
    font-size: 1rem;
   }


   }


 




     @media(max-width:750px){

            .sort-div-wrapper{
justify-content: start;
      width: auto;
       overflow-x: scroll;
        gap:.5rem;
        scrollbar-width: none;
    }

    
    .current-sort-container{
      justify-content:space-between;
    }

    .sort-div-head{
       position: static; 
    }
    

 

    #sort-div,#sort-div-selected{
      width: 7rem;
      font-size: .8rem;
    }
   }

      @media(max-width:700px){





.sort-div-head{
  font-size: .85rem;
}

.current-sort-container-div{
  align-items: center;
}




  
    .productList {

  grid-template-columns: repeat(2, 1fr);
  gap: 3rem 0rem; /* vertical horizontal */
  
}


    .store-sidebar {
  width: 60%;
}

 .Store-Page .Store-Product-title{
  font-size: .9rem;
 }

    .Store-Page .product-price ,   .Store-Page .productCard-rating-div{
    font-size: .9rem;
   }

   .productCard-star{
    width: 1.2rem;
   }

    .LoadMore-button{
    width: 50%;
        height: 3.5rem;
  }



   }

   @media(max-width:600px){

      .sort-div-wrapper{
    
 overflow-x: scroll;

}


   }


@media(max-width:500px){


    .sticky-sort-container{
      top:4rem;
      transition: all .3s ease;

  }






  .store-layout{
  margin-top: 8.5rem;
  }

  .filter-Btn-Ph{
  display: flex;
  position: fixed;
  top:80vh;
  right: 1rem;
  z-index: 999;

  height: 3rem;
  width: 3rem;
  background-color: rgb(21, 21, 21);
  color:white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

}

@media(max-width:450px){



      .store-sidebar {
  width: 80%;
}
    .store-content {
  flex: 1;
   padding: .5rem;
   

}

  .productList {


  gap: 1rem 0rem; /* vertical horizontal */
  
}
}


@media(max-width:400px){






  .sticky-sort-container{

    height: 3.5rem;
      
  }

  


.current-sort-div{
  
  font-size: .95rem;
}

.category-icon{
 width: 1.2rem;
 height: 1.2rem;
}

.category-name-div{
  gap: .2rem;
}





      .store-sidebar {
  width: 90%;
}



  .productList {


  gap: 1rem 0rem;

  /* vertical horizontal */
  
}

  .productCard-star-wrapper{
    width: 1.2rem;
height: 1.2rem;
  }
  .productCard-star{
    width: 1.15rem;
    margin-top: 0rem;
   }

    .LoadMore-button-div{
       margin-top: 3rem;
    }

    .LoadMore-button{
    width: 80%;
        height: 3rem;
         font-size: 1rem;
  }
}
