@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

.Store-Page{

 display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 100%;
  background-color: rgb(255, 255, 255);
  user-select: none;
  min-height: 100vh;
  border: 1px solid blue;
  position: relative; /*  */
  margin-top: 6rem;

}

.storePage-overlay{
  
  height:100%;
  width: 100%;
  position: absolute;
  top:0;
  left: 0;

   background: linear-gradient(to right , rgba(0, 0, 0, 0.1) 40%,transparent); 
  z-index: 99;

  /*    background-color: rgba(59, 59, 59, 0.1);  */
}


.store-content-wrapper{
  background-color: white;

  width: 100%;
  z-index: 9;

}





.filter-Btn-Ph{
  display: none;
}


.store-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  
    width: 100%;
 position: relative;
  gap: 0rem;
  
 
}

.store-page-heading-wrapper{

  width: 100%;
margin: 2rem 0rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0px solid red;
  background-color: white;
   z-index: 1;


}



.store-page-main-head{
  width: 90%;
     
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0rem;
    font-family: "Questrial", sans-serif;
    font-family: sans-serif;
    text-transform: capitalize;
    font-size: 2.5rem;
    font-weight: 400;

}



.store-page-heading{

  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:space-between;
  height: 3rem;
  gap:1rem;
  color: rgb(20,20,20);
  font-family: 'Figtree';
    width: 100%;
 font-size: 1.5rem;


   border-bottom: 1px solid rgb(220, 220, 220);


}


.store-all-link{
 white-space: nowrap;
 color:rgb(100, 100, 100);
 font-size: .9rem;
 font-weight:600;
 text-transform: uppercase;

}


.product-count-div{
  color:black;
   
    border: 0px solid red;
    font-size: 1rem;
}

.product-count-div span{
  font-weight: 500;
}



.store-sidebar {  /* Make this slideable */
 
    position: fixed;
  top: 0rem; 
  right: 0;
  align-self: flex-start;
  height: 100vh;
  scrollbar-width: none;
  width: 35%;
  
    background: rgba(255, 255, 255, 0.700);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid #eee;
 transform: translateX(100%);
  margin-top: 0rem;
  z-index:999;
/*   box-shadow: -2px 0px 5px rgb(200, 200, 200); */
box-shadow: 0 10px 20px rgba(50,50,50, 0.2);
/* transition: all .8s ease; */


  

  

}

.store-content {
  flex: 1;
  
   width: 90%;
   min-height: 100vh;
   background-color: rgb(255, 255, 255);
   display: flex;
   justify-content: space-between;
   border: 0px solid yellow;
  
   

}


.Loading-Overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* match product grid */
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.8); /* semi-transparent white */

  pointer-events: none;
}






.productList-wrapper {
  position: relative;
  border: 0px solid red;
  width: 75%;
  display: flex;
  flex-direction: column;
 
  
}

.side-filter{
  border: 1px solid rgb(230,230,230);
  width: 22%;
  border-radius: 10px;
}


.productList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem 1rem; 
  width: 100%;
  margin: 0 auto;
    justify-items: center;
    
     margin-top: 0rem;
     border: 0px solid blue;
     
   
}
  





 

  .LoadMore-button-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
        margin-top: 5rem;
        height: 3rem;
        
  }


  .LoadMore-button{

    width: 15rem;
    height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 1rem;
   
    font-family: 'Figtree';

    transition: all .3s ease;
        border-radius: 100px;
  overflow: hidden;
    
  }


  .Store-Page .Loading-Product-div{
    width:85%;
        margin: 4rem 1rem 1rem 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2rem;

    border: 0px solid red;
    
  }

   .Store-Page .Loading-Product{
 width: 100%;
 height: 300px;
 border-radius: .5rem;
 background-color: #e0e0e0;
   }

   .store-order{
    color:rgb(150, 150, 150);

    pointer-events: none;
   }

   .order-active{
    color:rgb(45, 45, 45);
    pointer-events:auto;
   }


  @media(max-width:1200px){

     .store-page-heading-div{
  
     }

        .store-content {
  flex: 1;
   padding: 2rem;
   padding-top: 1rem;

}

.store-sidebar {
  width: 30%;
}

  .LoadMore-button{
    width: 40%;
  }
  }


   @media(max-width:1000px){

    .store-page-header{

    }


    .store-page-heading{


    }



    .store-sidebar {
  width: 40%;
}
    .productList {

  grid-template-columns: repeat(3, 1fr);
  gap: 3rem 0rem; /* vertical horizontal */
  
}

.Store-Page .productCard-detail{
  padding: .3rem;
}

  .Store-Page .Store-Product-title{
    font-size: 1rem;
  }
   .Store-Page .product-price{
    font-size: 1rem;
   }


   }


 




     @media(max-width:750px){

            .sort-div-wrapper{
justify-content: start;
      width: auto;
       overflow-x: scroll;
        gap:.5rem;
        scrollbar-width: none;
    }

    
    .current-sort-container{
      justify-content:space-between;
    }

    .sort-div-head{
       position: static; 
    }
    

 

    #sort-div,#sort-div-selected{
      width: 7rem;
      font-size: .8rem;
    }
   }

      @media(max-width:700px){





.sort-div-head{
  font-size: .85rem;
}

.current-sort-container-div{
  align-items: center;
}




  
    .productList {

  grid-template-columns: repeat(2, 1fr);
  gap: 3rem 0rem; /* vertical horizontal */
  
}


    .store-sidebar {
  width: 60%;
}

 .Store-Page .Store-Product-title{
  font-size: .9rem;
 }

    .Store-Page .product-price ,   .Store-Page .productCard-rating-div{
    font-size: .9rem;
   }

   .productCard-star{
    width: 1.2rem;
   }

    .LoadMore-button{
    width: 50%;
        height: 3.5rem;
  }



   }

   @media(max-width:600px){

      .sort-div-wrapper{
    
 overflow-x: scroll;

}


   }


@media(max-width:500px){


    .sticky-sort-container{
      top:4rem;
      transition: all .3s ease;

  }






  .store-layout{
  margin-top: 8.5rem;
  }

  .filter-Btn-Ph{
  display: flex;
  position: fixed;
  top:80vh;
  right: 1rem;
  z-index: 999;

  height: 3rem;
  width: 3rem;
  background-color: rgb(21, 21, 21);
  color:white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

}

@media(max-width:450px){



      .store-sidebar {
  width: 80%;
}
    .store-content {
  flex: 1;
   padding: .5rem;
   

}

  .productList {


  gap: 1rem 0rem; /* vertical horizontal */
  
}
}


@media(max-width:400px){






  .sticky-sort-container{

    height: 3.5rem;
      
  }

  


.current-sort-div{
  
  font-size: .95rem;
}

.category-icon{
 width: 1.2rem;
 height: 1.2rem;
}

.category-name-div{
  gap: .2rem;
}





      .store-sidebar {
  width: 90%;
}



  .productList {


  gap: 1rem 0rem;

  /* vertical horizontal */
  
}

  .productCard-star-wrapper{
    width: 1.2rem;
height: 1.2rem;
  }
  .productCard-star{
    width: 1.15rem;
    margin-top: 0rem;
   }

    .LoadMore-button-div{
       margin-top: 3rem;
    }

    .LoadMore-button{
    width: 80%;
        height: 3rem;
         font-size: 1rem;
  }
}
