@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

.Store-Page{

 display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgb(255, 255, 255);
  user-select: none;
  
  
    

}
.storePage-overlay{
  
  height:100%;
  width: 100%;
  position: absolute;
  top:0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.300);
  z-index: 10;
}

.storePage-Offer-div{
width: 100%;
height: 12rem;
display: flex;
flex-direction: column;
justify-content: end;
align-items: center;
color:white;
background-color: rgb(90, 220, 220);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-family: 'Roboto';
line-height: 3rem;
}

.store-page-header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  z-index: 2;
  height: 14rem;
 background-color: white;
 border: 0px solid red;
 margin-top: 0rem;
 position: sticky;
 top:-7rem;
 border-bottom: 1px solid rgb(225,225,225);


}

.store-page-heading-div{

  width: 100%; 
height: 7rem;
position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
   background-color: rgb(255, 255, 255); /* black */
   z-index: 1;
   border-bottom: 0px solid rgb(220, 220, 220) ;


}


.store-filter-button-div-container{
height: 60%;
 margin-right: 2rem;
   display: flex;
  align-items: center;
  justify-content: space-around;
  gap:1rem;
border: 0px solid rgb(230,230,230);
background-color: rgb(30, 30, 30);
color:white;
min-width: 8%;
font-size: 1rem;
  padding:.5rem;
  font-family: 'Poppins';
  flex: 0 0 auto; /* don't shrink, don't grow automatically */
  width: fit-content; /* expand based on content */
  white-space: nowrap; /* prevent text from wrapping */

}

.category-name-divPh{
display: none;
}

.store-filter-button-div-container:hover{
 cursor: pointer;
}

.store-filter-button-div{
  border: 0px solid rgb(255, 255, 255);

  border-radius: 50%;
  width: 2.8rem;
   padding:.5rem;
  display: flex;
  align-items: center;
  justify-content: center;


  color:white;
  transition: all .2s ease;
  cursor: pointer;

}

.store-filter-button-div:hover{

  color:rgb(50, 225, 225);
 
}

.store-filter-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  
}

.category-name-div{
  display: flex;
  align-items: center;
  gap: .5rem;
}

.remove-category{
width: 1.2rem;
height: 1.2rem;

}


.allProductsBtn-div-container{
height: 100%;
display: flex;
align-items: center;
justify-content: center;
margin-left: 1rem;
}

.allProductsBtn-div{

display: flex;
align-items: center;
justify-content: center;
height: 3rem;
width: 3rem;
 color:rgb(50, 50, 50);
z-index: 999;


border-radius: 50%;
  transition: all .2s ease;
    cursor: pointer;

}

.allProductsBtn-div:hover{
  background-color: rgb(230, 230, 230);
  color:rgb(0, 0, 0);
}

.allProductsBtn{
width: 2rem;
height: 2rem;

}

.store-page-heading{
  height: 100%;
  display: flex;
  align-items: center;
  margin-left:5rem ;
  padding:1rem;
 width: 85%;
  color: rgb(50,50,50);
  padding: 1rem 0;
  z-index: 1;

   font-family: "Questrial", sans-serif;
 font-size: 2rem;

}

.storePage-tagline{
 position: absolute;
 right: 4rem;
  font-size: 2.5rem;
  color:rgb(149, 149, 149);
  font-family: 'Roboto';
  font-weight: 400;
 
 

}

.store-layout {
  display: flex;
  align-items: flex-start;
    width: 100%;
 
  gap: 2rem;
}

.filter-div{
  
    position: sticky;
  top: 0rem;
  z-index: 2;
  width:100%;
  height: 3rem;
  border-bottom:1px solid rgb(220, 220, 220) ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family:'Roboto';
  background-color: #ffffff;
}

.filter-div #button{

  height: 60%;
  border: 1px solid rgb(220, 220, 220);
  display: flex;
  align-items: center;
  justify-content: center;
  color:rgb(0, 0, 0);
  font-weight: 600;

}




.store-sidebar {  /* Make this slideable */
 
    position: fixed;
  top: 0rem; 
  right: 0;
  align-self: flex-start;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
  width: 30%;
  translate: 100%;  
  background-color: rgb(255, 255, 255); /* #f5f5f5; */
  /* border-right: 1px solid #ddd; */
  border: 0px solid black;
  margin-top: 0rem;
  z-index: 999;
  

  

}

.store-content {
  flex: 1;
   padding: 4rem;

}


.Loading-Overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* match product grid */
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.8); /* semi-transparent white */
  z-index: 10;
  pointer-events: none;
}


.productList-wrapper {
  position: relative;
}


.productList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem 0rem; 
  width: fit-content;
  margin: 0 auto;
    justify-items: center;
     /* centers items inside each grid cell */
}
  
  .store-product {

    padding: 0rem;
width:90%;



    justify-content: center;
    align-content: center;
    
    
    position: relative;
    color: black;
    overflow: hidden;
    border: 0px solid black;

      border: 0px solid rgb(225, 225, 225);
    
  }

  .Store-Page .productcard-links-div{
    width: 100%;
    height: 3rem;
    border: 0px solid black;
 display: none;
 justify-content: space-between;
 align-items: center;
  }

 .Store-Page  #pd-link{
  width: 48%;
  height: 100%;
  border: 1px solid black;
   display: flex;
 justify-content: center;
 align-items: center;
 font-family: 'Inter', sans-serif;
 }


  


 
.Store-Page .productCard-detail{

width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: self-start;
padding: .5rem;
}

.Store-Page .Store-Product-title-div{
  width: 100%;
 
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

padding: 0.3rem 0;
 
}

  .Store-Page .Store-Product-title{
  
          
          font-family: 'Roboto Condensed';
    font-weight: 400;
    color: #5b5b5b; 
    font-size:1.1rem;

    margin-left: 0;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    

  
  }
  .productImg-wrapper {
  width: 100%;



  overflow: hidden;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
      border: 1px solid transparent ;
        transition: all 0.3s ease;
        
}

 .store-product:hover .productImg-wrapper {

 border: 1px solid rgb(190, 190, 190);

 }

 .Store-Page .productImg-container{
 position: relative;
border: 0px solid blue;
 

 }

 .image-placeholder {
  width: 100%;
  height: 300px;
  background-color: #e0e0e0;
  
  animation: pulse 1.5s infinite;
  

}

@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.7; }
  100% { opacity: 1; }
}


  
  
  .Store-Page .productImg{
        width: 100%;
    

background-color: rgb(245, 245, 245);;
        border:0px solid rgb(220, 220, 220);
         transition: all 0.3s ease;
       
        
  }

   .Store-Page .store-product:hover .productImg{
    background-color: white;
    
  } 

 .Store-Page .bookmark-logo{
   position: absolute;
    top: -1.5rem;
    right:.5rem;
    color:rgb(32, 32, 32);
    z-index: 1;
   
  
  }

  .store-product:hover .bookmark-logo{
   transform: translateY(1.5rem);
  transition: transform 0.5s ease;
  }
  
  .Store-Page .heart-div{
    position: absolute;
    width: 2rem;
    height:2rem;
      top: .5rem;
    right:.5rem;
      z-index: 1;
      background-color: rgb(255, 255, 255);
      border-radius:50% ;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0px solid rgb(201, 201, 201);

  }

   .Store-Page .heart-div:hover{

   }

  

     
.bookmark-fill{

 font-size:1.3rem;
 color:rgb(0, 220, 220);
}

.bookmark-outline{
   font-size:1.3rem;
 color:rgb(190, 190, 190);
}

.bookmark-outline:hover{

 color:rgb(50, 50, 50);
}

.heart-fill{
  font-size:1.2rem ;
 color:rgb(34, 34, 34);
}

  .heart-outline{
  font-size:1.2rem ;
   color:rgb(190, 190, 190);
}

.Store-Page .store-product:hover .heart-outline{
  color:rgb(150, 150, 150);
}

  .heart-outline:hover{

 color:rgb(50, 50, 50);
}


  .Store-Page .discount-tag{
    display: none;
  }

   .Store-Page .card-tag{
    display: none;
   }

  .Store-Page  .discount-product-price{
    display: none;
  }

  .Store-Page .price-div{
    display: flex;
width: 100%;
padding: 0.2rem 0;
 
 
  }


  .Store-Page .product-price{
    
    font-weight: 400;
    font-size: 1.05rem;
    color: #3a3a3a;
    font-family: 'Inter';

 
    
  }

  .LoadMore-button-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
        margin-top: 5rem;
  }


  .LoadMore-button{

    width: 30%;
    height: 4rem;
    border: 1px solid rgb(20, 20, 20);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.2rem;
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
  border-radius: .1rem;
    font-family:'Poppins';
    transition: all .3s ease;
    
  }
  .LoadMore-button:hover{
    background-color: rgb(25, 25, 25);
    color:rgb(255, 255, 255);
    cursor: pointer;
  }

  .Store-Page .Loading-Product-div{
    width:85%;
        margin: 4rem 1rem 1rem 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2rem;

    border: 0px solid red;
    
  }

   .Store-Page .Loading-Product{
 width: 100%;
 height: 300px;
 border-radius: .5rem;
 background-color: #e0e0e0;
   }


  @media(max-width:1200px){


        .store-content {
  flex: 1;
   padding: 2rem;

}

.store-sidebar {
  width: 30%;
}

  .LoadMore-button{
    width: 40%;
  }
  }


   @media(max-width:1000px){

    .store-page-header{
       margin-top: 3.5rem;
    }


    .store-page-heading{
font-size: 2rem;
    margin-left:1rem ;
    }

    .store-sidebar {
  width: 40%;
}
    .productList {

  grid-template-columns: repeat(3, 1fr);
  gap: 3rem 0rem; /* vertical horizontal */
  
}

.Store-Page .productCard-detail{
  padding: .3rem;
}

  .Store-Page .Store-Product-title{
    font-size: 1rem;
  }
   .Store-Page .product-price{
    font-size: 1rem;
   }


   }

      @media(max-width:700px){


      
    .store-page-header{
       margin-top: 3rem;
       top:2.5rem
    }

    .store-page-heading-div{
  height: 6rem;
    }

    .store-page-heading{
       font-size: 1.5rem;
    }
    .productList {

  grid-template-columns: repeat(2, 1fr);
  gap: 3rem 0rem; /* vertical horizontal */
  
}


    .store-sidebar {
  width: 60%;
}
 .Store-Page .Store-Product-title{
  font-size: .9rem;
 }
    .Store-Page .product-price{
    font-size: .9rem;
   }

    .LoadMore-button{
    width: 50%;
        height: 3.5rem;
  }

  .store-filter-button-div-container{
height: 50%;
font-size: .85rem;
font-weight: 300;
  gap:.5rem;
  padding: .3rem;
   margin-right: 1rem;
  }

  .store-filter-button-div{
      width: 2.5rem;
  }

  .remove-category{
width: 1rem;
height: 1rem;

}



   }
@media(max-width:450px){

      .store-sidebar {
  width: 80%;
}
    .store-content {
  flex: 1;
   padding: 1rem;

}

  .productList {


  gap: 2rem 0rem; /* vertical horizontal */
  
}
}


@media(max-width:400px){
  .store-page-header{
       margin-top: 4rem;
       top:.5rem
    }

.store-page-heading-div{
  height: 4rem;
  justify-content: center;
  
}

.store-page-headingPh{

  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
   font-family: 'Poppins';
  font-weight: 400;
 color: rgb(60,60,60);
  margin-left:1.5rem ;
  padding:0rem;
 width: 85%;


}


      .store-sidebar {
  width: 90%;
}

   .store-filter-button-div-container{
height: 60%;
font-size: .8rem;
font-weight: 300;
flex-direction: row-reverse;
justify-content: space-between;
  padding: 0rem;
   margin-right: 0rem;
   width: 90%;
   background-color: white;



  }

  .store-filter-button-div{
      width: 1.8rem;
      padding: .2rem;
      color:rgb(25, 25, 25);
  }

  .remove-category{
width: .9rem;
height: .9rem;

}

.category-name-div{
 display: flex;
padding: .5rem;
  background-color: rgb(25, 25, 25);
  height: 100%;
  gap:.2rem


}

.category-name-divPh{
  display: none;
  align-items: center;
  gap: .2rem;
  padding: .5rem;
  background-color: rgb(30, 30, 30);
  width: fit-content;
  color:white;
  font-family: 'Poppins';
  font-size: .8rem;
  margin-left: 0rem;
  margin-bottom: .5rem;
  
}
  .productList {


  gap: 1rem 0rem; /* vertical horizontal */
  
}

    .LoadMore-button-div{
       margin-top: 3rem;
    }

    .LoadMore-button{
    width: 80%;
        height: 3rem;
         font-size: 1rem;
  }
}
