

  .discount-home-Products-div{
        width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  
  }

  .discount-products-frame{
    position: absolute;
    border: 2px solid rgb(186, 186, 186);
    height: 95%;
    width: 92%;
    z-index: 0;
    bottom: 0;
   
/*   background:linear-gradient(to bottom, #eeeeee 10%, rgb(255, 255, 255));  */
  }

   .discount-home-Products-div .card-tag{
    display: none;
    
   }

   .discount-home-Products-div .product-price{
    font-size: .9rem;
    text-decoration: line-through;
      text-decoration-thickness: .1rem;
        color: rgb(30,30,30);


   }

   .discount-home-Products-div .price-div{
    display: flex;
  justify-content:flex-start;
    align-items: center;
    width:100%;
    gap: .8rem;
    color: rgb(30,30,30);
    padding:.2rem;
    
      
  

    
   }


   .discount-product-price{
     
    font-size: 1rem;
 font-weight: 400;
     color:rgb(30,30,30);
        /* font-family:'Times New Roman', Times, serif; */
   }


   .home-Products-div  .discount-product-price{
    display: none;
   }

     .home-Products-div .discount-tag{
    display: none;
  }


  .discount-home-Products-div .discount-tag{
      display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
      top: 1rem;
    left:0rem;
    height: 1.5rem;
    width: 30%;
    border: 0px solid grey;
    border-left: 0px;
    background-color: rgb(49, 49, 49);
    color:white;
    font-size: .8rem;
    box-shadow: 3px 3px 5px rgb(161, 161, 161);
      z-index: 1;
   
  }


   .discount-home-Products-heading-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88%;
    font-size: 3rem;
    height: 70%;
    border-bottom: 0px solid rgb(22, 22, 22);
    color:rgb(22, 22, 22);


    font-family: 'Montserrat', sans-serif; 
   
    font-weight: 400;
  }
