

  .discount-home-Products-div{
        width: 100%;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow: hidden;
    background-color: white;
   

  }

  .Home .discount-home-Products-div .productCard-detail{
display: flex;
flex-direction: column;
align-items: start;
justify-content: flex-start;
gap:.5rem;
width: 100%;

  }

 .discount-home-Products-div .Store-Product-title{

  }




   .discount-home-Products-div .card-tag, .new-tag{
    display: none;
    
   }

  .Home .discount-home-Products-div .product-price{
    font-size: .9rem;
    text-decoration: line-through;
      text-decoration-thickness: .1rem;
      font-weight: 350;
      color:brown;




   }

   .Home .discount-home-Products-div .price-div{
    display: flex;
  justify-content:space-between;
    align-items: center;
    width:100%;
    gap: .8rem;
   color: rgb(50, 50, 50); 
 
   
    
      
  

    
   }


   .discount-product-price{
     
    font-size: 1.1rem;
 font-weight: 350;
     color: rgb(50, 50, 50); 
 
   }


   .home-Products-div  .discount-product-price{
    display: none;
   }

     .home-Products-div .discount-tag{
    display: none;
  }


  .discount-home-Products-div .discount-tag{
      display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
      top: 1rem;
    left:0rem;
    height: 1.5rem;
    width: 30%;
    border: 0px solid grey;
    border-left: 0px;
    
     background-color: rgb(220, 55, 55);
    color:white;
    font-size: .8rem;
       box-shadow: 2px 2px 5px rgb(100, 100, 100);
      z-index: 1;
   
  }

@media(max-width:950px){
    .discount-product-price{
     
    font-size: 1rem;

   }
}

