

  .discount-home-Products-div{
        width: 100%;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow: hidden;
    background-color: white;
   
   
     
   
   
  
  }




   .discount-home-Products-div .card-tag{
    display: none;
    
   }

   .discount-home-Products-div .product-price{
    font-size: .9rem;
    text-decoration: line-through;
      text-decoration-thickness: .1rem;
      font-weight: 350;
    


   }

   .discount-home-Products-div .price-div{
    display: flex;
  justify-content:flex-start;
    align-items: center;
    width:100%;
    gap: .8rem;
   color: rgb(50, 50, 50); 
   
    
      
  

    
   }


   .discount-product-price{
     
    font-size: 1.1rem;
 font-weight: 350;
     color: rgb(50, 50, 50); 
 
   }


   .home-Products-div  .discount-product-price{
    display: none;
   }

     .home-Products-div .discount-tag{
    display: none;
  }


  .discount-home-Products-div .discount-tag{
      display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
      top: 1rem;
    left:0rem;
    height: 1.5rem;
    width: 30%;
    border: 0px solid grey;
    border-left: 0px;
    background-color: rgb(49, 49, 49);
    color:white;
    font-size: .8rem;
    box-shadow: 3px 3px 5px rgb(161, 161, 161);
      z-index: 1;
   
  }



