
.cart-sidebar{
      position: fixed;
  top: 0rem; 
  right: 0;
  align-self: flex-start;
  height: 100vh;
  

  width: 40%;
  translate: 100%;  
  background-color: rgb(255, 255, 255); /* #f5f5f5; */
  /* border-right: 1px solid #ddd; */
  border: 0px solid black;
  margin-top: 0rem;
  z-index: 9999;
  box-shadow: 0 10px 20px rgba(50,50,50, 0.2);

}

.cart-sidebar-content{
    
    border:0px solid black;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0rem;
    z-index: 999;

 height: 100vh;
 

    /* 3rem */
  width: 100%;/* 100vw */
 
}

.side-cart-head-div{
      position: sticky;
    top: 0;
      width: 90%;
  height: 7rem;
  display: flex;
  align-items:center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight:600;
      font-family: 'Figtree';


   
background-color: white;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(225, 225, 225);



z-index: 9;

}

.side-cart-head-content{
        width: 100%;
      display: flex;
  align-items: center;
  justify-content: space-between;

  border: 0px solid red;
}



.side-cart-cancel{
       display: flex;
  align-items: center;
  justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    font-weight: 300;
    border: 0px solid rgb(171, 171, 171);
    border-radius: 50%;
    color:rgb(50, 50, 50);
    transition: all .3s ease;
}

.side-cart-cancel:hover{
    color:rgb(20, 20, 20);
      border: 0px solid rgb(31, 31, 31);
      background-color: rgb(231, 231, 231);
      cursor: pointer;
  }

  .side-cart-list-wrapper{
   
   height: 80%;
  position: sticky;
  top: 6rem;
  overflow: scroll; /* Force vertical scroll */
  scrollbar-width: none;
  border: 0px solid red;
  width: 95%;
 


  }

  .side-cart-list{
 width: 90%;
  margin: 0 auto; /* Centering without flex */
  display: flex;
  flex-direction: column;
  align-items: center;

border: 0px solid blue;



  }

  .side-cart-checkout-wrapper{
    height:10rem;
    width: 100%;
    border: 0px solid red;
    position: sticky;
    bottom: 0rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   padding: 1rem 0rem;
    font-family: 'Figtree';
    border-top: 1px solid rgb(220,220,220);
   

  }

  .side-cart-subtotal-wrapper{
    display: flex;
    justify-content: space-between;
    width: 90%;
    font-size: 1.1rem;
    }

    .subtotal-cost-wrapper{
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 8px;
     
    }

    .subtotal-cost{
      font-size: 1.2rem;
    }

    .subtotal-text{
      font-size: .8rem;
      color:rgb(100, 100, 100);
    }

    .side-cart-checkout-btn{
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3rem;
      border-radius: 25px;
    }

