
.cart-sidebar{
      position: fixed;
  top: 0rem; 
  right: 0;
  align-self: flex-start;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
  width: 40%;
  translate: 100%;  
  background-color: rgb(255, 255, 255); /* #f5f5f5; */
  /* border-right: 1px solid #ddd; */
  border: 0px solid black;
  margin-top: 0rem;
  z-index: 9999;

}


.side-cart-head-div{
      position: sticky;
    top: 0;
      width: 100%;
  height: 5rem;
  display: flex;
  align-items:end;
  justify-content: center;
  font-size: 1rem;
  font-weight:600;

   font-family: "Questrial", sans-serif; 
      font-family: 'Raleway';
   font-weight: 600;
letter-spacing: 1px;
   
background-color: white;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(225, 225, 225);


z-index: 9;

}

.side-cart-head-content{
        width: 90%;
      display: flex;
  align-items: center;
  justify-content: space-between;
margin-bottom: 1rem;
  border: 0px solid red;
}

.side-cart-head{
     
}

.side-cart-cancel{
       display: flex;
  align-items: center;
  justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    font-weight: 300;
    border: 0px solid rgb(171, 171, 171);
    border-radius: 50%;
    color:rgb(50, 50, 50);
    transition: all .3s ease;
}

.side-cart-cancel:hover{
    color:rgb(20, 20, 20);
      border: 0px solid rgb(31, 31, 31);
      background-color: rgb(231, 231, 231);
      cursor: pointer;
  }

  .side-cart-list-wrapper{
   
    display: flex;
    justify-content: center;
  }

  .side-cart-list{
    width: 90%;
  }

  .side-cart-checkout-wrapper{
    height:9rem;
    width: 100%;
    border: 0px solid red;
    position: sticky;
    bottom: 0rem;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   padding: 1rem 0rem;
    font-family: 'Outfit';
    border-top: 1px solid rgb(220,220,220);
   

  }

  .side-cart-subtotal-wrapper{
    display: flex;
    justify-content: space-between;
    width: 90%;
    font-size: 1.1rem;
    }

    .subtotal-cost-wrapper{
      display: flex;
      flex-direction: column;
      align-items: end;
    }

    .subtotal-cost{
      font-size: 1.2rem;
    }

    .subtotal-text{
      font-size: .8rem;
      color:rgb(100, 100, 100);
    }

    .side-cart-checkout-btn{
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: black;
      color:white;
      height: 3rem;
      border-radius: 25px;
    }

    .side-cart-checkout-btn:hover{
      background-color: rgb(40,40,40);
    }