  .home-footer{
    display: flex;
    justify-content:center ;
    width: 100%;
 background-color: rgb(10, 10, 10);
    margin-top: 5rem;
    z-index: 1;

  }

  .home-site-Info{
    border: 0px solid rgb(229, 29, 29) ;
    color:black;
  background-color: rgb(10, 10, 10);
    width: 95%;
    padding:2rem;
   
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 1rem;
  }

  #homeInfo-subhead{
    font-size: 1.2rem;
    color:rgb(220, 220, 220);
    font-family:'Inter';
  
  }
  #homeInfo-para{
    font-size: .85rem;
    color:rgb(170, 170, 170);
    line-height: 1.2rem;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .homefooter-line-a{
  height: 1px;
  width: 100%;
  background-color: rgb(220, 220, 220);
  transform: scaleY(0.5);
  margin-top: 2rem;
  margin-bottom: 2rem;
  }