  .home-footer{
    display: flex;
    justify-content:center ;
    width: 100%;
    background-color: rgb(255, 255, 255);
    /* margin-top: 6rem; */
    z-index: 1;

  }

  .home-site-Info{
    border: 0px solid rgb(210,210,210) ;
    color:black;
    background-color: rgb(255, 255, 255);
    width: 95%;
    padding:2rem;
   font-family: 'Inter';
font-family: 'Outfit';
 

    margin-top: 2rem;
  }

  #homeInfo-subhead{
    font-size: 1.1rem;

    color:rgb(90, 90, 90);
      font-family: "Outfit", sans-serif; 
     
        font-weight: 400;
   

  
  }
  #homeInfo-para{
    font-size: .9rem;
    color:rgb(75, 75, 75);
    line-height: 1.3rem;

      font-weight: 300;
  }

  .homefooter-line-a{
  height: 1px;
  width: 100%;
  background-color: rgb(200, 200, 200);
  transform: scaleY(0.5);
  margin-top: 2rem;
  margin-bottom: 2rem;
  }


  @media(max-width:700px){

    #homeInfo-subhead{
      font-size: 1rem;
    }
      #homeInfo-para{
        font-size: .75rem;
      }
  }

    @media(max-width:400px){
 .home-site-Info{
  padding:1rem;
 }
    }