
.Cart-page-Out{

    border: 0px red solid;
      height: 90vh;
      display: flex;
      flex-direction: column;
     justify-content: center;
      align-items: center;  
      overflow-x: hidden;
   /*    background-image: url('/flamingos_bw.jpg'); */
   background-position: center;
   background-repeat:no-repeat;
   background-size: cover; 
  background-position: center calc(50% - 7rem); 
    background-color: #eee;
  

    }

    .cart-BG{

        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
  
      background-color: white;
        border: 0px solid rgb(220,220,220);
        
    
  /* optional, for smooth corners */
/*  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); */
   
    }

    .cartOut-img{
        
     border-radius: 50%; 
        padding:1rem;
        width: 300px;
        border: 2px solid rgb(0, 0, 0);
        background-color: white;
  
      
    }
    .cartOut-info{
     

      display: flex;
      flex-direction: column;
      gap: 1.5rem;
   
      
      justify-content: center;
      align-items: center;
    
      z-index: 0;
      border:0px solid rgb(68, 65, 65);
     

    }

    .cartOut-text-1{
        font-size: 2rem;
        font-family: 'Roboto Condensed';
    }

    .cartOut-text-2{
        font-size: 1.2rem;
             font-family: 'Roboto Condensed';
    }

    .cart-Login-btn{
      display: flex;
      justify-content: center;
      align-items: center;
        width: 100%;
        height: 3.5rem;
        font-family: 'Poppins';
        font-size: 1rem;
        border-radius: 0rem;
        transition: all .3s ease;
                border: 1px solid black;
    }
    .cart-Login-btn:hover{
        border: 1px solid black;
        background-color: white;
        color:black;
    }

  @media(max-width:650px){

    .cartOut-info{
      margin-top: 4rem;
    }

    .cartOut-img{
         width: 200px;
  }

    .cartOut-text-1{
        font-size: 1.6rem;
      
    }

    .cartOut-text-2{
        font-size: 1.1rem;
           
    }
     .cart-Login-btn{
      height: 3rem;
     }
}