
.cart-page{
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 100vh;



}






 

    .Cart-page-wrapper{

  width: 100%;

      display: flex;
      border: 0px solid red;
      justify-content: space-between;
      margin-top:0rem;
      min-height: 100vh;
      
      
    
      
    }

    .cart-page-left{
        width: 55%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
      
        

      
   
    

    }

    .cart-page-left-head{
      
        width: 75%;
        height: 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid rgb(220,220,220);
        background-color: white;
     font-size: 1.3rem;
          
             z-index: 9;
              font-family: "Questrial", sans-serif;
              font-family: 'Raleway';
            
              letter-spacing: 1px;
        font-weight: 600;
        position: sticky;
        top:0;
    }



   



 
 

.cart-page-right{
  width: 45%;
  border: 0px solid blue;
  background-color: rgb(245,245,245);
  display: flex;
  align-items: center;
  flex-direction: column;
 padding-bottom: 8rem;

  

   
  
}




