
  .product-info-pd{
    border: 0dvi solid black;
    width: 100%;
    user-select: none;
   margin-bottom: 4rem;
   font-size: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: 'Figtree';
   /*  font-family: sans-serif; */
 
  }


  #pd-line-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#pd-head{
  font-size: 1rem;
}

#pd-head-info{
  font-weight: 600;
}

.pd-brand-wrapper{
  font-size: 1rem;
  margin-bottom: -.5rem;

}

.pd-title-wrapper{
 font-size: 2rem;

}

.pd-price-rating-wrapper{
 border: 0px solid red;
}

.pd-price-wrapper{
  display: flex;
  align-items: center;
  gap:2rem;
   font-weight: 500;
   padding:.5rem 0rem;
   
}

.pd-old-price{
  font-size: 1.1rem;
  color:rgb(175, 175, 175);
  text-decoration: line-through;
  text-decoration-thickness: 1px;
 
 
}

.pd-price{
  font-size: 1.5rem;
}

.pd-rating-wrapper{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pd-description-wrapper{
  border: 0px solid red;
  display: flex;
  flex-direction: column;


}

.pd-description-head{
  font-size: 1.2rem;
  font-weight: 500;

}

.pd-description-wrapper p{
  color:rgb(120,120,120);
  font-family: 'Jost';
  font-size: 1.1rem;
}

.pd-size-wrapper,.pd-color-wrapper{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}



.size-chart-link{
  font-size: .9rem;
  color: rgb(120,120,120);
  text-decoration: underline;
}

.size-selector,.color-selector{
  border: 0px solid red;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  
}

.pd-size{
  width: 5rem;
  height: 2rem;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 8px;
  display: grid;
  place-items: center;
  transition: all .2s ease;

}

.pd-size:hover{
    border: 1px solid blue;
  cursor: pointer;
}

.selected-size{
  background-color: rgb(230,230,230);
  background-color: black;
  color:white;
  border-color: rgba(0, 0, 0, 0);
  pointer-events: none;
}


.pd-color-container{
  width: 5rem;
  height: 2.5rem;
    border: 0px solid black;
  border-radius: 8px;
  display: grid;
  place-items: center;
  overflow: hidden;
  cursor: pointer;
 transition: all 0.2s cubic-bezier(0.22, 1, 0.36, 1);
  
}

.selected-color{
  border: 1px solid black;
  padding: .25rem;
}

.pd-color{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  
}





.pd-button-wrapper{
  border: 0px solid red;
  height: 3rem;

}

.pd-quantity-wrapper{
 width: 25%;
 height: 2.5rem;
 border: 1px solid black;
 display: flex;
 justify-content: space-between;
 border-radius: 5px;
 
}


.pd-quantity-btn,.pd-quantity{
 height: 100%;
 width: 2rem;
color: rgb(130,130,130);
 display: grid;
 place-items: center;
 font-size: 1.2rem;
 
}

.pd-quantity-btn:hover{
color:blue;
cursor: pointer;
}

.pd-quantity{
  color:black;

font-weight: 500;}

.pd-Add-btn{
  flex:1;
  height: 2.8rem;
  margin-left: 1rem;
  border: 2px solid transparent;
  display: grid;
  place-items: center;
  background-color: black;
    background-color: rgb(0, 150, 255);
  color:white;
  font-weight: 400;
  border-radius: 100px;
  font-weight: 500;
  transition: all .3s ease;

}

.pd-Add-btn:hover{

  border-color: rgb(0, 150, 255);
  color:rgb(0, 150, 255);
  cursor: pointer;
  background-color: transparent;
}

.pd-added,.pd-Login:hover{
  background-color: black;
  color:white;
  border-color: black;
}

.pd-added:hover,.pd-Login{
  border-color: black;
  color:black;
  background-color: transparent;
}





