
  .Product-Details-SimilarProducts{
    width: 100%;
    padding-top: 4rem;

   
  }
  
.sp-head-div{
 display: flex;
 width: 100%;
 justify-content: center;
}
  .pd-head-frame{
      
  width: 100%;
  height: 0;
  border-bottom: 1px solid rgb(200, 200, 200);
  bottom: 0rem;
  margin-bottom: 1rem;
  }
 
.Product-Details-SimilarProducts-list{
 

 width: 100%;
 display: flex;
 padding:1rem;
 gap:1rem;
 justify-content: center;

}

.similar-product{
  border: 0px solid green;
  width: 20%;
}

.similar-productImg-div{

  border: 0px solid blue;
  background-color: #eee;
}

.similar-productImg{

width: 100%;
}

.similar-productDetails-div{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap:.5rem;
  font-family: 'Roboto Condensed';
  font-weight: 400;
  color:rgb(50,50,50);
  padding-top: .5rem;
  font-size: 1rem;
 
}

.similar-productDetails-title{
 display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.similar-productDetails-details{
  display: none;
}

.similar-productDetails-btn{
  display:none;
}

.similar-productDetails-rating{
  display: none;
}





   @media(max-width:1200px){

    .Product-Details-SimilarProducts-list{
      gap:.5rem;
    }
    .similar-product{
  border: 0px solid green;
  width: 22%;
}
   .similar-productDetails-div{
    font-size: .9rem;
    }
   }

      @media(max-width:850px){

    .similar-product{
  border: 0px solid green;
  width: 28%;
}
   .similar-productDetails-div{
    font-size: .9rem;
    }
   }

   @media(max-width:700px){
 
  .Product-Details-SimilarProducts-list{
  
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .similar-product{
  display: flex;
  flex-direction: row;
  width: 95%;
  border: 1px solid rgb(220,220,220);
  }

     .similar-product:hover{
     border: 1px solid rgb(185, 185, 185);
     
   }


  .similar-productImg-div{
    width: 150px;
  }

  .similar-productDetails-div{
  
    padding: 1rem;
    width: 75%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap:.5rem;
   position: relative;
   border-left:none ;
   
  }



  .similar-productDetails-details{
  display: flex;
  font-size: .8rem;
  color:rgb(100,100,100);
  font-family: 'Inter' ;
  width: 70%;
  line-height: 1.2rem;
  display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .75rem;

}


.similar-productDetails-btn{

  display:flex;
  border: 1px solid rgb(200, 200, 200);
  width:30%;
  justify-content: center;
  align-items: center;
  padding:.15rem;
  font-family: 'Poppins';
  font-size: .8rem;
  
}

.similar-product:hover .similar-productDetails-btn{
  background-color: rgb(80,230,230);
  color:white;
  border: none;
}

.similar-productDetails-btn{
  padding:.15rem;
  width: 40%;
}

 .similar-productDetails-price-div{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }


 .similar-productDetails-rating{
display: block;

  }

    
   }

  @media(max-width:400px){

 .similar-product{
  width: 100%;
 }
   .similar-productDetails-div{
  
    padding: .5rem;
    width: 80%;
   gap:.5rem;
   justify-content: space-around;
   
 

  }
  .similar-productDetails-details{
    display: none;
  }

  .similar-productDetails-btn{

        margin-left: auto;
     

}

 
 

      }
/* 
   @media(max-width:1200px){

    .Product-Details-SimilarProducts-list{
      gap: 1rem;
    }
     .productDetails-product .productCard-detail{
      font-size: .9rem;
     
     }
   }

      @media(max-width:1000px){

        .productDetails-product{
          width:30%;
        }

      }

   @media(max-width:700px){

    .Product-Details-SimilarProducts-list{
      display: flex;
      flex-direction: column;
    }

   }    */