
  .Product-Details-SimilarProducts{
    width: 100%;
    padding-top: 4rem;
    border: 0px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;

   
  }
  
.sp-head-div{
 display: flex;
 width: 90%;
 font-weight: 500;
 font-size: 2.5rem;
 font-family: Jost;
 margin-bottom: 2rem;
 
}

 
.Product-Details-SimilarProducts-list {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.similar-product{
flex:1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.similar-productImg-wrapper{

width: 100%;
height: 100%;
position: relative;
overflow: hidden;
}

.similar-productImg-div{

  border: 1px solid transparent;
  background-color: rgb(241, 241, 241);
  transition: all .2s ease;
  cursor: pointer;
display: grid;
place-items: center;



z-index: 1;

}







.similar-productImg{

width: 100%;
display: grid;
place-items: center;
transition: all .25s ease;




}











.similar-productDetails-div{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap:12px;
  font-family: 'Figtree';
 border: 0px solid red;
  color:rgb(50,50,50);
  padding-top: .5rem;
  font-size: 1rem;
  width: 100%;
  font-family: 'Inter';
 
}

.similar-pd-title{
  font-weight: 500;
 font-size: 16px;
 
/* Line clamp properties */
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;


  
}



.similar-pd-line2{
display: flex;
justify-content: space-between;
align-items: center;

width: 100%;
}

.similar-pd-rating-wrapper{
    display: flex;
 font-family: 'Inter';
    align-items: center;
 font-size: 16px;
 text-transform: capitalize;
    gap:5px;
    color:rgb(115, 115, 115);
    font-weight: 400;
}

.similar-pd-rating{
  
  font-size: 12px;

}


.similar-pd-price{
font-size: 14px;

}








   @media(max-width:1250px){


.similar-pd-title,.similar-pd-rating-wrapper{

 font-size: 14px;
}
.similar-pd-price{
font-size: 13px;

}

   }


 @media(max-width:850px){
.Product-Details-SimilarProducts-list {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 10px;
}
.sp-head-div{
  font-size: 2rem;
}
 }

 
 @media(max-width:400px){
.similar-pd-title{
  font-size: 12px;
}
 }