@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Gothic+A1&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Gothic+A1&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sen:wght@400..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Questrial&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

.testing-div{
    min-height: 500vh;
    display: flex;
    
   margin-top: 0rem;
   margin-bottom: 100vh;


  
    

}

.test-bg{
  border: 1px solid red;
  height: 100vh;
  width: 100vw;
  background-image: url('/Cart-head2.webp');
  background-position: center;
}


.test-header-wrapper{
  position: fixed;
  top: 2rem;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  border: 0px solid red;
  height: 5rem;

}


.test-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  padding: 0px 40px;
  color: white;
  background: transparent;
  backdrop-filter: blur(0px);
  border-radius: 10px;
  /* This makes the transition feel slow and premium */
  transition: 
    color 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    background 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    backdrop-filter 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    
  will-change: transform, width; /* Performance boost */
}

/* When the state is active, this class is applied */
.test-header.test-header-blurred {
  color: black;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.2);
}