@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Gothic+A1&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Gothic+A1&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sen:wght@400..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Questrial&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

.testing-div{
    min-height: 100vh;
    display: flex;
    
    align-items: start;
    justify-content: center;
   
    gap: 5rem;
  
    

}


.test-store-head-wrapper{
    margin-top: 5rem;
    width: 90%;
    display: flex;
    justify-content:start;
    border: 1px solid blue;
    padding: 1rem;
    
}

.test-store-menu{
    border: 1px solid red;
    position: relative;
}

.filter-panel{
    width: 20rem;
    height: 20rem;
  
    border: 1px solid black;
    position: absolute;
    top: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem;

   
    overflow-y:scroll ;
    scrollbar-width: none;
   
}

.test-filter-div{
    width: 100%;
    
    padding: 1rem 2rem;
    border: 0px solid black;
    /* border-bottom: 0px solid rgb(220,220,220); */
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: 'Outfit';
    position: relative;
    font-size: .95rem;
    font-weight: 300;
    transition: all .3s ease;


}

.test-filter-div:hover{
    background-color: rgb(240, 240, 240);
}

.test-filter-div .filter-selector{
    width: .9rem;
    height: .9rem;
    border: 1px solid rgb(168, 168, 168);
   border-radius: 50%;
    position: absolute;
    right:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
     
    
}

 .filter-selector-circle{
    width: 80%;
    height: 80%;
    border-radius: 50%;
    transition: all .3s ease;
}

/* .test-filter-div:hover .filter-selector span{
    background-color: blue;
} */

.filter-btn-div{
    position: sticky;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-around;
 
    background-color: white;
}

.test-filter-btn{
 border: 1px solid black;
 width: 8rem;
height: 2rem;
display: flex;
text-align: center;
align-items: center;
justify-content: center;
font-family: 'Outfit';
}