@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Gothic+A1&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Gothic+A1&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sen:wght@400..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Questrial&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

.testing-div{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
   margin-top: 20rem;
   margin-bottom: 10rem;
    gap: 5rem;
  
    

}


.macbook-wrapper{
    width: 90%;
    height: 600px;
    border: 1px solid rgb(224, 224, 224);
   padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;

}



.MacbookVid{
 width: 60%;
 height: 90%;
 /* Or whatever size you want the parent to be */
/*   height: 550px; */ /* Example height */
}

.macbook-info{
 border: 0px solid rgb(185, 185, 185);
 width: 30%;
 height: 90%;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 font-family: 'Inter';
 padding: 1rem;
 border-radius: 10px;
/*  background-color: #eee; */

}

.macbook-info h2{
    font-size: 2.5rem;
   
}

.macbook-info span{
    font-size: 1.1rem;
    line-height: 1.5rem;
    color:rgb(130,130,130);
    
}
.macbook-price{
    font-size: 1rem;
    font-weight: 500;
    

}

.macbook-buy{
    
width: fit-content;
    
}
