@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Gothic+A1&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Gothic+A1&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sen:wght@400..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Questrial&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');

.testing-div{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.tracking-div{
  width: 40%;
  height: 10rem;
  border: 1px solid black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tracking-path-div{
 position: relative;
  width: 100%;
  height: .5rem;
 
   
    background-color: rgb(255, 255, 255);
}


#tracking-path{

}

.empty-path{
 
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
    /* Fill amount here */
 
   /* Fill color */
 background-color: rgb(210, 210, 210);

}

.filled-path{
    position: absolute;
  left: 0;
  top: 0;
width: 33%;
height: 100%;
background-color: rgb(80,220,220);

}

.stage-div-container{
   position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stage-div{
  height: 1.5rem;
  width: 1.5rem;
 position: relative;
  border-radius: 50%;
  border: 0px solid rgb(150,150,150);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.stage-name{
  position: absolute;
  bottom: -1.5rem;
  font-family: 'Roboto Condensed';
  font-size: .9rem;
}






