 .forgot-pw{

width: 100%;
font-size: .9rem;
border:0dvi solid red;
display: flex;
justify-content: space-between;
align-items: center;
font-family: 'Jost';
  }

  .remember-checkmark{
    display: flex;
justify-content: space-between;
align-items: center;
  }

    .forgot-pw:hover{


cursor: pointer;


  }

  .forgot-pw-text{
color:blue;

  }

  
  .forgot-pw-text:hover{
color:rgb(0, 0, 0);
text-decoration: underline;
  }

  .forgot-pw input{
    height: 15px;
    width:15px;
  }

  .login-Or{
    width: 100%;
    height:4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    
  }

  .or-line{
     width: 37%;        /* full width, adjust if needed */
  height: 1px;        /* thickness */
  background-color: rgb(75,75,75);
    transform: scaleY(0.5);
    
  }
  .or-line-text{
   
    z-index: 2;
 /*    background-color: white; */
    width: 2rem;
 font-size: .75rem;
   color:rgb(75,75,75);
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
      /*  font-family: "Questrial", sans-serif; */ 
  }


  .login-icon-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  
  }

  .login-icon-div{
    border: 0px solid rgb(149, 149, 149);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px rgb(189, 189, 189);
  }

  .login-icon-div img{
    width: 70%;
    height: 70%;
    object-fit: cover;
  }

  .login-icon-div  .phone-icon{
  font-size: 1.8rem;
  color:blue;
  }

@media(max-width:900px){

 
}

@media(max-width:400px){

     .forgot-pw{
       font-size: .7rem;
     }
}