.order-tracking-div{
        border: 0px solid green;
        width: 93%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
     
        background-color: rgb(245,245,245);
        margin-top: 4rem;

        
    }

    .tracking-head-div{
        padding: 1rem;
        font-size: 1.3rem;
        font-family: 'Jost';
        letter-spacing: .1rem;
        width: 98%;
        border-bottom: 1px solid rgb(220,220,220);
        text-align: center;
    }

    .order-tracking-content{
        width: 100%;
           height: 20rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        border: 0px solid blue;
    }

.tracking-div{
  width: 85%;
 height: 6rem;
  border: 0px solid black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  
}

.tracking-path-div{
 position: relative;
  width: 100%;
  height: .5rem;
  background-color: rgb(255, 255, 255);
}


#tracking-path{

}

.empty-path{
 
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
    /* Fill amount here */
  
   /* Fill color */
 background-color: rgb(210, 210, 210);

}

.filled-path{
position: absolute;
  left: 0;;
  top: 0;


background-color: rgb(80,220,220);

}

.stage-div-container{
   position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
 
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.stage-div{
  height: 1.5rem;
  width: 1.5rem;
 position: relative;
  border-radius: 50%;
  border: 0px solid rgb(150,150,150);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.stage-name{
  position: absolute;
  bottom: -2rem;
  font-family: 'Roboto Condensed';
  font-size: .9rem;
 font-family: 'Jost';
  white-space:nowrap;
}

  .trackGif-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
    }

  

    .trackGif-div{
        display: flex;

           width: 10rem;
    height: 10rem;
    
 
    justify-content: center;
    align-items: center;
   
    }

    .trackGif{
        width: 100%;
    }



.order-message-div{
    
font-weight: 400;
font-size: 1.1rem;
font-family:'Jost';
letter-spacing: 0rem;
width: 100%;


}

@media(max-width:800px){

    .order-tracking-div{
        
    }

    .order-tracking-content{
     height: 14rem;
    }

  

    .tracking-div{
        height: 5rem;
        margin-bottom: 1.5rem;
        width: 90%;
    }

   

 
}

@media(max-width:650px){

    .tracking-path-div{
        height: .3rem;
    }

   .stage-div{
    height: 1.2rem;
    width: 1.2rem;
   }

   .stage-name{
    font-size: .85rem;
   }
  
}

@media(max-width:500px){
     .order-tracking-content{
        flex-direction: row-reverse;
        justify-content: end;
       
        height: 70vh;
        gap: 0rem;
     }

     .tracking-div{
        width: 30%;
        height: 90%;
        margin:0;
         justify-content: start;
  
     }

     .tracking-path-div{
       width: .5rem;
       height: 100%;
       margin-left: .3rem;
     }

     .stage-div-container{
        flex-direction: column;
        height: 100%;
        align-items: start;
     }

     .stage-name{
      bottom:0rem;
      left:1.5rem;
        font-size: 1rem;
   
     }

     .trackGif-container{
        width:60%;

        display: flex;
        justify-content: center;
        margin-right: .5rem;
     }

        .trackGif-div{
        

    width: 10rem;
    height: 10rem;
    }

    .order-message-div{
        font-size: 1rem;
        
    }


}





