.brand-carousel-container {
  
    overflow: hidden;
    height: 15rem;
    margin-top: 4rem;
    position: relative;
    border: 0px solid red ;
    background-color: rgb(235,235,235);


  }

  .brand-carousel-heading{
   border: 0px solid red ;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: .5rem;

   padding: 1rem;


   font-family: "Questrial", sans-serif;
  

   z-index: 1;
   font-weight: 400;
   
   border-bottom:1px solid rgb(220,220,220) ;

  
  }

  .brand-head-line1{
    font-size: 1rem;
    border: 0px solid red;
    color:rgb(100,100,100);
    letter-spacing: .05rem;
  }

    .brand-head-line2{
    font-size: 1.4rem;
    border: 0px solid red;
    color:rgb(50,50,50);
  }

 

  .brand-carousel {
    display: flex;
    flex-direction: row;
  /*   justify-content: center; */
    align-items: center;
    animation: scroll-left linear infinite;
    border: 0px solid rgb(0, 229, 255) ;
    height: 70%;
    gap:5rem;
 

    
    
  }
  
  .brand-logo {
    flex-shrink: 0;
    width:6rem;
    height: 6rem; /* Set your desired width */
 /*  height: 70%; */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
/*   margin:1rem; */
background-color: rgb(255, 255, 255);

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
 transition:all .2s ease;
/*      box-shadow: 0px -40px 15px rgba(131, 131, 131, 0.5); */
 




  }

  

  
  @keyframes scroll-left {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); } /* Moves half the width of the duplicated array */
  }
  
  @media(max-width:1200px){
 
      .brand-carousel{
        gap: 4rem;
      }
   

  }

    @media(max-width:800px){
 
      .brand-carousel{
        gap: 3rem;
      }
      .brand-carousel-heading{
        font-size: 1.2rem;
      }
   

  }

  @media(max-width:450px){
    .brand-carousel-container {
      height: auto;
      padding:0rem;
    }

      .brand-head-line1{
    font-size: .9rem;
    border: 0px solid red;
    color:rgb(100,100,100);
    letter-spacing: 0rem;
  }

    .brand-head-line2{
    font-size: 1.1rem;
    border: 0px solid red;
    color:rgb(50,50,50);
  }

    .brand-carousel{
      display: none;
    }

    .brand-carousel-sm{
      border: 0px solid red;
      width: 100%;
      height: 100%;
      display: grid;
   grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  grid-template-rows: repeat(3, auto);   /* 3 rows, auto height */
/*   grid-auto-flow: column; */
  place-items: center;
  gap: 1rem;
  padding: 1rem;
    }

       .brand-carousel-heading{
        font-size: 1rem;
      
      }
  }

  