.brand-carousel-container {
  
    overflow: hidden;
    height: 15rem;

  background-color:rgb(235, 235, 235);
    border: 0px solid red ;
  }
  
  .brand-carousel {
    display: flex;
    flex-direction: row;
  /*   justify-content: center; */
    align-items: center;
    animation: scroll-left linear infinite;
    border: 0px solid rgb(0, 229, 255) ;
    height: 100%;
    gap:5rem;
    
    
  }
  
  .brand-logo {
    flex-shrink: 0;
    width:10rem;
    height: 10rem; /* Set your desired width */
 /*  height: 70%; */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
/*   margin:1rem; */
background-color: rgb(135, 135, 135);
background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
 transition:all .2s ease;
 




  }

  
  .brand-logo img {
   width: 70%;
    height: 70%;
    object-fit: contain;
 
  }
  
  @keyframes scroll-left {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); } /* Moves half the width of the duplicated array */
  }
  
  @media(max-width:1200px){
    .brand-carousel-container {
      height: 12rem;
    }
  .brand-carousel{
       gap:4rem;
    
  }
     .brand-logo{
  width:8rem;
    height: 8rem; 
      }


  }

  @media(max-width:450px){
    .brand-carousel-container {
      height: auto;
      padding:1rem;
    }
    .brand-carousel{
      display: none;
    }

    .brand-carousel-sm{
      border: 0px solid red;
      width: 100%;
      height: 100%;
      display: grid;
   grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  grid-template-rows: repeat(3, auto);   /* 3 rows, auto height */
  place-items: center;
  gap: 1rem;
    }

    /* .brand-logo-sm {
    flex-shrink: 0;
    width:6rem;
    height: 6rem; 
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;


  }

  
  .brand-logo-sm img {
   width: 80%;
    height: 80%;
    object-fit: contain;
 
  } */
  }

  /*   @media(max-width:500px){
    .brand-carousel-container {
      height: 8rem;
    }
  .brand-carousel{
       gap:3rem;
    
  }
     .brand-logo{
  width:5rem;
    height: 5rem; 
      }


  }

  
    @media(max-width:400px){
    .brand-carousel-container {
      height: 6rem;
    }
  .brand-carousel{
       gap:1.5rem;
    
  }
     .brand-logo{
  width:4rem;
    height: 4rem; 
      }


  } */