


@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Gothic+A1&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Gothic+A1&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sen:wght@400..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Questrial&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Comfortaa:wght@300..700&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Lexend+Deca:wght@100..900&family=Marcellus&family=Questrial&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Sen:wght@400..800&display=swap');

.Home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0px solid black;
    width: 100%;
   overflow-x: hidden;
   position: relative;
   background-color: #ffffff;

  }



  .Home-scroll-content{
    width:100%;
    background-color: white;
    z-index: 1;
    position: relative;
    margin-top: 100vh;

  }


  .home-heading{
      font-size: 2.2rem;
    padding: 1rem;

    width: 90%;
    font-weight: 400;
    margin-bottom: 2rem;
   font-family: "Questrial", sans-serif;
   font-family: 'Jost';
   font-family: 'Raleway';
   text-align: center;
   text-transform: uppercase;
    color:rgb(0, 0, 0);
    border-bottom: 1px solid rgb(200, 200, 200);
    background-color: white;
/* ------------------------------------- */

    color:rgb(50, 50, 50);
       font-family: "Questrial", sans-serif;
        font-family: 'DidotCustom', serif;
        font-family: 'Outfit';
        font-family: 'Raleway';
       /*  font-family: 'Lato';
        font-family: 'Montserrat'; */
          /* font-family: "Nunito", sans-serif;
          font-family: "Manrope", sans-serif; */
    
           
               font-family: "Cormorant Garamond", serif;  /* too much spike */
              font-family: "Comfortaa", sans-serif; /* too goofy */
                font-family: "Rethink Sans", sans-serif; /*  */
                  
                    
                   font-family: "Figtree", sans-serif;  /* second best*/
  
        font-family: "Marcellus", serif;  /* too royal */
        font-family: 'Raleway';
        
        font-weight: 500;
       letter-spacing: 1px;
     /* font-family: "Prosto One", sans-serif; */
/*        font-family: "Bodoni Moda SC", serif; */
    
    

  }


  .home-Products-container{
    border: 0px solid red;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 4rem;

    margin-top: 0rem;


  }

  .home-product{

   
    border:0px solid rgb(255, 255, 255);
    padding:0rem;
    position: relative;
    justify-content: center;
    align-content: center;
border: 0px solid red;
    color:black; 
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }

  .Home .productImg-wrapper {
  width: 100%;
  height: 350px; /* match the height of your images */
  position: relative;
  overflow: hidden;
  border: 0px;


}
 .Home .productImg-container{
height: 100%;

}
  .Home .productImg{
background-color: white;
   
      transition: all 0.3s ease;
              width: 100%;
        height: 100%;
/* background: radial-gradient(circle , white 40%, rgb(199, 199, 199));  */



        border:0px solid rgb(220, 220, 220);

    
    
  }

   .Home .productImg:hover{
    border-radius: .3rem;
    background-color: rgb(255, 255, 255);

    
    
  }

  .Home .bookmark-logo{

      display: none;

      
  
  }


  .Home .heart-div{
   
display: none;
  }

  

 .Home  .productCard-detail{

  border: 0px solid rgb(255, 255, 255);
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
padding-top:1rem;
padding-bottom:1rem;
 color: rgb(50, 50, 50); 
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Jost';
font-weight: 400;
font-size:1.2rem;
 
  }


  .Home .Store-Product-title{

    display: flex;
    justify-content: start;
    white-space: nowrap;

  }

  .Home .productCard-rating-div{
  display: none;
  }


  .Home .productcard-links-div{

display: flex;
    justify-content:center;
    height: 2.5rem;
    position: absolute;
   width: 100%;
    z-index: 0;
      transform: translateY(4rem);
  transition: all .7s ease;
  opacity: 0;
  border: 0px solid red;
    border-radius: 20px;
  overflow: hidden;
 

  }

   .Home .home-product:hover .productcard-links-div{
transform: translateY(0);
  opacity: 1;
   }

  .Home #pd-link{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
     font-family: 'Poppins';
   font-family: "Questrial", sans-serif; 
     
    white-space: nowrap;
   transition: all .25s ease;
   font-weight: 400;
   color:rgb(50,50,50);
   border-bottom: 1px solid rgb(200,200,200);
   letter-spacing: .02rem;
  }

    .Home #pd-link:hover{
      cursor: pointer;
      color:black;
      

    }

    .AddToCardButton{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: .5rem;
    }

 .scroll-btn .pd-AddtoCart{
/* background-color: #ffffff;
  border-bottom: 1px solid rgb(30,30,30);
    color:rgb(0, 0, 0); */
border: 1px solid red;


   
  }

    .pd-AddtoCart:hover{

/* 
    cursor: pointer;
 background-color: rgb(30,30,30);
  
    color:white;
border: 1px solid rgb(220, 220, 220); */
  }

  
  .pd-BuyNow{
 
/*  border-bottom: 1px solid rgb(100,100,100) ;
    background-color: rgba(90, 220, 220, 0)  ; 
    color: rgb(100,100,100); */
  }

    .pd-BuyNow:hover{
 

   /*  background-color:rgba(50, 210, 210, 0) ;
    color: rgb(0, 0, 0);
    letter-spacing: .05rem; */
  }

.view-more-button{
  height: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  border-radius: 2rem;
  margin-top: 2rem;
font-family: 'Outfit';
overflow: hidden;
  transition: all .3s  ease;
  border: 1px solid black;
}
.view-more-button:hover{
border: 1px solid transparent;
}


  


  














  

@media(max-width:1200px){

 
    .home-Products-container{
      width: 95%;
    }

    .Home .productImg-wrapper{
        height: 300px;
    }

     .Home  .productCard-detail{
      font-size:1rem;
     }
}



@media(max-width:950px){

  

    .home-Products-container{
      padding-top: 2rem;
          padding-bottom: 2rem;
    }

  
    .Home .productImg-wrapper{
        height: 250px;
    }


    .Home .productcard-links-div{
      height: 2rem;
   
    }

     .Home #pd-link{
   font-weight: 400;
   font-size: .9rem;
     }

       .Home  .productCard-detail{
      flex-direction: column;
      align-items: start;
      gap: .5rem;
     }
}

@media(max-width:850px){

  .home-heading{
    font-size: 2rem;
  }

    .Home .productImg-wrapper{
        height: 210px;
    }

   


}

@media(max-width:650px){


    .home-heading{
      text-align: center;
    }

 .home-Products-container{
      flex-direction: column;
      align-items: center;

 
      gap: 1rem;
    }
    
    .Home .productImg-wrapper{
        height: 300px;
    }
     .home-product{
 
    width: 300px;
   }

    .Home .productImg-wrapper{
      width: 100%;
    } 

    .Home .productcard-links-div{
      display: none;
    }
       .Home  .productCard-detail{
      flex-direction:row;
    
      gap: .5rem;
     }
}

@media(max-width:500px){

  .home-heading{
    font-size: 1.5rem;
    padding-left: .5rem;
  }

    .home-Products-container{
      padding-top: 0rem;
          padding-bottom: 2rem;
    }


  .Home .productcard-links-div{
height: 2rem;
font-size: .8rem;
  }





    .Home .productImg-wrapper{
        height: 220px;
          background-color: rgb(255, 255, 255);
  border: 1px solid rgb(220, 220, 220);
    }

    .home-product{
 
    width: 310px;
   }

   
}

@media(max-width:400px){
 .Home-scroll-content{
 
    margin-top: 1rem;

  }

      .Home .productImg-wrapper{
        height: 250px;

    }

    .home-product{
 
    width: 250px;
   }


}


 


  


