
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.Home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0px solid black;
    width: 100vw;
   
 
    /* background: linear-gradient(to bottom, rgba(16, 16, 128, 0.857), white); */
/*     background: linear-gradient(to bottom, rgb(0, 0, 0), white); */
 
   overflow-x: hidden;
   position: relative;
  
  
  
  
  }
  .homeContent-Container{
    position: relative;
    width: 100vw;
   
   
    border-left: 0px solid red;
    display: flex;
    margin-bottom: 2rem;
 

  }

  .crousel-frame{
    position: absolute;
 width: 99vw;
 height: 100%;
 border-left: 0rem solid #eeeeee;
 border-right:0rem solid #eeeeee;
 z-index: 1;
  }

  .Nav-div{
    position: absolute;
    border: 0px solid red;
    width: 99%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    top:50%;
    transform: translate(0%, -50%);
  }

  .home-left-nav,.home-right-nav{

   
  }

  .home-left-nav{
   
  }
  .home-right-nav{
   
  }

  .home-left-arrow{
    width: 15rem;
    height: 15rem;
    color: #eeeeee9f;
    background-color: #00000032; /* #716c6c4d; */
    margin-left: -5%;
    border: 1px solid #eeeeee9f;
    border-radius: 20%;
    padding:0;
 

  }

  .home-left-arrow:hover{
    background-color:  #0000004d; /* #716c6c4d; */
    color: #eeeeee;
    border: 1px solid #ffffff;
  }

  .home-right-arrow{
    width: 15rem;
    height: 15rem;
    color: #eeeeee9f;
    border: 1px solid #eeeeee9f;
    border-radius: 20%;
    margin-right: -5%;
    background-color: #00000032;; /* #716c6c4d; */

  }

  .home-right-arrow:hover{
    background-color:  #0000004d; /* #716c6c4d; */
    color: #eeeeee;
    border: 1px solid #ffffff;
  }


  .homeCrousal{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 5px solid white;
   

  }
  
  .homeContent{
    
    
    width: 100vw;
    height: 90vh;
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }

 
  
 /*  .Home-Img-container{
    
    border: 0px solid red;
  
  }
  .Home-Img{
    width:700px ;
  } */
  .bgImgNav{
    border: 0px solid rgba(0, 0, 0, 0.873);
    background-color: #eeeeee;
    width: 100%;
    height: .3rem;
    color:rgb(0, 0, 0);
    position: absolute;
    margin: auto;
    z-index: 0;
    border-radius: 5px;
    overflow: hidden;
    bottom:0rem;
    left: 50%;
  transform: translateX(-50%);
  }
 
  .bgImgNav-slider{
    width: 25%;
    height: 100%;
    border-radius: 1rem;
    /* background-color: rgba(255, 255, 255, 0.901); */
    background-color: black;
  }

  .buy-link{
    position:absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    color:rgb(3, 3, 3);
    /*  background-color: rgba(255, 255, 255, 0.633); */
    font-size: 1.4rem;
    height: 1rem;
    width:40%;
    border: 0px rgb(0, 0, 0) solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    
    margin-bottom: 3rem;
   
   
    font-family:  'Gill Sans MT', Calibri,'Gill Sans' , sans-serif;
    z-index: 1;

  }

  


  #buyLink-btn{
    display: flex;
    justify-content: center;
    align-items: center;
  
   
   width: 40%;
    font-size: 1.4rem;
    height: 4rem;
  }

  .btn-discoverMore{
     
     background-color: #eeeeee; 
      color:rgb(0, 0, 0);
      border: 1px rgb(0, 0, 0) solid;
  }

  .btn-shopNow{
    
    /*  background-color: rgba(233, 231, 231, 0.799); */
      color:rgb(255, 255, 255);
      border: 1px rgb(255, 255, 255) solid;
  }

  #buyLink-btn:hover{
    background-color: rgb(252, 250, 250);
   border: 1px solid black;
    color:rgb(3, 3, 3);

  }
 
  .home-Products-div{
    width: 100%;
    background-color:white;
    margin-top: 1rem;
  }
  .home-Products-div-head{
    font-size: 3.5rem;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0rem;
    color: rgb(18, 18, 18);
    display: flex;
    justify-content: center;
  /*   background: linear-gradient(to right, #2898e2c5,  rgba(18, 18, 88)  , #2898e2c5 100%); */
/*      background-color: rgb(192, 206, 235);  */
     background-color: rgb(255, 255, 255); 
  }
  .home-Products{
    border: 0px solid red;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-image: url('/blue-green-bg15.jpg');
    background-position: center;
    background-size: contain  ;
    
   
    
   
  }

  .home-product{

    width: 18%;
    border:1px solid rgb(137, 137, 137);
    padding:.3rem;
    height:300px;
  
    
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: white;
    border-radius: 0rem;
    color:black; 
    box-shadow: 10px 10px rgb(57, 56, 56);
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
  
  
  .home-product:hover{
    box-shadow:15px 15px rgb(30, 30, 31);
  }
 

  .Home-bottom{
    border: 0px solid red;
    width: 100%;
    margin-top: 4rem;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:  'Gill Sans MT', Calibri,'Gill Sans' , sans-serif;
     background-image: url('/blue-green-bg28.jpg');
    background-position: center;
    background-size: cover;  
    /* background-repeat: no-repeat;  */
 

    
    
 
  }

  .bento1-a,.bento2-c,.bento3-a{
    /* background-color: #3cfaa7; */
    border: 0px solid black;
 /*      background-image: url('/blue-green-bg3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */  
   
  
  }


.bento-heading{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:rgb(0, 0, 0);
  display: flex;
  
  justify-content: center;
  gap:1rem;
  font-size: 3.5rem;
  font-weight: 600;
  padding:0rem;
  margin-top: 0rem;
  background-color: rgb(255, 255, 255);
 /*  background: linear-gradient(to right, #2898e2c5 ,  rgba(18, 18, 88), #2898e2c5 100%); */
  width: 100%;

  
  
  
}

#bento-sub-heading:hover{

  text-shadow: 0px 5px 0px rgb(145, 173, 229);
}

.container-bento{
  border: 0px solid black;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:.7rem;
  padding:2rem;
 

  
}
.bento1,.bento2,.bento3{
  border: 0px solid red;
  width: 80%;
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: space-around;


}
.bento1-a,.bento2-c,.bento3-a{
  border: 0px solid rgb(0, 0, 0);
  height: 100%;
  width: 49%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;


}
.bento1-b,.bento1-c,.bento2-a,.bento2-b,.bento3-b,.bento3-c{
  border: 0px solid rgb(48, 43, 136);/* rgb(72, 72, 210); */
  height:100%;
  width: 24%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bento1-b{
 /*  background-color: #64727c; */
}
.bento1-c{
 /*  background-color: #5d5d6d; */
}

#bento-img-div{
 
  border: 0px solid rgb(116, 116, 116);
}

   
.bento1-b-img,.bento2-a-img,.bento1-a-img,.bento2-b-img,.bento3-a-img,.bento2-c-img,.bento1-c-img,.bento3-b-img,.bento3-c-img{
  height: 100%;
  width:100%;
  background-repeat: no-repeat;
  background-size: cover;
   background-position: center; 
 
  color: white;

}

.bento1-a{
  /* background-image:url('/QM-blue-bg2.avif') ; */
/*   background-color: white; */
/* background-image: url('/QM-blue-bg4.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover; */
}

.bento1-a-img,.bento2-c-img,.bento3-a-img{



}


.bento1-b-img-name,.bento2-a-img-name,.bento1-a-img-name,.bento2-b-img-name,.bento3-a-img-name,.bento2-c-img-name,.bento1-c-img-name,.bento3-b-img-name,.bento3-c-img-name{

  font-size: 2.5rem;
  font-weight: 400;
  position: absolute;

  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  color:white;
  
}


  .bento1-b-img{
   
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),url('/QMbgImages/HPFashionBG.jpg');
    transition: transform 0.3s ease;
   
  }

  .bento1-b-img:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url('/QMbgImages/HPFashionBG.jpg');
    transform: scale(1.05);
  }


  .bento2-a-img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),url('/QMbgImages/HPSkinCareBG.webp');
    transition: transform 0.3s ease;
  }
  .bento2-a-img:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url('/QMbgImages/HPSkinCareBG.webp');
    transform: scale(1.05);
  }

  .bento1-a-img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),url('/QMbgImages/HPHomeDecorBG.webp');
    transition: transform 0.3s ease;
  
  }

  .bento1-a-img:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url('/QMbgImages/HPHomeDecorBG.webp');
    transform: scale(1.05);
  }

  .bento2-b-img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),url('/QMbgImages/HPEssentialsBG2.jpg');
    transition: transform 0.3s ease;
  }

  .bento2-b-img:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url('/QMbgImages/HPEssentialsBG2.jpg');
    transform: scale(1.05);
  }

  .bento3-a-img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),url('/QMbgImages/HPSportBG.jpeg');
    transition: transform 0.3s ease;
  }
  .bento3-a-img:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url('/QMbgImages/HPSportBG.jpeg');
    transform: scale(1.05);
  }

  

  .bento2-c-img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),url('/QMbgImages/HPElectronicsBG.webp');
    transition: transform 0.3s ease;
  }

  .bento2-c-img:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url('/QMbgImages/HPElectronicsBG.webp');
    transform: scale(1.05);
  }

  


  .bento1-c-img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url('/QMbgImages/HPGlassesBG.jpg'); 
    transition: transform 0.3s ease;
 
    

  }
  .bento1-c-img:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url('/QMbgImages/HPGlassesBG.jpg'); 
    transform: scale(1.05);

  }

  .bento3-b-img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url('/QMbgImages/HPWatchesBG.jpg'); 
    transition: transform 0.3s ease;
  }

  .bento3-b-img:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url('/QMbgImages/HPWatchesBG.jpg'); 
    transform: scale(1.05);
  }

  .bento3-c-img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url('/QMbgImages/HPFootwearBG2.avif'); 
    transition: transform 0.3s ease;
  }

  .bento3-c-img:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url('/QMbgImages/HPFootwearBG2.avif'); 
    transform: scale(1.05);
  }


  #bento-btn-div{
    position: absolute;
    bottom: 25%;
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 12%;
    
  }
  #bento-btn1{


    border: 2px solid rgb(255, 255, 255);
    width:45%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(255, 255, 255);

  }
  #bento-btn2{

    border: 1px solid rgb(0, 0, 0);
    width:45%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(0, 0, 0);
    background-color: white;

  }

  .bento1-a-btn{
 
    border: 0px solid rgb(229, 29, 29)
  }


  .trending-products-div{
    border: 0px solid rgb(229, 29, 29);
    width:100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }

  .trending-products-heading{
    font-size: 3.5rem;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0rem;
    color: rgb(18, 18, 18);
    display: flex;
    justify-content: center;
width: 100%;
     background-color: rgb(255, 255, 255); 
  }

  .trending-products{
    border: 0px solid rgb(10, 10, 10);
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .trending-product-1,.trending-product-2{
    border: 0px solid rgb(229, 29, 29) ;
    width: 49%;
    height: 95%;
  }

  .trending-product-1{
    background-image: url('/QM-Img-tp1.webp') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
  }

  .trending-product-2{
    background-image: url('/QM-Img-tp2.webp') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
  }

  .tp-1-btn{
    position: absolute;
    bottom: 15%;
    right:2%;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px solid white;
    font-size: 2.5rem;
    padding:1rem;
  }

  .tp-2-btn{
    position: absolute;
    bottom: 15%;
    left:2%;
    color:rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px solid rgb(0, 0, 0);
    font-size: 2.5rem;
    padding:1rem;
    
  }


  .home-site-Info{
    border: 0px solid rgb(229, 29, 29) ;
    color:black;
    background-color: white;
    width: 95%;
    padding:2rem;
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 2rem;
  }

  #homeInfo-subhead{
    font-size: 1.5rem;
    color:rgb(92, 92, 92);
  }
  #homeInfo-para{
    font-size: 1rem;
    color:grey;
  }


@media (max-width:900px){

 /*  .bgImgNav{
    width: 50%;
    height: .2rem;
    border: 1px solid white;
  } */
  .home-product{

    width: 24%;
   
  }

  .upper-b{
    display: none;
  }

  .upper-a,.upper-c{
    height: 98.5%;
    width: 48%;
    border: 0px solid rgb(164, 53, 53);
   }

   .bento-left-long-img-name,.upper-a-img-name,.upper-b-img-name,.upper-c-img-name,.lower-a-img-name,.lower-b-img-name,.bento-right-long-img-name{
    padding-left: .5rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
  }

  .bento-center{
    width: 50%;
  }
  .bento-left-long{
    width: 24%;
  }

  .bento-right-long{
    width: 24%;
  }
}
  
@media(max-width:700px){
  .bgImgNav{
 height: .2rem;
 border: 1px solid white;
  }

  .buy-link{
    height: 4rem;
    font-size: 1.2rem;
    width: 40%;
  }

  .bento-heading{
    font-size: 5rem;
  }
  
  .category-bento{
    width: 98%;
    margin:.5rem;
  }

  .bento-left-long-img-name,.upper-a-img-name,.upper-b-img-name,.upper-c-img-name,.lower-a-img-name,.lower-b-img-name,.bento-right-long-img-name{
    padding-left: .3rem;
    padding-bottom: .8rem;
    font-size: 1.2rem;
  }

  .home-site-Info{
    padding:1rem;
  }
  #homeInfo-subhead{
    font-size: 1.3rem;
    
  }
  #homeInfo-para{
    font-size: .9rem;
   
  }
}

@media(max-width:600px){

  .home-Products-div-head{
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: .5rem;
 
    background-color: rgb(192, 206, 235);
  }

  .home-Products{
    border: 0px solid red;
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
 
  
    
  }
  .home-product{

    width: 100%;
    border: 1px solid rgb(130, 126, 126);
    border-radius: .2rem;
   
  }
}

@media(max-width:550px){

  .bento-heading{
    width: 95%;
    display: flex;
    flex-direction: column;
    font-size: 5rem;
    border: 0px solid white;
  }
  .bento-center{
    width: 100%;
    height: 400px;
  }
  .bento-center-upper,.bento-center-lower{
    display: flex;
    align-items: center;
    height: 50%;
  }
  .upper-a,.upper-c{
    width: 32%;
    height: 98%;
  }
  .upper-b{
    display: block;
    width: 32%;
  }
  .lower-a,.lower-b{
    height: 98%;
  }


  .bento-left-long,.bento-right-long{
    display: none;
  }
 

   .bento-left-long-img,.upper-a-img,.upper-b-img,.upper-c-img,.lower-a-img,.lower-b-img,.bento-right-long-img{
  
    justify-content: center;
  
    
  }
  .bento-left-long-img-name,.upper-a-img-name,.upper-b-img-name,.upper-c-img-name,.lower-a-img-name,.lower-b-img-name,.bento-right-long-img-name{
    
    padding-bottom: .8rem;
    font-size: 1.1rem;
  }
}

@media(max-width:400px){

  .buy-link{
    font-size: 1rem;
    height: 3rem;
    width:50%;
  }

  .home-Products{
    gap:0;
  }
  .category-bento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0rem;
  }
  .bento-center-upper{
   border: 0px solid red;
   padding: 0;
  }
  .bento-left-long,.bento-right-long{
    display: block;
    width: 100%;
  }
  .upper-b{
    display: none;
  }

  .upper-a,.upper-c{
    width: 49%;
  }
  .lower-a,.lower-b{
width: 49%;
  }

  .bento-left-long{
    height: 200px;
    padding:2px;
    
  }
  .bento-right-long{
    height: 200px;
    padding:2px;
  
  }
  .bento-left-long-img{
    background-position: 0px -0px;
  }

 .bento-left-long-img-name,.upper-a-img-name,.upper-b-img-name,.upper-c-img-name,.lower-a-img-name,.lower-b-img-name,.bento-right-long-img-name{
    
    padding-bottom: .8rem;
    font-size: 1.4rem;
  }
  #homeInfo-subhead{
    font-size: 1.2rem;
    
  }
  #homeInfo-para{
    font-size: .8rem;
   
  }

}
  
  




