 .store-footer{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(240,240,240);
  margin-top: 4rem;
  border: 0px solid red;
 }

 
 .store-footer-info{
  

        background-color: rgb(240,240,240);
    width: 95%;
    padding:2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
       font-family:'Inter';
     
   
    
  }

  .store-footer-heading{
    font-size: 1.2rem;
    padding-bottom: 2rem;
       
      color:rgb(80,80,80);
 
  }

.store-footer-list{
  display: flex;
  flex-direction: column;
  gap:2rem;
 
}
  #store-footer-subhead{
    font-size: 1rem;

      color:rgb(80,80,80);

    font-weight: 400;
  }

  #store-footer-products{
    font-size: .8rem;
   
        color:rgb(65, 65, 65);
    line-height: 1.5rem;
    font-weight: 300;

  }

    .storefooter-line-a{
  height: 1px;
  width: 100%;
  background-color: rgb(220, 220, 220);
  transform: scaleY(0.5);
  margin-top: .5rem;
  margin-bottom: .5rem;
  }

    @media(max-width:700px){
       .store-footer-info{
        padding:1rem;
       }

       .store-footer-heading{
        font-size: 1rem;
       }

        #store-footer-subhead{
          font-size: .85rem;
        }

        #store-footer-products{
          font-size: .75rem;
        }
    }