.sticky-sort-container{
  position: sticky;
  width: 100%;
 border: 0px solid blue;
  background-color: rgb(255, 255, 255);
   top:5rem; 
  z-index: 1;
  margin-top: 0rem;
  height: 3rem;
  transition: all .3s ease;
   overflow: hidden;
  

}


.current-sort-container-div{
position: absolute;
  top: 50%;
  transform: translateY(-50%);            
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  border-top: 0px solid rgb(230, 230, 230);
  background-color: rgb(255, 255, 255);
  


}

.current-sort-container{
position: relative;
 width: 90%;
  height: 70%;
   border-bottom: 0px solid rgb(210,210,210);
 padding-left: 0rem;
 display: flex;
justify-content:center;
align-items: flex-start;
 margin-bottom: .5rem;

 font-family: 'Raleway'; 
font-family: "Questrial", sans-serif;
font-family: 'Roboto';

  
   
   gap:.5rem;

}

.sort-div-head{
  white-space: nowrap;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: .8rem;
  letter-spacing: 1px;
  position: absolute;
  left:0rem;
   border: 0px solid red;
     height: 100%;
     font-family: "Questrial", sans-serif;
 
   color:rgb(75, 75, 75);


}



.sort-div-wrapper{
  display: flex;
  justify-content: center;
  border: 0px solid rgb(72, 67, 171);
  gap:2rem;
 width: 100%;
   height: 100%;
   position: relative;
  

}

.store-BB-div{
  display: flex;
  align-items: center;
}


.sort-div{
white-space: nowrap;
/*    background-color: rgb(235,235,235);  */
     font-family: "Questrial", sans-serif;
     font-family: 'Raleway';
     font-family: Lato;
     font-family: Outfit;
     font-family: 'Roboto';
     
  
     
   
  width: 5rem; 

 display: flex;
 justify-content: center;
 align-items: center;
  text-transform: uppercase;  
   letter-spacing: .05rem;
   font-size: .75rem;
   transition: all .3s ease;
font-weight: 400;
   color:rgb(100,100,100);

 
  
}

.sort-div-text{

padding: .4rem;
border-radius: 4px;
padding-top: .2rem;
padding-bottom: .2rem;
border: 0px solid rgb(150, 150, 150);
color:rgb(100,100,100);
width: 6rem;
text-align: center;
font-size: .8rem;
transition: all .3s ease;
background-color: rgb(235, 235, 235);

}

.sort-div-text:hover{
border: 1px solid rgb(50,50,50);
color:rgb(0, 0, 0);
background-color: white;
}

.sort-div:hover{
/*   border: 1px solid black;
  */
  cursor: pointer;

 color:rgb(0, 0, 0);
/*  color:rgb(89, 219, 219); */
 

 
}



.sort-div-selected{
  position: relative;
color:black;
   transition: all .3s ease;
 text-decoration: underline;
 text-underline-offset: 5px;
 text-decoration-thickness: 1.5px; 
 pointer-events: none;
 font-weight: 500;

 
  
}

.sort-div-selected .sort-div-text{
  background-color: rgb(30,30,30);
  color:white;
}

.sort-div-buttons{
    white-space: nowrap;
    width: 10rem;
  display: flex;
justify-content: space-between;
  align-items: center;
  color:rgb(202, 202, 202);
  font-size: .9rem;
  letter-spacing: .05rem;
  position: absolute;
  right:0rem;
   border: 0px solid red;
     height: 100%;
     pointer-events: none;
     font-size: .75rem;
     transition: all .2s ease;

}

.sort-active{
  display: flex;
  color:rgb(0, 0, 0);
      pointer-events: auto;
      
}
.sort-active:hover{
  
  cursor: pointer;
}

.order-sort-div{

    display: flex;
    align-items: center;
    gap:.2rem

}

.sort-button{
   
    width: .9rem;

}