.store-sorting-wrapper{
 border: 0px solid blue;
/* width: 100%; */
height: 3rem;
  z-index: 9;
display: flex;
align-items: center;
justify-content: center;
   flex-shrink: 0; 
  transition: all .3s ease;
  border-bottom: 0px solid rgb(220,220,220);
color:white;

}



/* 
.current-sort-container-div{
       
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 0px solid rgb(0, 0, 0);

} */

.store-head-wrapper {
  position: relative;
  width: 100%;
 height: 100%;

  display: flex;
  gap:2.5rem;
  align-items: center;
  justify-content: center;
  font-family: 'Figtree';
 font-family: sans-serif;
   color: white;
  background: transparent;
  border-radius: 10px;
 font-size: 14px;

  /* This makes the transition feel slow and premium */
  transition: 
    color 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    background 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    backdrop-filter 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    
  will-change: transform, width; /* Performance boost */

}




.store-filter-btn-wrapper{
  border:0px solid blue;
  display: flex;
  align-items: center;
  justify-content:center;
  gap:10px;
  height: 100%;

   border-radius: 6px;
   /* background-color: rgb(225, 225, 225); */




  



}

.store-filter-btn{

  height: 100%;
  background-color: rgb(255, 255, 255);
 display: flex;
 justify-content: center;
 align-items: center;
 gap:5px;
white-space: nowrap;
  color:black;
 /*  padding:2px 12px; */
  border-radius: 6px;
   font-size: 14px;
     border: 0px solid rgb(185, 185, 185,.5);

}

.clear-filter-wrapper{
height: 100%;
padding: 8px 0px;
}

.clear-filter-btn{
/* background-color: rgb(0,100,255);
color:white; */
background-color: rgb(255, 255, 255);
color:rgb(0, 0, 0);

}

.sort-order-btn{
  height: 100%;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 6px;

  transition: all.3s ease;
opacity: .5;
  pointer-events: none;
    border: 0px solid rgb(185, 185, 185,.5);
}

.sort-order-active{

opacity: .8;
      pointer-events:all;
}




.product-catelog-btn{
  font-size: .95rem;
  font-weight: 500;
  transition: color .3s ease;
  cursor: pointer;


}

.product-catelog-btn:hover{
  color:rgb(0,100,255);
}


.sort-head-title{

  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.1rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.store-toggle-wrapper{
  border: 0px solid blue;
display: flex;
align-items: center;
gap:3rem;

}

.partialToggle-wrapper{
  border: 0px solid red;
  padding: 10px;
  display: grid;
  place-items: center;
}




/* .category-active{
    color: rgb(0,100,255);            
  fill: rgb(0,100,255);  
} */





.store-header-btn{
  display: flex;
  gap: 1rem;
}






.sort-label {
font-size: 9px;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #777; /* Dimmed so it looks like a label */
  margin-bottom: 0px;

}













.sort-Icon{
  border: 0px solid black;
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all .3s ease;

   
}












