.sticky-sort-container{
  position: sticky;
  width: 100%;
 border: 0px solid blue;
  background-color: rgb(255, 255, 255);
   top:5rem; 
  z-index: 9;
  margin-top: 0rem;
  height: 4rem;
  transition: all .3s ease;

  

}


.current-sort-container-div{
position: absolute;
  top: 50%;
  transform: translateY(-50%);            
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 0px solid rgb(230, 230, 230);
  
  


}

.current-sort-container{
position: relative;
 width: 90%;
  height: 70%;
   border-bottom: 0px solid rgb(210,210,210);
 padding-left: 0rem;
 display: flex;
justify-content:space-between;
align-items: flex-start;
 margin-bottom: .5rem;

 font-family: 'Raleway'; 
font-family: "Questrial", sans-serif;
font-family: 'Roboto';


  
   
   gap:.5rem;

}


.category-div {
  border: 0px solid red;
  height: 3rem;
  width: 9rem;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
    letter-spacing: .05rem;
  gap:.7rem;
  transition: all .3s ease;
      border-radius: 0px;
  overflow: hidden;
  border: 1px solid rgb(50, 50, 50);;

}
.category-div:hover{
    border: 1px solid transparent;
}

.filter-button-content{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:.5rem
}

.category-div--default {
  
  color: rgb(50, 50, 50);

}

.category-div--selected {
  background-color: rgb(0, 0, 0);
  color: white;
}




.category-div--default:hover {

  cursor: pointer;
  color: black;
  border-color: black;
  



}

.category-div--selected:hover{
    cursor: pointer;
    background-color: rgb(30,30,30);
}



.select-category-head{

  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
font-size: .9rem;
font-weight: 500;
  font-family: 'Jost';
  font-family: 'Raleway';
  font-family:'Lato';
   font-family: 'Outfit';
   font-family: 'Poppins';

 
  
}



.select-category-icon-div{
  display: flex;
  align-items: center;


 
}

.select-category-icon{
  width: 1.25rem;
  height: 1.25rem;
  transition: all .15s ease;
 
}


.sort-dropDown-div{
    border: 0px solid purple;
    display: flex;
    gap:2rem;
    align-items: center;
    
}

