.sticky-sort-container{
  position: sticky;
  width: 100%;
 border: 0px solid blue;

   top:0rem; 
  z-index: 9;
  margin-top: 0rem;
  height: 6rem;
  transition: all .3s ease;
  border-bottom: 0px solid rgb(220,220,220);
box-shadow: 0 5px 5px rgba(150, 150, 150, 0.1);

}


.current-sort-container-div{
/* position: absolute;
  top: 50%;
  transform: translateY(-50%);         */    
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 0px solid rgb(230, 230, 230);

  
  


}

.current-sort-container{
position: relative;
 width: 90%;
  height: 100%;
   border-bottom: 0px solid rgb(210,210,210);
 padding-left: 0rem;
 display: flex;
justify-content:space-between;
align-items:center;
border: 0px solid red;

 font-family: 'Raleway'; 
font-family: "Questrial", sans-serif;
  font-family:sans-serif;
 
gap:1rem;

}

.store-header-blur-div{
   width: 100%;

      position: absolute;
      height: 100%;
           background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}


.store-iconBtn-wrapper{
  display: flex;
  align-items: center;
  gap: 1rem;
      height: 100%;
  
}



.sort-dropDown-div{

    display: flex;
    gap:2rem;
    align-items: center;
    position: relative;
   
    
}

.sorting-panel{

width: 100%;
/* height: 10rem; */
position: absolute;
top:3rem;
border-radius: 10px;
/*    background: rgba(255, 255, 255, 0.700);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px); */
  
  border: 1px solid #eee;
  box-shadow: 0 12px 30px rgba(0,0,0,0.2);
    opacity: 0;
  visibility: hidden;
  transform: translateY(-8px);
  transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  background: rgba(255, 255, 255, 0.5); 
  
  backdrop-filter: blur(10px) ;
  -webkit-backdrop-filter: blur(10px);
}

.sort-panel-visible{
  
opacity: 1; visibility: visible; transform: translateY(0);

}

.store-sort-div{
  height: 3rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  cursor: pointer;
}

.store-sort-div:hover , .store-sort-selected{
  
}






.sort-Icon{
  border: 0px solid black;
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all .3s ease;

   
}

.store-sort-div:hover .sort-Icon,
.store-sort-selected .sort-Icon {
  color: blue;
  border-color: blue;

}

.clear-store-sort-div{
  width: 100%;
 
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear-store-sort-div span{
 width: 70%;
 height: 1.5rem;
 display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(50, 50, 50);
  border-radius: 25px;
  font-size: .9rem;

}

.clear-store-sort-div:hover span {
  background-color: rgb(35, 35, 35);
  color:white;
  cursor: pointer;
}



.store-header-info-wrapper{
  z-index: 9;
  display: flex;
  gap: 2rem;
  align-items: center;
    font-size: .95rem;
    
}

.order-toggle-div{
  display: flex;
  align-items: center;
  gap: .3rem;
  color:rgb(180, 180, 180);

}

.order-visible{

color:black
}

.order-icon{
  width: 1rem;
  
}

.order-visible:hover{
  color:blue;
  cursor: pointer;
}



.product-count-div{
  color:black;
    
    border: 0px solid red;
}

.product-count-div span{
  font-weight: 500;
}