.sticky-sort-container{
  position: sticky;
  width: 100%;
 border: 0px solid blue;
  background-color: rgb(255, 255, 255);
   top:0rem; 
  z-index: 9;
  margin-top: 0rem;
  height: 5rem;
  transition: all .3s ease;
/*   background-color: #eee; */

  

}


.current-sort-container-div{
position: absolute;
  top: 50%;
  transform: translateY(-50%);            
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 0px solid rgb(230, 230, 230);
  
  


}

.current-sort-container{
position: relative;
 width: 90%;
  height: 70%;
   border-bottom: 0px solid rgb(210,210,210);
 padding-left: 0rem;
 display: flex;
justify-content:start;
align-items:center;
 margin-bottom: .5rem;

 font-family: 'Raleway'; 
font-family: "Questrial", sans-serif;
font-family: 'Roboto';
 font-family: "Rethink Sans", sans-serif;
gap:1rem;


  
   


}


.category-div {
  border: 0px solid red;
  height: 2.5rem;
  width: 9rem;
 position: absolute;
 right:0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
    letter-spacing: .05rem;
  gap:.7rem;
  transition: all .3s ease;
      border-radius: 0px;
  overflow: hidden;
  border: 1px solid rgb(50, 50, 50);
  border-radius: 20px;

}
.category-div:hover{
    border: 1px solid transparent;
}

.filter-button-content{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:.5rem
}

.category-div--default {
  
  color: rgb(50, 50, 50);

}

.category-div--selected {
  background-color: rgb(0, 0, 0);
  color: white;
}




.category-div--default:hover {

  cursor: pointer;
  color: black;
  border-color: black;
  



}

.category-div--selected:hover{
    cursor: pointer;
    background-color: rgb(30,30,30);
}



.select-category-head{

  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
font-size: .9rem;
font-weight: 500;
  font-family: 'Jost';
  font-family: 'Raleway';
  font-family:'Lato';
   font-family: 'Outfit';
   font-family: 'Poppins';

 
  
}



.select-category-icon-div{
  display: flex;
  align-items: center;


 
}

.select-category-icon{
  width: 1.25rem;
  height: 1.25rem;
  transition: all .15s ease;
 
}


.sort-dropDown-div{
    border: 0px solid purple;
    display: flex;
    gap:2rem;
    align-items: center;
    
}

.filter-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:1rem;
}

.filter-div{
  width: 9rem;
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
    border: 1px solid transparent;
  border-radius: 20px;
  font-size: .85rem;

  background-color: rgb(240,240,240);
  color:rgb(100,100,100);
  transition: all .3s ease;
  font-family: 'Outfit';
  font-family: 'Inter';
  font-family: sans-serif;
  font-family: 'Manrope';
   font-family: "Figtree", sans-serif;
    font-family: "Rethink Sans", sans-serif; /* try this everywhrere */
}

.filter-div:hover{
 background-color: white;
 cursor: pointer;
 border-color:black ;
 color:black;
}

.filter-div-selected{
  background-color: black;
  color:white;
}

.filter-div-selected:hover{
  background-color: rgb(40, 40, 40);
  border-color:transparent ;
  color:white;
}
