
  .extra-header-wrapper{
    width: 100%;
    height: 2.5rem;
    border: 0px solid red;
   display: grid;
   place-items: center;
    background-color: rgb(0, 0, 80);
    background-color: white;
    color:rgb(0, 0, 0);
    font-family:'Figtree';
       font-family: "Questrial", sans-serif;
      position: relative;

    font-size: .74rem;
    font-weight: 400;
    
     
  }
.extra-link-wrapper {
  position: absolute; /* Keeps them in the same spot */
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  transition: opacity 1s ease-in-out, transform 0.8s ease-in-out;
}

/* Visibility States */
.visible {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateY(5px); /* Adds a slight "lift" effect when fading */
}

#extra-link {
  font-weight: 600;
}

#extra-text {
  opacity: 0.8;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 3px;
  cursor: pointer;
}

.language-button{
  position: absolute;
  right: 6rem;
  display: flex;
  align-items: center;
  gap:5px;
}