@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto:wght@400;500&display=swap');

  .trending-products-div{
 
  }









  .Home-bottom{
    border: 0px solid red;
    width: 100%;
    margin-top: 4rem;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:  'Gill Sans MT', Calibri,'Gill Sans' , sans-serif;

  }


  
  .trending-products-div{
    border: 0px solid rgb(229, 29, 29);
    width:100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }

  .trending-products-heading-div{
    
       display: flex;
   justify-content: center;
    align-items: center;
     background-color: #eeeeee;
      width: 100%;
      margin-bottom: 1rem;
      

  }

  .trending-products-heading{

    font-size: 3rem;

    color:rgb(31, 31, 31);
    border-bottom: 0px solid rgb(22, 22, 22);
  width: 88%;
    height: 100%;
    display: flex;
    align-items: center;
    
    
  

       /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
        
  font-family: 'Montserrat', sans-serif;  

    letter-spacing: 0.1rem;
    font-weight: 500;
  }

 

  .trending-products{
    border: 0px solid rgb(10, 10, 10);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #trending-product{
    border: 0px solid rgb(229, 29, 29) ;
    width: 50%;
    height:100%;
    overflow: hidden;
  }

  .trending-product-1{
        width: 100%;
    height: 100%;
    background-image: url('/QM-Img-tp1.webp') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: transform .3s ease ;
  }

  .trending-product-2{
       width: 100%;
    height: 100%;
    background-image: url('/QM-Img-tp2.webp') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
      transition: transform .3s ease ;
    
  }

  #trending-product:hover .trending-product-1 ,#trending-product:hover .trending-product-2{
transform :scale(1.03);
  }

  .tp-1-btn{
    position: absolute;
    bottom: 15%;
    right:2%;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 0px solid white;
    font-size: 4rem;
    padding:1rem;
  }

  .tp-2-btn{
    position: absolute;
    bottom: 15%;
    left:2%;
    color:rgb(32, 32, 32);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 0px solid rgb(0, 0, 0);
    font-size: 4rem;
    padding:1rem;
    
  }

  
 