@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');








  .Home-bottom{
    border: 0px solid red;
    width: 100%;
    margin-top: 4rem;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:  'Gill Sans MT', Calibri,'Gill Sans' , sans-serif;

  }


  
  .trending-products-div{
    border: 0px solid rgb(229, 29, 29);
    width:100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
   
  }



  .trending-products-frame{

    position: absolute;
    width: 100%;
  height: 1px;
  background-color: rgb(200, 200, 200);
  z-index: 0;
    top:50%;
  }


  .trending-products-heading-div{
    
       display: flex;
   justify-content: center;
    align-items: center;
     background-color: #eeeeee;
      width: 100%;
      margin-bottom: 1rem;
       position: relative;
      

  }
    .trending-products-heading-content{
     display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 

 
 white-space: nowrap;
 border: 0px solid black;
 padding-left: .5rem;
 padding-right: .5rem;
 background-color: #eeeeee;
  width: 100%;




  

  }

  .trending-products-heading{

     display: flex;
    justify-content: end;
    align-items: center;

    font-size: 3rem;
    height: 100%;
    border-bottom: 0px solid rgb(22, 22, 22);
    color:rgb(22, 22, 22);

    z-index: 1;
            font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
    background-color: #ffffff;
   
    
  }


 

  .trending-products{
    border: 0px solid rgb(10, 10, 10);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #trending-product{
    border: 0px solid rgb(229, 29, 29) ;
    width: 50%;
    height:100%;
    overflow: hidden;
  }

  .trending-product-1{
        width: 100%;
    height: 100%;
    background-image: url('/QM-Img-tp1.jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: transform .3s ease ;
  }

  .trending-product-2{
       width: 100%;
    height: 100%;

    background-image: url('/QM-Img-tp5.jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
      transition: transform .3s ease ;
    
  }



#tp-btn{

   display: flex;
   justify-content: center;
   align-items: center;
   width: 80%;
        font-family: 'Montserrat', sans-serif; 
  font-weight: 600;
      font-size:3.5rem;
   
}

  .tp-1-btn{
    position: absolute;
    bottom: 10%;
    right:50%;
    transform: translateX(50%);
    color:rgba(255, 255, 255, 0.5);
  


    
      transition: all 0.2s ease;
  }

  .trending-product-1:hover .tp-1-btn{
    color:rgb(255, 255, 255);
   
    cursor: pointer;
  }

  .tp-2-btn{
    position: absolute;
    bottom: 10%;
        right:50%;
    transform: translateX(50%);
        color:rgba(255, 255, 255, 0.6);

   

 
      transition: all 0.3s ease;
    
  }

    .trending-product-2:hover .tp-2-btn{
  color:rgb(255, 255, 255);
       cursor: pointer;
  }

  
 