@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');








  .Home-bottom{
    border: 0px solid red;
    width: 100%;
background-color: white;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

  }


  
  .trending-products-div{
    border: 0px solid rgb(233, 169, 169);
    width:100%;
   
    display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  
   
  }




  
.trend-container{
    border: 0px solid red ;
    width: 90%;
        height: 80vh;
 display: flex;
 flex-direction: row;
 align-items: center;
/*     background-color: #eee; */
    justify-content: space-evenly;

}

#trend-div{
    width: 50%;
 height: 100%;
     background-color: blue;
     position: relative;
}

.trend-div1{
    background-image: url('/FashionTrend/Men-clothing2.jpg ');
    background-position: top;
    background-size: cover;
    
}

.trend-div2{
    background-image: url('/FashionTrend/Women-clothing.jpg ');
    background-position: top;
    background-size: cover;
    
}


#trend-name-div{
    position: absolute;
    bottom: .5rem;
    border: 0px solid red;
    width: 95%;
   left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

#trend-name{
    font-size: 1.8rem;
    font-family: 'Montserrat';
    color:white;
    font-weight: 600;
}


#trend-button{
   background-color: transparent;
   border: 1px solid white;
   height: 2.5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 1rem;  
   color:white;
   font-family: 'Poppins';
   font-weight: 400;
   transition: all .3s ease;
}

#trend-div:hover #trend-button:hover{
    cursor: pointer;
    background-color: rgb(240,240,240);
}

#trend-div:hover #trend-button{
    background-color: rgb(255, 255, 255);
    color:rgb(10,10,10);
}






  @media(max-width:1000px){
    .trend-container{
              height: 70vh;
    }
        #trend-button{
     font-size: .8rem;
     padding: .5rem;
    }
  }

    @media(max-width:550px){
    .trend-container{
              height: 70vh;
    }
        #trend-name-div{
          flex-direction: column;
      justify-content: space-between;
      height: 50%;
    }
 #trend-name{
    font-size: 2rem;
    font-family: 'Montserrat';
    color:white;
    font-weight: 600;
}
    #trend-button{
    width: 50%;
    
    }
  }

      @media(max-width:400px){
    .trend-container{
              height: 80vh;
                  width: 95%;
    }

       #trend-button{
    width: 70%;
    height: 2rem;
    
    }


  }

