

 #home-product-div .home-heading{
    color:white;
 }

.home-ProductCard{
    font-family: 'Inter';
    border: 0px solid red;
    position: relative;
   
}


.hp-img-wrapper {
 border: 0px solid blue;
 display: grid;
 place-items: center;
 width: 100%;
 aspect-ratio: 1 / 1;
 background-color: #eee;
  cursor: pointer;
}

.hp-img-wrapper img{
    width: 75%;
    transition: transform .3s ease;
   
}

.hp-img-wrapper:hover img{
    transform: scale(1.05);
}

.hp-info-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0rem;
    gap: 8px;
    font-size: .95rem;
}

.hp-name{
    font-weight: 500;
     color:white;
}

.hp-brand{
 font-size: .9rem;
 color: rgb(100,100,100);
color:rgb(150,150,150);
}

.hp-price{
 font-weight: 400;
 font-size: .9rem;
  color: rgb(100,100,100);
color:rgb(201, 201, 201);

}


  .hp-Add-button{

display: flex;
    justify-content:center;
    height:3rem;

   width: 100%;
    z-index: 0;
      transform: translateY(4rem);
  transition: all .5s ease;
  opacity: 0;
  border: 0px solid red;
    border-radius: 20px;
  overflow: hidden;
 

  }

 .home-ProductCard:hover .hp-Add-button{
transform: translateY(0);
  opacity: 1;
   }

#hp-tag{
 position: absolute;
 top: 5px;
 right:5px;
 text-transform: uppercase;
font-family:sans-serif;
 font-size: .85rem;
 border-radius:0px 0px 3px 3px ; 
  padding: 3px 1.2rem;
   }

   .newArrivals-home-Products-div  .hp-tag-new{
   border: 2px solid rgb(0, 0, 255);
    color:blue;
   }
 

 .newArrivals-home-Products-div .hp-tag-discount{
    display: none;
   }

   .discount-home-Products-div .hp-tag-new{
    display: none;
   }

   .discount-home-Products-div .hp-tag-discount{
     border: 2px solid rgb(255, 35, 35);
    color:rgb(255, 35, 35);
   }