.page-head-div{
  position: sticky;
  top:0;
  height: 80vh;
  color:black;
    border: 0px solid red;
    
    width: 100%;
    display: flex;
    align-items: end;
   
    background-position: top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    z-index: 0;
    padding: 20px;
}



.page-head-div h2{
  font-size: 4rem;

  margin-left: 5rem;
  font-family: "Prosto One", sans-serif;
  font-family: 'Raleway';
   font-family: "Questrial", sans-serif; 
/*   font-family: "Outfit"; */



  font-weight: 500;
  color:white;
  border: 0px solid red;

  
}

.page-head-div span{
  color:blue;
  font-weight: 600;
}

.page-head-div p{
  border: 0px solid blue;
  color:white;
  width: 50%;
   margin-left: 5rem;
  
   font-weight: 300;
   font-size: 1.3rem;

   font-family: 'Jost';
   width: 35%;
  
   

}
