.store-page-header{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:end;
  align-items: center;
  z-index: 2;
  height: 10rem;
 background-color: white;
 border: 1px solid red;
 margin-top: 0rem;
 position: sticky;
 top:0rem;
 border-bottom: 0px solid rgb(225,225,225);
 padding-bottom: 0rem;


}

.store-page-heading-div{

  width: 90%; 
height:35%;
position: relative;
  display: flex;
  align-items: end;
  justify-content: space-between;
   background-color: rgb(255, 255, 255); /* black */
   z-index: 1;
   border-bottom: 0px solid rgb(0, 98, 255) ;
   border: 0px solid blue;
   margin-bottom:1rem;

}

.store-page-heading{

  display: flex;
  align-items: center;
  
  gap: .5rem;
  color: rgb(20,20,20);
  z-index: 1;
  font-family: "Questrial", sans-serif;
  font-family: 'Jost';
 font-size: 1.2rem;
 letter-spacing: .05rem;


}

.store-all-link{

 color:rgb(75, 75, 75);

}

.store-all-link:hover{
cursor: pointer;
  color: rgb(20,20,20);
}



.category-div {
  border: 0px solid red;
  height: 3rem;
  width: 9rem;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
    letter-spacing: .05rem;
  gap:.5rem;
  transition: all .3s ease;
  margin-bottom: -0.5rem;

  border: 2px solid transparent;
  
  

}

.category-div--default {
  background-color: rgb(235, 235, 235);
  color: black;
}

.category-div--selected {
  background-color: rgb(0, 0, 0);
  color: white;
}




.category-div--default:hover {

  cursor: pointer;
  background-color: transparent;
  border: 1px solid black;


}

.category-div--selected:hover{
    cursor: pointer;
    background-color: rgb(30,30,30);
}



.select-category-head{

  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
font-size: 1rem;

  font-family: 'Jost';
 
  
}



.select-category-icon-div{
  display: flex;
  align-items: center;


 
}

.select-category-icon{
  width: 1.5rem;
  height: 1.5rem;
  transition: all .15s ease;
 
}

@media(max-width:500px){
  .store-page-header{
    display: none;
  }
}

