.store-Header{
width: 100%;
display: flex;
justify-content: space-between;
height: 5rem;
padding: 0px 16px;
border: 0px solid red;
border: 1px solid rgba(220, 220, 220, 0.5);
border-radius: 15px;
backdrop-filter: blur(10px);
}

.store-middle-head-wrapper{
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
    width: 30%;
height: 3rem;
display: flex;
justify-content: center;
align-items: center;
gap: 2rem;
color:rgb(0, 0, 0);
z-index: 999;
font-family: 'Inter';
font-size: 14px;
transition: color .3s ease;
}

.middle-head-active{
    color:rgb(30,30,30);
}

.store-middle-head{
  display: flex;
  align-items: center;
  gap: 5px;
}

.middle-dot{
  width: 4px;
  aspect-ratio: 1/1;
  background-color: rgb(65, 65, 65);
  border-radius: 50%;
  transition: background .3s ease;
}

.store-middle-head:hover{
  
 color:rgb(0,100,255);
}

.store-middle-head:hover .middle-dot{
  background-color:rgb(0,100,255) ;
}


.store-catelog-btn-wrapper,.store-head-menu-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100%;
  padding: 10px 0px;
  z-index: 999;
       font-family: 'Inter';
     font-family: sans-serif;
     font-size: 14px;


}


.store-catelog-btn{
  
  height: 2.8rem;
  
/*   padding: 16px; */

 display: flex;
 justify-content: center;
 align-items: center;

 font-size: 14px;
 font-weight: 400;
   border-radius: 100px;
  
   backdrop-filter: blur(5px);
 color:rgb(255, 255, 255);
 font-family: 'Inter';

background-color: rgba(225, 225, 225, 0.8);
background-color: rgb(122, 122, 122);
/* background-color: rgba(0, 0, 0, 0.75); */
letter-spacing: 1px;
   cursor: pointer;
    transition: all .3s ease;
  overflow: hidden;
font-family: 'Figtree';
   font-family: "Questrial", sans-serif; 
font-family: sans-serif;
 font-weight: 500;
  color: #ffffff;
  box-shadow: inset 0px 0px 2px rgb(255, 255, 255);
     /*  background: linear-gradient(to right, rgb(0,100,255,.8), rgb(255, 100, 0,.8));   */
    box-shadow: inset 0px 0px 10px rgb(255, 255, 255); 
    background-color: rgb(35,35,35);
    background:
    linear-gradient(
      90deg,
      rgba(0,100,255),
      rgba(180,0,255)
    );

   



/*    background:
    linear-gradient(to right, rgba(0, 0, 255, 0.667), rgba(255, 166, 0, 0.644));
 */

}

.store-catelog-btn:hover{
  box-shadow: inset 0px 0px 20px rgb(255, 255, 255);
}


.store-filter{
  background-color: white;
}


.scroll-btn-Icon-wrapper{
  height:100%;
  aspect-ratio: 1/1;

 
  display: grid;
  place-items: center;
  padding: 8px;

}

.scroll-btn-Icon-content{
  position: relative;

  height: 100%;
  width: 100%;

  border-radius: 50%;

  display: grid;
  place-items: center;

  overflow: hidden;
/*  background-color: rgb(249, 249, 249); */

  transition: transform 0.5s ease;
}



/* Gradient Layer */

.store-catelog-btn .scroll-btn-Icon-content::before{
  content: "";

  position: absolute;
  inset: 0;

  border-radius: inherit;

/*   background:
    linear-gradient(to right, rgba(0, 0, 255, 0.667), rgba(255, 166, 0, 0.644)); */

  transition: opacity 1s ease;

  z-index: 0;
}



/* White Layer */

.store-catelog-btn .scroll-btn-Icon-content::after{
  content: "";

  position: absolute;
  inset: 0;

  border-radius: inherit;

  background: white;

  opacity: 0;

  transition: opacity 1s ease;

  z-index: 0;
}



/* Hover */

.store-catelog-btn:hover .scroll-btn-Icon-content{
  transform: scale(.3);
}

.store-catelog-btn:hover .scroll-btn-Icon-content::before{
  opacity: 0;
}

.store-catelog-btn:hover .scroll-btn-Icon-content::after{
  opacity: 1;
}



/* ICON */

.category-icon{
  position: relative;

  z-index: 2;

  color: white;

  transition:
    color 0.5s ease,
    transform 0.5s ease;
}




.scroll-btn-Icon{
  fill:rgb(255, 255, 255);
  color:rgb(255, 255, 255);
  
}

.catelog-button{

  
}

.category-icon {
   color: rgb(255, 255, 255);            /* This controls the 'color' prop / stroke */
  fill: rgb(255, 255, 255);       /* This controls the 'fill' prop */
  transition: all 0.2s ease; /* Makes the change smooth */
  cursor: pointer;

  
}
.store-catelog-btn:hover .category-icon ,.store-catelog-active .category-icon {
  /*  color: rgb(0,100,255);            
  fill: rgb(0,100,255);    */   



  
}

.store-head-menu{
   height: 3rem;
    aspect-ratio: 1/1;
     display: flex;
 justify-content: center;
 align-items: center;
  border-radius: 100px;
   


 
 color:rgb(0, 0, 0);
/* box-shadow: inset 0px 0px 10px rgba(180, 180, 180, 0.5); */
 transition: all .3s ease;
 cursor: pointer;
 
}

.store-menu-open{
box-shadow: none;
}





.store-btn-open{
background-color: transparent;
backdrop-filter: blur(0px);


}

/* .store-catelog-active{
    background-color: transparent;
    backdrop-filter: blur(0px);
box-shadow: none;
  color:rgb(0,100,255);

   
}
 */

 
.side-filter-btn-wrapper{

  height: 2.8rem;
  
/*   padding: 16px; */

 display: flex;
 justify-content: center;
 align-items: center;

 font-size: 14px;
 font-weight: 400;
   border-radius: 100px;
  

 color:rgb(255, 255, 255);
 font-family: 'Inter';
 


/* background-color: rgba(0, 0, 0, 0.75); */
letter-spacing: 1px;
   cursor: pointer;
    transition: all .3s ease;
  overflow: hidden;
font-family: 'Figtree';
   font-family: "Questrial", sans-serif; 
font-family: sans-serif;
 font-weight: 500;
  color: #ffffff;
  box-shadow: inset 0px 0px 2px rgb(255, 255, 255);
     /*  background: linear-gradient(to right, rgb(0,100,255,.8), rgb(255, 100, 0,.8));   */
    box-shadow: inset 0px 0px 0px rgb(255, 255, 255); 
/*     background-color: rgb(25, 25, 25); */
    border: 1px solid rgba(165, 165, 165, 0.5);


  color: rgb(0, 0, 0);
 background-color: white;
 background-color: rgba(243, 246, 249, 0.8);

  
}

.side-filter-btn-wrapper:hover{

}

.side-filter-btn-wrapper:hover{

  box-shadow: inset 0px 0px 10px rgba(255, 255, 255);


}

/* Gradient Layer */

.side-filter-btn-wrapper.scroll-btn-Icon-content::before{
  content: "";

  position: absolute;
  inset: 0;

  border-radius: inherit;

/*   background:
    linear-gradient(to right, rgba(0, 0, 255, 0.667), rgba(255, 166, 0, 0.644)); */

  transition: opacity 1s ease;

  z-index: 0;
}



/* White Layer */

.side-filter-btn-wrapper .scroll-btn-Icon-content::after{
  content: "";

  position: absolute;
  inset: 0;

  border-radius: inherit;

  background: rgb(0, 0, 0);

  opacity: 0;

  transition: opacity .5s ease;

  z-index: 0;
}


.side-filter-btn-wrapper:hover .scroll-btn-Icon-content{
  transform: scale(.3);
  
}

.side-filter-btn-wrapper:hover .scroll-btn-Icon-content::before{
  opacity: 0;
}

.side-filter-btn-wrapper:hover .scroll-btn-Icon-content::after{
  opacity: 1;
}


.store-head-search-wrapper{

    position: relative;
}

.store-head-search{
  border: none;
  border-radius: 100px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255,.8);
  padding: 10px;

}

.store-search-icon{
position: absolute;
right: 10px;
top: 50%;
transform: translateY(-50%);
}