.store-page-header{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:end;
  align-items: center;
  z-index: 2;
  height: 5rem;
 background-color: white;
 border: 0px solid red;
 margin-top: 0rem;
 position: sticky;
 top:5rem;
 border-bottom: 0px solid rgb(225,225,225);
 padding-bottom: 0rem;


}

.store-page-heading-div{

  width: 90%; 
height:100%;
position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
   background-color: rgb(255, 255, 255); /* black */
   z-index: 1;
   border-bottom: 0px solid rgb(0, 98, 255) ;
   border: 0px solid blue;
   border-bottom: 1px solid rgb(225, 225, 225);
   margin-bottom:0rem;

}

.store-page-heading{

  display: flex;
  align-items: center;
  height: 3rem;
  gap: .5rem;
  color: rgb(20,20,20);
  z-index: 1;
  font-family: "Questrial", sans-serif;
  font-family: 'Jost';

    
 font-size: 1.5rem;
 letter-spacing: .05rem;
 border: 0px solid green;


}

.store-all-link{
 white-space: nowrap;
 color:rgb(75, 75, 75);
 font-size: .8rem;
 font-weight:600;
font-family: 'Raleway';
font-family:'Lato';
 font-family: "Questrial", sans-serif; 
 font-family: 'Outfit';
 font-family: 'Roboto';
      font-family: "Questrial", sans-serif;
 letter-spacing: 1px;
 text-transform: uppercase;


}

.store-all-link:hover{
cursor: pointer;
  color: rgb(20,20,20);
}

.store-category-head{
    font-family: 'Raleway';
  font-family: 'Outfit';
  text-transform: uppercase;
   font-size: 1.1rem;
 font-weight:400;
  letter-spacing: 1px;
  
}

.store-category-head1{
    position: absolute;

    width: 100%;
 
    font-weight: 400;
    height: 3rem;
    display: flex;
    justify-content: center;
   
    font-family: 'Raleway';
    font-family: 'Outfit';
/*     font-family: 'Outfit';
       font-family: "Questrial", sans-serif; */
         
     align-items: center;
      font-family: 'Outfit';

   font-size: 1.5rem;
 font-weight:400;
  letter-spacing: 1px;
    border: 0px solid red;
      
}




.category-div {
  border: 0px solid red;
  height: 3rem;
  width: 9rem;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
    letter-spacing: .05rem;
  gap:.7rem;
  transition: all .3s ease;
      border-radius: 25px;
  overflow: hidden;
  border: 0px solid rgb(50, 50, 50);;

  
  

}

.filter-button-content{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:.5rem
}

.category-div--default {
  
  color: rgb(50, 50, 50);

}

.category-div--selected {
  background-color: rgb(0, 0, 0);
  color: white;
}




.category-div--default:hover {

  cursor: pointer;
  color: black;
  border-color: black;
  



}

.category-div--selected:hover{
    cursor: pointer;
    background-color: rgb(30,30,30);
}



.select-category-head{

  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
font-size: .9rem;
font-weight: 500;
  font-family: 'Jost';
  font-family: 'Raleway';
  font-family:'Lato';
   font-family: 'Outfit';

 
  
}



.select-category-icon-div{
  display: flex;
  align-items: center;


 
}

.select-category-icon{
  width: 1.25rem;
  height: 1.25rem;
  transition: all .15s ease;
 
}

.sorting-test{
  color:black;
  border: 0px solid red;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:4rem;
  font-family: 'Roboto';
  font-size: .9rem;
  color:rgb(75, 75, 75);
} 

@media(max-width:500px){
  .store-page-header{
    display: none;
  }
}

