
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100..900&display=swap');


.bento-div{
  width: 100%;
  margin-top: 3rem;

}


  .bento-container-div{
    display: flex;

    align-items: center;
      position: relative;
      padding-top:0rem ;
       
      
  }

  .bento-container{
    margin-left:4rem;
 
    display: flex;
    flex-direction: row;
    gap:1.5rem;
    /* background-color: rgb(255, 255, 255); */
    width: 100vw;
     transition: transform 1000ms ease;
    
  /*   translate: -500px; */

     

  }

  .bento-container-nav-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 99vw;
    position: absolute;
 
  }

  #bento-nav{
  width: 5rem;
    height: 5rem;
   color: #eaeaea;
    background-color: #00000089;
    border: 0px solid #eeeeee9f;
    border-radius: 50%;
    padding:0;
z-index: 999;

  }

 

  .bento-left{
    

    margin-left: 1rem;
      /* transform: scale(0.5);
  opacity: 0;
  transition: transform .8s, opacity .8s; */
 
  }

  .bento-left:hover{
     background-color: #000000bf;
  }

   .bento-container-div:hover .bento-left{
    
      transform: scale(1);
  opacity: 1;
   }

  .bento-right{
/*   transform: scale(0.5);
  opacity: 0;
  transition: transform .8s, opacity .8s; */
    margin-right: 0;
 
  }

    .bento-right:hover{
     background-color: #000000bf;
  }

     .bento-container-div:hover .bento-right{
    
      transform: scale(1);
  opacity: 1;
   }



  #card-bento-div{
    width:25%;
   /*  height: 450px; */
   height:70vh;
  display: flex;
  justify-content: center;
  align-items: center;
    border: 0px solid black;
    flex-shrink: 0;
    border-radius: 1rem;
       background-color: white;
    border: 1px solid rgb(210, 210, 210);

    /* box-shadow: 5px 5px 10px rgb(175, 175, 175); */
/*     background-color: rgb(225, 225, 225); */

 transition: all .8s ease;

  }
  #card-bento-div:hover{

    border: 1px solid transparent;
 background-color: #eee;
   }




  #card-bento{
height: 90%;
width: 90%;
 background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
    position: relative;
       transition: transform .3s ease,  box-shadow 0.5s ease-in-out;
  }

    #card-bento:hover  {
   
    transform: scale(1.02);
    box-shadow: 0px 5px 10px rgb(126, 126, 126);
    cursor: pointer;
  
  }



   

  #card-bento-name{
      font-size: 2rem;

  position: absolute;
     font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;

 
  font-style: normal;
  top: 90%;
  left:50%;
  transform: translate(-50%,-50%);
  color:rgb(255, 255, 255);
  width: 80%;
border:0px solid white;
  display: flex;
  justify-content: start;
/*   border-top-right-radius: .5rem;
  border-top-left-radius: .5rem; */
  }


  @media(max-width:1200px){

    .bento-container{
 margin-left:3rem;
     gap:1rem;
    }

      #card-bento-div{
      width:30%;
       height:60vh;
    }
  }
  @media(max-width:850px){

    .bento-container{
 margin-left:3rem;
     gap:1rem;
    }

      #card-bento-div{
      width:35%;

    }
    #bento-nav{
      width: 4rem;
      height: 4rem;
    }
  }

    @media(max-width:700px){

  .bento-container-nav-div{
   width: 10rem;
   bottom:0rem;
   right:0;
      }

   #card-bento-div{
      width:40%;
       height:65vh;
    }
     .bento-container{
 margin-left:2rem;
     gap:1rem;
    }
    }

   @media(max-width:600px){

   #card-bento-div{
      width:70%;
       height:70vh;
    }

    .bento-container{
       overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; /* enables smooth momentum scrolling on iOS */
    }
 .bento-container::-webkit-scrollbar {
  display: none; /* hide scrollbar */
}
    .bento-container-nav-div{
      display: none;
    }
  
    }

   @media(max-width:400px){

   #card-bento-div{
      width:100%;
       
    }

       .bento-container{
 margin-left:0rem;
     gap:0rem;
    }
  
    }