

.register-page-In{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 90vh;
  
}
.register-Img{
    height: 90%;
    width: 60%;
   border-radius: 1rem;
    overflow: hidden;
    background-image: url('/QMbgImages/RegisterImg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 7px 7px rgb(127, 125, 125);
  

}
.register-page-div{
    display: flex;
      align-items: center;
  justify-content: center;

  height: 100%;
    width: 100%;

  
   
 
   
    
}

.register-title{
    font-size: 2rem;
    font-weight:600;
}

.register-box{

        display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
    gap:2rem;
    padding:0px;

    align-items: center;
   justify-content: start;
    position: relative;
 
}
.reg-Email-div{
    width: 60%;
    display: flex;
    flex-direction: column;
 
}

.reg-password-div{
    width: 60%;
    display: flex;
    flex-direction: column;
    

}

.reg-Confirm-password{
    width: 60%;
    display: flex;
    flex-direction: column;
  

}

.register-emailId,.register-password,.register-ConfirmPassword{
   height: 2.5rem;
    width: 100%;
    background-color: rgb(236, 236, 236);
    border: 0px;
    color:rgba(41, 41, 41, 0.92);
    font-size: 1rem;
    padding-left:10px;
    margin-top:.5rem;
}

.register-emailId:focus,.register-password:focus,.register-ConfirmPassword:focus{
     outline: none;
    background-color: white;
    border: 1px solid rgb(200,200,200);
    
}



.register-page-button{
    width:60%;
    height: 2.5rem;
    margin-top: 20px;
    background-color: rgb(20, 20, 20);
    color:white;
    font: 500;
    font-size: 1.2rem;
    font-family: 'Roboto';
    transition: all  .3s ease;
    position: absolute;
    bottom: 0;

}

  .register-page-button:hover{
background-color: rgb(59, 59, 59);
color:rgb(255, 255, 255);
border: 0px solid black;
cursor: pointer;
  }
.reg-loggedIn{
        display: flex;
    flex-direction: column;
    gap:.6rem;
    padding:0px;
    align-items: center;
    justify-content: center;
font-family: 'Poppins';
    border-radius: .5rem;
    height:90%;
    width: 100%;
      background-color: rgb(235, 235, 235);
 
}

.regIn-Greeting{
 font-size: 2rem;
}
.regIn-User{
    font-size: 1.5rem;

}

@media(max-width:770px){
    .register-Img{
        width: 40%;
        background-image: url('/QMbgImages/RegBGPh.jpg');
        background-position: -100px;

    }

    .register-page-div{
        width: 60%;
    }



}

@media(max-width:500px){
    .register-Img{
        width: 35%;
       
        background-position: -120px;

    }

    .register-page-div{
        width: 65%;
    }

    .reg-Email-div{
        width: 80%;
      
    }
    
    .reg-password-div{
        width: 80%;
       
    
    }
    
    .reg-Confirm-password{
        width: 80%;
    
    
    }

    
.register-title{
    font-size: 1.5rem;
}
}
