


.register-page-div{
    display: flex;
      align-items: center;
  justify-content: center;

  height: 100%;
    width: 100%;

 

      

}




#reg-input-div{
            width: 100%;
    display: flex;
    flex-direction: column;
}

#reg-input-div input{
  height: 2.5rem;
    width: 100%;
       background-color: rgb(240, 240, 240);
    border: 0px;
    color:rgba(41, 41, 41, 0.92);
    font-size: 1rem;
    padding-left:10px;
    margin-top:.5rem;
}



#reg-input-div input:focus{
     outline: none;
    background-color: white;
      border-bottom: 1px solid rgb(200,200,200);
    
}


   .register-button-active:hover{
background-color: rgb(50, 210, 210);
color:rgb(255, 255, 255);
border: none;
cursor: pointer;
  }

  .register-button-active{
    background-color: rgb(35, 35, 35);
    color:white;
  }

    .register-button-inactive{
    background-color: rgba(90, 90, 90, 0);
    color:rgb(0, 0, 0);
    cursor: not-allowed;
    border: 1px solid black;
  }

  








.reg-loggedIn{
        display: flex;
    flex-direction: column;
    gap:1rem;
position: relative;
    align-items: start;
    justify-content: start;
font-family: 'Poppins';

    height:70%;
    width: 60%;
    color:rgb(75, 75, 75);
   
    
   
  
 
}

.regIn-User{
     font-size: 1.8rem;
 font-family: 'Roboto Condensed';
 font-weight: 400;
    color:rgb(75, 75, 75);
}

.regIn-Greeting{
 font-size: 2.2rem;
 font-family: 'Roboto Condensed';
 font-weight: 500;

 

} 
.regIn-Para{
color:rgb(75, 75, 75);

 font-size: 1.1rem;

 font-weight: 300;
  font-family: 'Inter';
 font-family: 'Roboto Condensed';
 line-height: 1.5rem;



}

.regIn-link{

    width: 100%;
    height: 2.5rem;
    background-color: rgb(80, 220, 220);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
}

@media(max-width:1360px){
    .reg-loggedIn{
        width: 75%;
    }
}
@media(max-width:1000px){
    .reg-loggedIn{
        width: 75%;
    }
    .regIn-User{
    font-size: 1.5rem;
}
.regIn-Greeting{
    font-size: 2rem;
}
.regIn-Para{
 font-size: 1rem;
}
.regIn-link{
     font-weight: 400;
}
}
@media(max-width:800px){

        .reg-loggedIn{
        width: 80%;
    }
}
@media(max-width:600px){

        .reg-loggedIn{
        width: 60%;
    }
}


   @media(max-width:400px){
#reg-input-div input{
    font-size: .8rem;
      height: 2.2rem;
}

.reg-loggedIn{
    width: 90%;
    height: 80%;
    gap: 1.5rem;
  
}
.regIn-User{
    font-size: 1.5rem;
}
.regIn-Greeting{
    font-size: 2rem;
}
.regIn-Para{
 font-size: 1rem;
}
.regIn-link{
     font-weight: 400;
}
   }



/* 
@media(max-width:770px){
    .register-Img{
        width: 40%;
        background-image: url('/QMbgImages/RegBGPh.jpg');
        background-position: -100px;

    }

    .register-page-div{
        width: 60%;
    }



}

@media(max-width:500px){
    .register-Img{
        width: 35%;
       
        background-position: -120px;

    }

    .register-page-div{
        width: 65%;
    }

    .reg-Email-div{
        width: 80%;
      
    }
    
    .reg-password-div{
        width: 80%;
       
    
    }
    
    .reg-Confirm-password{
        width: 80%;
    
    
    }

    
.register-title{
    font-size: 1.5rem;
}
}
 */