 
.carousel-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
height: 100%;
position: relative;
    border: 0px solid red;
 
 
    
  }


  .ImageBox{

  display: flex;
  flex-direction: row;
  overflow: hidden;
  border: 0px solid black;
width: 100%;
height: 100vh;
  user-select: none;
  position: relative;

  }


 

.zoomed {
  transform: scale(2.5); /* Adjust zoom level here */
  cursor: zoom-in;
}

.zoom-btn-wrapper{

    width: 2.5rem;
  height: 2.5rem;
   position: absolute;
   top: 15px;
  right: 15px;
    z-index: 20;
    display: grid;
    place-items: center;
    background-color: white;
      border-radius: 5px;
}

.zoom-btn {
 
 width: 2rem;
 height: 2rem;
  border-radius: 5px;
     background-color: white;

  padding: 5px;
 
  border: 1px solid #000000;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease;
}

.zoom-btn:hover{
  border-color: blue;
  color:blue;
}

.zoom-btn.active {
  background: #000;
  color: #fff;
}

.zoom-btn.active:hover{
  opacity: .8;
  border-color: transparent;
}

.pd-stock-state{
  position: absolute;
  top:25%;
  right:3rem;
  height: 3rem;
  display: grid;
  place-items: center;
  padding: 0px 10px;
  background-color: rgb(250, 217, 217);


  color:white;
  transform-origin: top right;
  transform: rotate(-90deg);
translate: 0 8rem;
border-radius:5px 5px 0px 0px ;
font-family: 'Figtree';
font-size: 14px;
z-index: 9;
text-transform: uppercase;
display: none;

}

.stock-out{
 display: grid;
   background-color: rgba(150, 150, 150, 0.75);
}

.stock-low{
   display: grid;
     background-color: rgba(255, 62, 97);
}

.pd-Img-browse{
  position: absolute;
  top:1rem;
  left: 1rem;
  border: 0px solid black;
  width: 6rem;
  padding: 5px;
 cursor: pointer;
  border-radius: 8px;
  background-color: rgba(35, 35, 35, 0.5);
  background-color: rgba(0,100,255, 0.5);
  backdrop-filter: blur(5px);
  opacity: .7;
  transition: opacity .3s ease;


}

.pd-Img-browse:hover{
    opacity: 1;
}

.pd-Img-browse-wrapper{
    gap: 5px;
  display: flex;
  flex-direction: column;
  height: 5.8rem;
  overflow: hidden;
  transition: all .3s ease;
 
}

.img-Nav-Open{
  height: 18rem;
}



.pd-img-selecter{
  width: 100%;
  aspect-ratio: 1/1;
   border-radius: 8px;
  background-color: transparent; /* Set a base background color to transition from */
  background-color: rgba(255, 255, 255, 0.8);
  /* Smoothly transition the background color over 0.3 seconds */
  transition: background-color 0.3s ease;


}
/* Target the image inside the selector for the scale effect */
.pd-img-selecter img {
 width: 100%;
 height: 100%;
  
  /* Smoothly transition the transform property over 0.3 seconds */
  transition: transform 0.3s ease;
}

/* Hover States */
.img-Nav-Open .pd-img-selecter:hover {
  background-color: white;

}

.img-Nav-Open .pd-img-selecter:hover img {
  transform: scale(1.05);
}
.pd-Img-down{
  width: 100%;
  display: grid;
  place-items: center;
  color:rgb(255, 255, 255);


}

.img-nav-arrow{
  transition: transform .3s ease;
}

.img-nav-up{
 transform: rotate(180deg);
}


