 
.carousel-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
height: 100%;
position: relative;
    border: 0px solid red;
 ;
 
    
  }


  .ImageBox{

  display: flex;
  flex-direction: row;
 
  overflow: hidden;
  border: 0px solid black;

  /* background-color: #eeeeee; */
width: 100%;
height: 100vh;
  user-select: none;
  }

  .currentImage-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
height: 100%;
width: 80%;
  flex: 0 0 100%;
border: 0px solid white;
  transition: translate 400ms ease-in-out;
  border: 0px solid red;

  }
 

  .ImgSelecters{
    display: flex;
    flex-direction: column;
    
    position: absolute;
    gap:5px;
    top:40%;

    right:2rem;
    border: 0px solid red;
     user-select: none;
    
  }
  .imgBtn-div{
    height:.8rem;
    width:.8rem;
    border-radius: 50%;
    background-color: #eeeeee;
    border:1px solid rgb(0, 0, 0);
  }
  .imgBtn-div:hover{
    height:.8rem;
    width:.8rem;
   background-color:rgba(255, 255, 255, 0.713);
   
  }
  .imgBtn-clicked-div{
    height:.8rem;
    width:.8rem;
   background-color: rgb(255, 255, 255);
   border-radius: 50%;
   border:1px solid rgb(0, 0, 0);
   display: flex;
   justify-content: center;
   align-items: center;
  }
  .imgBtn-clicked-div .imgBtn{
  background-color: blue;
  height:.6rem;
  width:.6rem;
  border-radius: 50%;
}

.crousal-navigation{
  display: none;
}


.ImageBox {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.currentImage-wrapper {
  min-width: 100%; /* Ensures images stay side-by-side */
  transition: translate 0.5s ease-in-out;
}

.zoomed {
  transform: scale(2.5); /* Adjust zoom level here */
  cursor: zoom-in;
}

.zoom-btn {
  position: absolute;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 5px;
  top: 15px;
  right: 15px;
  z-index: 20;
  padding: 8px;

  border: 1px solid #000000;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease;
}

.zoom-btn:hover{
  border-color: blue;
}

.zoom-btn.active {
  background: #000;
  color: #fff;
}

.zoom-btn.active:hover{
  opacity: .8;
  border-color: transparent;
}

.pd-out-of-stock{
  position: absolute;
  top:5rem;
  right:0rem;
 padding:10px;
  background-color: black;
  color:white;
  transform-origin: top right;
  transform: rotate(90deg);
translate: 0 8rem;
border-radius:0px 0px 5px 5px ;
font-family: 'Figtree';
font-size: .9rem;
z-index: 9;
text-transform: uppercase;
}


@media(max-width:1200px){

    .ImgSelecters{
      right:1rem;
    }
}



@media(max-width:700px){

    .ImgSelecters{
    display: flex;
    flex-direction: row;
    position: absolute;

    gap:5px;
    top:90%;
    right:50%;
transform: translate(50%, -50%);

     user-select: none;
    
  }
.crousal-navigation{
  position: absolute;
  top:90%;
  display: flex;
  width: 70%;
 transform: translateY(-50%);
  justify-content:space-between;
}

#crousal-nav{
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  color:rgb(49, 49, 49);
}

}

@media(max-width:450px){

    .imgBtn-div,  .imgBtn-div:hover,.imgBtn-clicked-div{
    height:.6rem;
    width:.6rem;
  }

}