@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100..900&display=swap');

  .explore-categories{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top:2rem;
   
  }



  .explore-categories-list-container{
    width: 100%;
     display: flex;
  /* background-color: white; */
    align-items: center;
  justify-content: center;
    background-color: rgb(31, 31, 31);

  }

  .explore-categories-list1{
/*     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 55vh; */
   
   
    border: 0px solid red;
    width: 100%;

   
    
   
  /*   background-color: #eeeeee; */
 
  

  }

  #explore-card-div{
    width:100%;
   height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding:0rem;
    border-radius: .3rem;
    position: relative;
    overflow: hidden;
    border: 0px solid rgb(130, 130, 130);

  

  }
 #exploreCard{
  width: 100%;
  height: 100%;
  border-radius: .3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  transition: transform 4s ease;
 }
 #exploreCard:hover{
  cursor: pointer;
 }

 #explore-card-name-div{
  position: absolute;
 bottom: 10%;
  left:50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  line-height: 4rem;


 font-size: 7rem;
font-family: 'Montserrat', sans-serif; 
 border: 0px solid white;
font-weight: 600;
 transition: line-height 0.3s ease;

}

#explore-card-div:hover #explore-card-name-div{
  line-height: 4.5rem;
}

#explore-card-name1{
  color:white;
}


#explore-card-name2{
   color:rgba(255, 255, 255, 0.726);
}


#explore-card-name3{
 color:rgba(255, 255, 255, 0.461);
}

 #explore-card-div:hover #explore-card-name{
   border: 0px solid rgb(22, 22, 22);
   
   color: rgb(255, 255, 255);

   
 }




  .exploreCard1{
 
    background-image: url('QMbgImages/QM-browse-fitness.jpg'); 
   
  }

  #explore-card-div:hover .exploreCard1{
  
    transform: scale(1.07);
  }

  .exploreCard2{
   
    background-image: url('QMbgImages/QM-browse-style.jpg');
    

  }

  #explore-card-div:hover .exploreCard2{
  
    transform: scale(1.07);
  }


  .exploreCard3{
   
    background-image: url('QMbgImages/QM-browse-luxury.jpg');
 
  }

  #explore-card-div:hover .exploreCard3{
  
    transform: scale(1.07);
  }


  .exploreCard4{
  
    background-image: url('QMbgImages/QM-browse-PetWellness.webp');

    
  }

  #explore-card-div:hover .exploreCard4{
  
    transform: scale(1.05);
  }




  #explore-card img{
    width: 100%;
    height: 100%;
   
  }