.order-morph-btn {
  /* Dimensions and Base Style */

   
  padding: 6px 10px;


gap:1rem;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
/*   padding: 0 16px; */
  cursor: pointer;
  font-family: 'Figtree', sans-serif;
  margin-right:1.5rem ;

}



.order-morph-btn:active {
  transform: scale(0.96);
}

.btn-inner-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}



/* The "Window" that clips the sliding text */
.value-window {
  height: 20px;
  overflow: hidden;
  pointer-events: none;
}

.value-stack {
  display: flex;
  flex-direction: column;
  transition: transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

.value-text {
  height: 20px;
  line-height: 20px;
  font-size: 13px;
  font-weight: 600;
  color: #ffffff;
  transition: color .3s ease;
}

.order-morph-btn:hover .value-text  {
 color:rgb(0,100,255);
}



/* Sliding Logic */
.slide-up { transform: translateY(0); }
.slide-down { transform: translateY(-20px); }

.btn-icon-area {
 
  padding: 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

}

