.credits-div{
    width: 100%;
   height: 8rem;
    /*       display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto auto;
  gap: 1rem;
  border: 0px solid red; */
display: flex;
align-items: top;
justify-content: space-between;
border: 0px solid red;
    

}

#credit{
    width: 8rem;
    height: 8rem;
   /*  background-color: rgb(235, 235, 235); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:.5rem;
    border: 0px solid blue;
    

}

#credit-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.8rem;
    color:rgb(0, 0, 0);
    border: 0px solid black;
    background-color: rgb(255, 255, 255);
    
}

#credit-logo img{
    width: 100%;
}

#credit-text{
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .7rem;
    color:rgb(0, 0, 0);
    line-height: 1.4rem;
    text-align: center;
    font-family: 'Roboto';
 
      
    
}

@media(max-width:1000px){

    .credits-div{
gap: .5rem;
    }

    #credit-logo{
 width: 3.5rem;
    height: 3.5rem;
        font-size: 2.2rem;
    }

    #credit-text{
            font-size: .9rem;
            font-weight: 400;
    }
}

@media(max-width:450px){

    .credits-div{
        height: 80%;
    }

      #credit-logo{
 width: 2.8rem;
    height: 2.8rem;
        font-size: 2rem;
    }

    #credit-text{
            font-size: .75rem;
            
    }
}

