.credits-div{
    width: 100%;
    height: 95%;
          display: grid;
  grid-template-columns: 1fr 1fr; /* 2 columns */
  grid-template-rows: auto auto; /* 2 rows */
  gap: 1rem;
  border: 0px solid red;

    

}

#credit{
    width: 100%;
    height: 100%;
    background-color: rgb(235, 235, 235);
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}

#credit-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    font-size: 2.5rem;
    color:rgb(100,100,100);
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

#credit-text{
    width: 60%;
    height: 90%;
    font-weight: 400;
    font-size: 1rem;
    color:rgb(75, 75, 75);
    line-height: 1.4rem;
        display: flex;
    justify-content: start;
    align-items: center;
 
       font-family: 'Inter';
    
}

@media(max-width:1000px){

    .credits-div{
gap: .5rem;
    }

    #credit-logo{
 width: 3.5rem;
    height: 3.5rem;
        font-size: 2.2rem;
    }

    #credit-text{
            font-size: .9rem;
            font-weight: 400;
    }
}

@media(max-width:450px){

    .credits-div{
        height: 80%;
    }

      #credit-logo{
 width: 2.8rem;
    height: 2.8rem;
        font-size: 2rem;
    }

    #credit-text{
            font-size: .75rem;
            
    }
}

