.Cart-item{
 border-bottom: 1px solid rgb(230, 230, 230);
background-color: rgb(255, 255, 255);
width: 100%;
display: flex;
padding-top: 1.5rem;
padding-bottom: 1.5rem;


    }



    .cart-product-info-div{
       border: 0px solid rgb(220, 220, 220);
  border-left: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
   background-color: rgb(255, 255, 255); 
    border: 0px solid rgb(0, 0, 0);
  
 /*  box-shadow:1px -1px 10px rgb(215, 215, 215); */
    }


      .cart-product-info{
    background-color: rgb(255, 255, 255); 
      width: 90%;
      height: 100%;
      color:rgb(30, 30, 30);
     position: relative;

 display: flex;
 flex-direction: column;
  gap: .8rem;
  color:rgb(110, 110, 110);

    }

 
   

    .cart-product-title-wrapper{
        color:rgb(0, 0, 0);
        font-size:1rem;
  
        font-weight: 300;
        display: flex;
        justify-content: space-between;
        position: relative;
   
     
    }

    .cart-product-title{
      width: 70%;
    }

     .cart-item-shipment{
  color: #059669;
  font-weight: 500;
  font-size: .8rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;

  }

 

    .cart-product-price-div{
      color:black;

font-size: 1rem;  
font-size: .9rem;
display: flex;
align-items: center;
font-weight: 300;
height: 100%;



 }

 
.cart-product-img-div{

  display: grid;
  place-items: center;
}
   

    .cart-product-img,.cart-img-placeholder{
width: 120px;
aspect-ratio: 1/1;
background-color: rgb(242,242,242);
border-radius: 5px;
/* background-color: rgb(246, 246, 246); */
   
    }


    .cart-item-button-wrapper{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
     
      border: 0px solid red;
    
      
    }

     .cart-product-quantity{

      width: 6rem;
      height: 2rem;
          font-size: 1rem;
            font-weight: 400;
      border: 1px solid rgb(220, 220, 220);
      display: none;
      align-items: center;
      justify-content:space-between;
      
    }

    .cart-item-quantity{
      color:rgb(30, 30, 30);
    }

    .cart-quantity-button{
  
      
      height: 100%;
      aspect-ratio: 1/1;
      display: grid;
      place-items: center;
    
    }

    .cart-quantity-button:hover{
    color:black;
    cursor: pointer;
    }

    .remove-icon{
      font-size: 1.4rem;
      opacity: 1;
      transition: all .2s ease;
      color:rgba(0, 0, 0);
      position: absolute;
      right:0;
      cursor: pointer;
      
    }
      .remove-icon{
        opacity: .5;
      }


    
    @media(max-width:600px){
            .cart-product-title-wrapper{ font-size:.8rem;}

     .cart-item-shipment{font-size: .75rem;}

     .cart-product-price-div{font-size:.8rem}
     
    .remove-icon{font-size: 1rem;}
    }
 
  

   @media(max-width:550px){
        .cart-product-img,.cart-img-placeholder{
width: 95px;

    }
  .cart-product-quantity{
height: 1.8rem;
 font-size: .95rem;
         }

   }

    @media(max-width:400px){
 .cart-product-info-div{

 }
    } 

/* 

 @media(max-width:1300px){

     .cart-product-img{
       width: 200px;
       height: 200px;
    }

     .cart-product-title{
      
        font-size: 1.1rem;
    }

     .cart-product-title{
      
        font-size: 1rem;
    }
      
        }

    @media(max-width:1000px){
             .cart-product-info{
font-size: .8rem;
         } 

         .cart-btn{
            justify-content:center;
            gap: 1rem;
             width: 100%;
         }
         #cartButton{
            height: 1.8rem;
    font-size: .8rem;

     width: 50%;
         }
    }

    @media(max-width:800px){

        
      .cart-product-img{
       width: 220px;
       height: 220px;
    }
    }

    @media(max-width:550px){

         .cart-product-img{
       width: 150px;
       height: 150px;
     
    }

       .cart-product-title{
        font-size: .9rem;
    }
    .cart-product-info{
         height: 90%;
    }
      #cart-info-item{
           padding-bottom:.7rem;
    }

      #cartButton{
            height: 1.7rem;

         }
    }

     @media(max-width:460px){
            
          .cart-product-img{
       width: 120px;
       height: 120px;
    }
    .cart-btn{
        display: none;
    }

    .Cart-item{
        position: relative;
        padding: .5rem;
       }

          #cartButton{
            height: 2rem;
    font-size: .85rem;

     width: 50%;
         }
          } */