 @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
 
 .ImageCrousel-Container{
    position: fixed;
    width: 100vw;
  /*    height: 70vh; */
    z-index: 0;
    top:0;
/*    margin-top: 17vh; */
    background-color: white;
  /*  overflow: hidden; */
    border-left: 0px solid red;
    display: flex;
  

  }





    .Nav-div{
    position: absolute;
    border: 0px solid red;
    width: 97%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    top:50%;
    transform: translate(0%, -50%);
      left: 0;
  right: 0;
  margin: 0 auto;

  }

 .Nav-div #nav-arrow{
  width: 10rem;
    height: 10rem;
    color: #eeeeee9f;
     border-radius: 50%;
    padding:0;
    transition: all 1s ease;
 }


   .home-left-arrow{
    margin-left: -10%;
  }

  .Nav-div:hover .home-left-arrow{
     margin-left: -4%;
  
  }


  .home-right-arrow{
    
   margin-right: -10%;

  }
  .Nav-div #nav-arrow:hover{

    color: #eeeeee;
   background-color: rgba(0, 0, 0, 0.2);
  }


  
  .Nav-div:hover .home-right-arrow{
     margin-right: -3%;
  
  }


.homeCrousal{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 5px solid white;


  }


.homeContent{
    
    
    width: 100vw;
    height: 100vh;
   
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  
  }


  .buy-link-div{
    width: 100%;
    position:absolute;
    bottom: 2rem;
height: 3rem;
    display: flex;
    justify-content: center;
       font-family: 'Poppins', sans-serif;
       

  }

   .buy-link-sm{
    display: none;
   }

 




   .ImageCrousel-Container .buy-link{
    
    /* left: 50%;
    transform: translateX(-50%); */
    color:rgb(3, 3, 3);
 
  

    
    border: 0px rgb(202, 42, 42) solid;
    display: flex;
    justify-content: center;
    align-items: center;
   gap: 2rem;
    white-space: nowrap;

   height: 100%;
   
         
    z-index: 1;

  }



  


  #buyLink-btn{
    display: flex;
    justify-content: center;
    align-items: center;
   width: 10rem;
   height: 100%;
    font-size: .9rem;
   padding:1rem;
  font-family: 'Jost';
  font-weight: 500;
   letter-spacing: .1rem;
  }

   #buyLink-btn:hover{
    cursor: pointer;
     letter-spacing: .05rem;
   }

  .btn-discoverMore{
      
         color:white;
         border: 2px solid rgb(255, 255, 255) ;
         background-color: transparent;
             transition: all 0.3s ease;

  
  }

  .btn-discoverMore:hover{
 /* color:rgb(0, 0, 0);

   background-color: rgb(255, 255, 255); */
      
        
  }

  .btn-shopNow{
    

      background-color: white;
      color:rgb(0, 0, 0);
       border: 2px solid transparent;
          transition: all 0.4s ease;
  }


  .btn-shopNow:hover{
/*   background-color: transparent;
      color:rgb(255, 255, 255);
      border: 2px solid rgb(255, 255, 255); */
      
     
  
  }


  .CrousalNav-div{
position: absolute;
bottom:7rem;
    width: 100%;
  
    border: 0px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .CrousalNav-content{
    width: 40rem;
    height: 4px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

   .CrousalNav{
    border: 0px solid black;
    height:100% ;
    width: 24%;
   /*  background-color: #ffffff72; */
   background-color: rgba(125, 125, 125, 0.700);
   }

   .CrousalNav:hover{
    cursor: pointer;
   }

     .CrousalNav-selected{
    border: 0px solid black;
    height:100% ;
    width: 24%;
    background-color: rgb(255, 255, 255);
   }

 
  

  .bgImgNav{
    display: none;
    border: 0px solid rgba(0, 0, 0, 0.873);
    background-color: #eeeeee;
    width: 100%;
    height: .3rem;
    color:rgb(0, 0, 0);
    position: absolute;
    margin: auto;
    z-index: 0;
    border-radius: 5px;
    overflow: hidden;
    bottom:0rem;
    left: 50%;
  transform: translateX(-50%);
  
  }
 
  .bgImgNav-slider{
    width: 25%;
    height: 100%;
    border-radius: 1rem;
 
    background-color: black;
  }

.homeContent {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/* picture must fill parent */
.homeContent picture {
  width: 100%;
  height: 100%;
  display: block;
}

/* img behaves exactly like background-image */
.homeContent img {
  width: 100%;
  height: 100%;
  object-fit: cover;        /* background-size: cover */
  object-position: top;     /* background-position: top */
  display: block;
}

  

  @media(max-width:950px){

     .Nav-div #nav-arrow{
    width: 10rem;
    height: 10rem; 
 }

   .CrousalNav-content{
    width: 30rem;
   }

   .buy-link-div{

    
  }

  .ImageCrousel-Container .buy-link{
    width:90%;
 }

 #buyLink-btn{
    
 }

  }

    @media(max-width:700px){

      .Nav-div{
        display: none;

      }
       .home-left-arrow{
    margin-left: -5%;
  }
   .home-right-arrow{
    
   margin-right: -5%;

  }

 .buy-link-div{

  }

    .btn-discoverMore , .btn-shopNow:hover{
      
    }

  .CrousalNav-content{
      width: 25rem;
  }
    }

    @media(max-width:550px){

 
     .Nav-div #nav-arrow{
    width: 7rem;
    height:7rem; 
 }

   .Nav-div:hover .home-left-arrow{
     margin-left: -8%;
  
  }

    .Nav-div:hover .home-right-arrow{
     margin-right: -8%;
  
  }


 .CrousalNav-content{
       width: 90%;
       height: 3px;
  }
  }

@media(max-width:400px){

 .ImageCrousel-Container{

  position: relative;
     height: 85vh;

   margin-top: 15vh;

  

  }

  .homeContent{
    
    
    width: 100vw;
    height: 75vh;
   
    background-position: top; /* center */
    background-repeat: no-repeat;
    background-size: cover;
  
  }




 .buy-link-div{
  bottom:.8rem;
  font-size: .85rem;
  height: 2.5rem;

 }
  
.buy-link-div .buy-link {
  display: none;

}

 .buy-link-sm{
display: flex;
 width: 90%;
 background-color: rgb(20, 20, 20);



 
 }

 .buy-btn-sm{
 width: 100%;
 height: 100%;
  display: flex;
 justify-content: center;
 align-items: center;
 color: rgb(255, 255, 255);
 border: 1px solid rgb(10,10,10);
 }

  .CrousalNav-div{
    bottom: 3.5rem;
  }

      }