 @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
 
 .ImageCrousel-Container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top:0;
   
    background-color: white;
   overflow: hidden;
    border-left: 0px solid red;
    display: flex;

  }





    .Nav-div{
    position: absolute;
    border: 0px solid red;
    width: 99%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    top:50%;
    transform: translate(0%, -50%);
  }

 .Nav-div #nav-arrow{
  width: 13rem;
    height: 13rem;
    color: #eeeeee9f;
     border-radius: 50%;
    padding:0;
    transition: all 1s ease;
 }


   .home-left-arrow{
    margin-left: -15%;
  }

  .Nav-div:hover .home-left-arrow{
     margin-left: -5%;
  
  }


  .home-right-arrow{
    
   margin-right: -15%;

  }
  .Nav-div #nav-arrow:hover{

    color: #eeeeee;
   background-color: rgba(0, 0, 0, 0.2);
  }


  
  .Nav-div:hover .home-right-arrow{
     margin-right: -5%;
  
  }


.homeCrousal{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 5px solid white;


  }


.homeContent{
    
    
    width: 100vw;
    height: 100vh;
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }


  .buy-link-div{
    width: 100%;
    position:absolute;
    bottom: 5rem;
height: 4.5rem;
    display: flex;
    justify-content: center;

  }


   .ImageCrousel-Container .buy-link{
    
    /* left: 50%;
    transform: translateX(-50%); */
    color:rgb(3, 3, 3);
 
  

    width:60%;
    border: 0px rgb(202, 42, 42) solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    white-space: nowrap;

   height: 100%;
   
         
    z-index: 1;

  }

  


  #buyLink-btn{
    display: flex;
    justify-content: center;
    align-items: center;
   width: 40%;
   height: 100%;
    font-size: 1.5rem;
   padding:1rem;
   font-family: 'Poppins', sans-serif;
  font-weight: 500;
  }

   #buyLink-btn:hover{
    cursor: pointer;
   }

  .btn-discoverMore{
      
         color:white;
         border: 2px solid rgb(255, 255, 255) ;
         background-color: transparent;
             transition: all 0.3s ease;

  
  }

  .btn-discoverMore:hover{
 color:rgb(0, 0, 0);

   background-color: rgb(255, 255, 255);
      
        
  }

  .btn-shopNow{
    

      background-color: white;
      color:rgb(0, 0, 0);
      
          transition: all 0.4s ease;
  }


  .btn-shopNow:hover{
  background-color: transparent;
      color:rgb(255, 255, 255);
      border: 2px solid rgb(255, 255, 255);
     
  
  }


  .CrousalNav-div{
position: absolute;
bottom: 0;
    width: 100%;
    height: 5rem;
    border: 0px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .CrousalNav-content{
    width: 40%;
    height: 4px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

   .CrousalNav{
    border: 0px solid black;
    height:100% ;
    width: 24%;
   /*  background-color: #ffffff72; */
   background-color: rgba(0, 0, 0, 0.338);
   }

   .CrousalNav:hover{
    cursor: pointer;
   }

     .CrousalNav-selected{
    border: 0px solid black;
    height:100% ;
    width: 24%;
    background-color: rgb(255, 255, 255);
   }

 
  

  .bgImgNav{
    display: none;
    border: 0px solid rgba(0, 0, 0, 0.873);
    background-color: #eeeeee;
    width: 100%;
    height: .3rem;
    color:rgb(0, 0, 0);
    position: absolute;
    margin: auto;
    z-index: 0;
    border-radius: 5px;
    overflow: hidden;
    bottom:0rem;
    left: 50%;
  transform: translateX(-50%);
  
  }
 
  .bgImgNav-slider{
    width: 25%;
    height: 100%;
    border-radius: 1rem;
 
    background-color: black;
  }

  @media(max-width:950px){

     .Nav-div #nav-arrow{
    width: 10rem;
    height: 10rem; 
 }

   .buy-link-div{

    bottom: 4rem;
   height: 4rem;
  }

  .ImageCrousel-Container .buy-link{
    width:90%;
 }

 #buyLink-btn{
    font-size: 1.2rem;
      font-weight: 500;
 }

  }

    @media(max-width:700px){
      
 .buy-link-div{

    bottom: 4rem;
   height: 3.5rem;
  }

    .btn-discoverMore , .btn-shopNow:hover{
        border: 1px solid rgb(255, 255, 255) ;
    }

  .CrousalNav-content{
       width: 50%;
  }
    }

    @media(max-width:550px){

     .Nav-div #nav-arrow{
    width: 7rem;
    height:7rem; 
 }

   .Nav-div:hover .home-left-arrow{
     margin-left: -8%;
  
  }

    .Nav-div:hover .home-right-arrow{
     margin-right: -8%;
  
  }

   .buy-link-div{

    bottom: 4rem;
   height: 3rem;
  }

  #buyLink-btn{
    width: 45%;
    font-size: 1rem;
  }
 .CrousalNav-content{
       width: 90%;
       height: 3px;
  }
  }