

.regIn-greeting-div{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: 'Figtree';
     color: rgb(0, 0, 0);
}

.regIn-User{
     font-size: 1.8rem;

 font-weight: 400;
   
    margin-top: 2rem;
    
}

.regIn-User span{
    color: rgb(125, 125, 125);
    color:blue;
    color:rgb(0, 100, 255);
    
}

.regIn-Greeting{
 font-size: 2.2rem;

 
 font-weight: 500;

 

} 
.regIn-Para{
color:rgb(125, 125, 125);

 font-size: 1rem;

 font-weight: 400;
  font-family: 'Inter';
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-family:'Jost';
font-family: 'Inter';
font-family: sans-serif;




 line-height: 1.6rem;
 letter-spacing: .02rem;





}

.regIn-link{

    width: 100%;
    height: 2.5rem;
    background-color: rgb(80, 220, 220);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
}



@media(max-width:1000px){
 
    .regIn-User{
    font-size: 1.5rem;
}
.regIn-Greeting{
    font-size: 2rem;
}
.regIn-Para{
 font-size: 1rem;
}
.regIn-link{
     font-weight: 400;
}
}



   @media(max-width:400px){



.regIn-User{
    font-size: 1.5rem;
}
.regIn-Greeting{
    font-size: 2rem;
}
.regIn-Para{
 font-size: 1rem;
}
.regIn-link{
     font-weight: 400;
}
   }