.sideBarNav{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: calc(100vw - 2rem);
    
    position: fixed;
  top: 2rem; 
  right: 1rem;
  align-self: flex-start;
  height: calc(95vh - 1rem);
    z-index: 9999;
      border-radius: 10px;
      clip-path: inset(0 100% 0 0);
    border-right:1px solid rgb(200,200,200);
 transition: width 0.5s cubic-bezier(0.2, 0.9, 0.1, 1);
   transition: clip-path  0.5s cubic-bezier(0.2, 0.9, 0.1, 1);
}


.sideBarNav.open {
  clip-path: inset(0 0 0 0);
}

.sideBarNav-content{
transition: opacity 0.15s ease .4s;
}

.sideBarNav-head-div{
    height: 12rem;
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    border-bottom: 1px solid rgb(240, 240, 240);
 
       
    
}


.sideBar-cancel-div{
    position: absolute;
    right: .5rem;
    top:2.5rem;
    border-radius:50%;
    border: 0px solid red;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sideBar-cancel-div:hover{

color:rgb(0, 0, 0);
cursor: pointer;
background-color:rgb(230, 230, 230);
}

.sideBar-cancel{
    color: rgb(25, 25, 25);
}

.sideBarNav-head-tagline{
    font-size: .9rem;
    font-family: 'Jost';
  text-align: center;
       padding-top:1rem ;
}

.sideBarNav-head{
    font-size: 2rem;
    font-family: "Prosto One", sans-serif;
   text-align: center;
    letter-spacing: .2rem;
    color:rgb(50,50,50);
   

 

  

}

.SB-head-line1{
     display: flex;
    flex-direction: row;
    border: 0px solid orange;
    align-items: start;
    width: 90%;
    gap:1rem;
    
    
   
}

.sideBar-userIcon-div{
    width: 3.5rem;
    aspect-ratio: 1/1;
    border: 1px solid rgb(175, 175, 175,.5);
    border-radius:50% ;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}
.sideBar-userIcon-div img{
width: 100%;
object-fit: cover;
}

.SB-userIcon{
    font-size: 2.5rem;
}

.sideBar-userInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    
    height: 100%;
 
    
    
}

.sideBar-userName{
font-family: "Questrial", sans-serif;
   font-weight: 400;
   font-size: 1.25rem;
    font-family: 'Jost';
}

.sideBar-userId{
  
     font-family: 'Jost';
     font-weight: 300;
     color:rgb(100, 100, 100);
     border: 0px solid red;
     font-size: .75rem;
     font-family: 'Inter';

  
}

.side-nav-logIn{
    color:rgb(0,100,255);
}




.sideBarNav-element-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
}

.sideBarNav-element{
  /*   background-color: rgb(255, 255, 255); */
    padding: 1rem;

    border-bottom:1px solid rgb(240, 240, 240);
    display: flex;

    justify-content: start;
    align-items: center;
    gap: 1rem;
    width: 100%;
    
}

.sideBarNav-Icon-div{
    width: 2rem;
    height: 2rem;
    border: 0px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
}

#sideBar-icon{
    font-size: 1.25rem;
    
}

.sideBarNav-name{
  font-family: 'Jost';
  color: rgb(0, 0, 0);
}

