


.store-ProductCard{
    width: 100%;
    border: 0px solid red;
    position: relative;
     background-color: white;
   overflow: hidden;

   display: flex;
   flex-direction: column;
   align-items: center;
  
}


.sp-img-wrapper {
  width: 100%;
  aspect-ratio: 1/1;
  border: 1px solid transparent;
  border: 0px solid red;
  position: relative;
  display: grid;
  place-items: center;
border-radius: 8px;
  overflow: hidden;
  transition: .3s all ease;
      background-color: rgb(245,245,245);
  
}


.sp-img {
  width: 80%;
  position: absolute;
/*   top: 0;
  left: 0; */
  transition: opacity 0.3s ease;
}

/* base image */
.base {
  opacity: 1;
  z-index: 1;
}

.fade-out {
  opacity: 0;
}

/* top image */
.top {
  opacity: 0;
  z-index: 2;
}

.fade-in {
  opacity: 1;
}





 


.productCard-tag{
  position: absolute;
  z-index: 2;
font-size: .7rem;
font-family: 'Figtree';

 color:rgb(0, 0, 0);
 background-color: rgba(255, 255, 255);
font-weight: 400;
padding: 5px 10px;
border-radius: 3px;
opacity: 1;
transition: opacity .4s ease;
text-transform: uppercase;


}



.sp-brand-tag{
display: none;
top:16px;
right:16px;
/* 
left:50%;
transform: translateX(-50%);  */
 text-transform: uppercase;
/* font-family: 'Courier New', Courier, monospace; */

font-size: 10px;


color:rgb(255, 255, 255);

font-weight: 500;
color: rgb(0, 0, 0);
border: 1px solid rgb(215,215,215);
background-color: white;




}



.sp-discount-tag{
top:16px;
left:16px;
background-color: rgb(254, 229, 229);
/* background-color: rgb(255, 62, 96);  */
color:rgb(255, 62, 96);
border: 1px solid  rgb(255, 62, 96);
font-size: 10px;




}

.sp-status-tag{
 
 top:16px;
   right:16px;
   text-transform: capitalize;
   font-family: Inter;
   border: none;


}






.sp-addToCart{
 
  
 
    position: absolute;
    bottom: 1rem;
    width: 2rem;
    height: 2rem;
    right: 0px;
    display: grid;
    place-items: center;
    transform: translate(-50%, 5px); 
   z-index: 9;
    text-align: center;
    font-family: 'Figtree';
     font-family: 'Inter';
    font-weight: 500;
    font-size: 1rem;
    opacity: 0;
       transition: opacity 0.5s ease, transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.store-ProductCard:hover .sp-addToCart{
    opacity: 1;
     transform: translate(-50%, 0);
}

.sp-plus-icon{
  transition: all 0.25s ease-in-out;
  
  /* Optional: Ensures the icon rotates perfectly around its center point */
  transform-origin: center;
}


.sp-plus-icon:hover{
  transform: rotate(90deg);
  color:blue;
}



.sp-added-btn{
 
    opacity: 1;
      transform: translate(-50%, 0px); 
}

.sp-btn-content{
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 10px;
}

.store-ProductInfo-wrapper{
  width: 100%;
    display: flex;
flex-direction: column;
justify-content: center;
gap:8px;
  padding: 16px 0rem;
  font-family: 'Figtree';
  text-transform: uppercase;
  color:rgb(0, 0, 0);
  background-color: white;
}

.store-Info-title{
  display:flex;
 font-family: 'Inter';
  font-weight: 600;
  text-transform: capitalize;


}


.productInfo-line2{
  display: flex;
  justify-content: space-between;
}



.sp-rating-div{
    display: flex;
 font-family: 'Inter';
    align-items: center;
 font-size: 12px;
 text-transform: capitalize;
    gap:2px;
    color:rgb(115, 115, 115);
}



.sp-price{
  font-size: 16px;
  font-weight: 600;
    font-family: 'Inter';
  font-weight: 600;
}




.product-color-wrapper{
 position: absolute;
left: 10px;
bottom: 16px;
  display: flex;
 
  justify-content:center;
  align-items: center;
  gap:5px;
 
  flex: 1;
}

.productCard-color{
  width: 13px;
  aspect-ratio: 1/1;
  border-radius: 50%;

 
}


.color-1{
 background-color: rgb(114, 180, 181);
}

.color-2{
 background-color: rgb(33, 92, 53);
}

.color-3{
 background-color: rgb(196, 135, 198);
}


