
    .order-summary-div{
     
        width: 100%;
   
        padding: 1rem;
        padding-top: 0rem;
        padding-left: 0rem;
             z-index: 1;
         border: 0px solid rgb(220,220,220);
   
 
        
       position: sticky; 
       top: 0rem;
      
/* background-color: rgb(245, 245, 245); */



display: flex;
flex-direction: column;
align-items:center;
justify-content: start;
   border: 0px solid green;



    }

 

       .order-summary-content{
      width: 100%;
      
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 4.5rem;
    
    
 
      
     
      padding: 1rem;
    
          
    }

    .order-list-wrapper{
width: 85%;
display: flex;
flex-direction: column;
gap:1rem;
max-height: 40vh;
  overflow-y: auto;

  /* Firefox */
  scrollbar-width: none;
  border: 0px solid pink;


    }


  
.order-item{
 border: 0px solid purple;
 width: 100%;
 display: flex;
 justify-content: space-between;


}

.order-item-img-div{
width: 20%;
border: 3px solid rgb(255, 255, 255);
box-shadow: 1px 1px 5px rgb(210, 210, 210);
border-radius: 5px;
display: flex;
justify-content: center;
align-items: center;

 
}

.order-item-img-div img{
  width: 100px;
  height: 100px;
}

.order-item-info{
 padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0px solid green;
  font-family: 'Outfit';
  gap: .5rem;
  width: 80%;
 
}

.order-item-title{
  display: flex;
  justify-content: space-between;
}



.order-item-details{
  font-size: .85rem;
  color:rgb(120,120,120);
  font-weight: 300;
 
}

.order-item-price{
padding: 1rem;


}

.checkout-box{
  width: 85%;
  font-family: 'Outfit';
 

}

.promo-code-div{
  display: flex;
  gap:1rem;
  padding: 1rem;

}

.promo-code-div span{
  width: 25%;
  height: 3rem;
  border-radius: 5px;
  border: 1px solid rgb(210,210,210);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cost-box{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

#cost-div{
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 6px 0px;
  font-weight: 300;
  font-size: .9rem;
}

.total-div{
  font-size: 1.2rem;
   width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 12px 0px;
}
 

 


 


   

  

    

   

 
 

   

    .checkout-btn{
      
       
      font-weight: 400;

          font-size: 1.15rem;
        height: 2.5rem;
        width: 90%;
             background-color: rgb(80, 220, 220); 
    
        color:rgb(255, 255, 255);
    

font-family: 'Poppins';
border: none;
transition: all .3s ease;
    }
    .checkout-btn:hover{
           background-color: rgb(80, 210,210); 
     cursor: pointer;

    }

       .checkout-btn-out{
      position: absolute;
          bottom: 1.5rem;
      font-weight: 400;
 background-color: transparent;
          font-size: 1.15rem;
        height: 2.5rem;
        width: 90%;
color: rgb(30, 30, 30);
        

border: 1px solid black;
transition: all .3s ease;
    }

     .checkout-btn-out:hover{

       
        cursor: not-allowed;
     }

       