
    .order-summary-div{
     
        width: 100%;
        height: 50vh;
        padding: 1rem;
        padding-top: 0rem;
             z-index: 1;
         border: 0px solid rgb(220,220,220);
   
      background-color: rgb(245, 245, 245);
         padding-top: 2rem;
       position: sticky; 
       top: 5rem;
      
/* background-color: rgb(245, 245, 245); */



display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
   border: 1px solid green;



    }

      .order-summary-title{
        width: 100%;
        height: 5rem;
        font-family:'Poppins';
         font-family: "Questrial", sans-serif;
         font-family: 'Jost';
         font-family: 'Roboto';
         font-family: 'Poppins';
          font-family: "Manrope", sans-serif; 
        font-family: "Questrial", sans-serif;
         
         padding: 1.5rem;
        font-size: .9rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
border-bottom:0px solid rgb(210,210,210);

color:rgb(0, 0, 0);
letter-spacing: .1rem;
border: 0px solid blue;





    }

       .order-summary-content{
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-top: 1px solid rgb(220,220,220);
      
    
      padding: 1rem;
    
          
    }
  

    .order-list-section{
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 1rem;
        font-weight: 400;
          font-family: 'Jost';
          font-family: 'Roboto';
          letter-spacing: .05rem;
          padding:.5rem;
       
          height: 4rem;
          border-bottom:0px solid rgb(210,210,210);
          border: 0px solid red;
          
        
    
        
    }

    .order-section-item{
        width:90%;
        
      
        
    }
    .order-section-price{
    
      width: 13%;
    }


 

    .order-list{
        width: 100%;
   height: 100%;
  position: relative;
         color: rgb(40, 40, 40);
         font-weight: 300;
  
      overflow-y: scroll;
      scrollbar-width: none;

    font-family: 'Inter';
        
    
    font-size: .9rem;
   


    

    }

    .order-list-item{
display: flex;
flex-direction: row;
padding:.5rem;
justify-content: space-between;

    }

    .order-list-quantity{
        font-weight: 400;
       
    }

    .total-cost{
     
        width:100%;
        padding:1rem;
        display: flex;
        justify-content: space-between;
 border-top: 1px solid rgb(210,210,210);
        font-family: 'Poppins';
    }

   

 
 

   

    .checkout-btn{
      
       
      font-weight: 400;

          font-size: 1.15rem;
        height: 2.5rem;
        width: 90%;
             background-color: rgb(80, 220, 220); 
    
        color:rgb(255, 255, 255);
    

font-family: 'Poppins';
border: none;
transition: all .3s ease;
    }
    .checkout-btn:hover{
           background-color: rgb(80, 210,210); 
     cursor: pointer;

    }

       .checkout-btn-out{
      position: absolute;
          bottom: 1.5rem;
      font-weight: 400;
 background-color: transparent;
          font-size: 1.15rem;
        height: 2.5rem;
        width: 90%;
color: rgb(30, 30, 30);
        

border: 1px solid black;
transition: all .3s ease;
    }

     .checkout-btn-out:hover{

       
        cursor: not-allowed;
     }

       @media(max-width:1200px){
          
        .order-summary-div{
           
                width: 40%;
        }

        .order-summary-title{
            font-size: 1.5rem;
        }
       }

 @media(max-width:1000px){

      .order-summary-div{
        
        }
        .order-summary-title{
   height: 3rem;  
        }
    }
 @media(max-width:800px){
    .order-summary-div{
        width: 90%;
     
    }
      .order-list{
            font-size: .9rem;
           
         }
 }

  @media(max-width:550px){
     .order-summary-div{
        width: 95%;
     
    }
  }

    @media(max-width:460px){
      
          .order-summary-div{
            margin-top: 3rem;
          }

           .order-list-item , .order-list-section{
            padding-left: 0rem;
            padding-right: 0rem;
           }

           .total-cost{
            padding-left: .5rem;
            padding-right: .5rem;
           }

            .order-list{
                font-size: .8rem;
            }
  
    }