
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100..900&display=swap');


.bento-div{
  width: 100%;
  margin-top: 3rem;

}






  .bento-container-div{
    display: flex;

    align-items: center;
      position: relative;
      padding-top:1rem ;
      
  }

  .bento-container{
    margin-left:4rem;
 
    display: flex;
    flex-direction: row;
    gap:1.5rem;
    /* background-color: rgb(255, 255, 255); */
    width: 100vw;
     transition: transform 1000ms ease;
  /*   translate: -500px; */

     

  }

  .bento-container-nav-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 99vw;




    position: absolute;
  }

 

  .bento-left{
    
      width: 5rem;
    height: 5rem;
   color: #eaeaea;
    background-color: #00000089; /* #716c6c4d; */
    margin-left: 1rem;
    border: 0px solid #eeeeee9f;
    border-radius: 50%;
    padding:0;
z-index: 999;
  transform: scale(0.5);
  opacity: 0;
  transition: transform .8s, opacity .8s;
 
  }

  .bento-left:hover{
     background-color: #000000bf;
  }

   .bento-container-div:hover .bento-left{
    
      transform: scale(1);
  opacity: 1;
   }

  .bento-right{

 width: 5rem;
    height: 5rem;
    color: #eaeaea;
    background-color:  #00000089; /* #716c6c4d; */
    margin-right: 0;
    border: 0px solid #eeeeee9f;
    border-radius: 50%;
    padding:0;
    z-index: 999;
      transform: scale(0.5);
  opacity: 0;
  transition: transform .8s, opacity .8s;
 
  }

    .bento-right:hover{
     background-color: #000000bf;
  }

     .bento-container-div:hover .bento-right{
    
      transform: scale(1);
  opacity: 1;
   }



  #card-bento{
    width:25%;
    height: 450px;
   background-position: center;
   background-size: cover;
    border: 0px solid black;
    flex-shrink: 0;
    border-radius: 1rem;
    position: relative;
    transition: transform .3s ease,  box-shadow 0.5s ease-in-out;
    box-shadow: 5px 5px 10px rgb(175, 175, 175);
  }




  #card-bento:hover  {
   
    transform: scale(1.02);
    box-shadow: 0px 5px 10px rgb(126, 126, 126);
    cursor: pointer;
  
  }

  #card-bento-name{
      font-size: 2rem;

  position: absolute;
     font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;

 
  font-style: normal;
  top: 90%;
  left:50%;
  transform: translate(-50%,-50%);
  color:rgb(255, 255, 255);
  width: 80%;
border:0px solid white;
  display: flex;
  justify-content: start;
/*   border-top-right-radius: .5rem;
  border-top-left-radius: .5rem; */
  }