
.bento-div{
  width: 100%;
  margin-top: 3rem;

}


.bento-heading-div{
    
    width: 100%;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0px solid rgb(142, 142, 142);
    background-color: #eeeeee;
  margin-bottom: 1rem;
   /* background-color: #ffffff; */ /* #cecece */
   
    
  }

  .bento-heading{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 88%;
    font-size: 3rem;
    height: 70%;
    border-bottom: 0px solid rgb(22, 22, 22);
    color:rgb(22, 22, 22);
      font-family: 'Montserrat', sans-serif; 
    font-weight: 500;

  }

  .bento-tagline{
    color:rgb(100,100,100);
    font-size: 2rem;
  }

 

  #bento-btn-div{
    position: absolute;
    bottom: 25%;
    display: flex; /* or whatever layout you want */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    justify-content: space-around;
    width: 100%;
    height: 10%;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
   
  }

#card-bento:hover #bento-btn-div{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.2s;
  }



  #bento-btn1{


    border: 2px solid rgb(255, 255, 255);
    width:40%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(255, 255, 255);
     border-radius: .2rem;

  }
  #bento-btn2{

    border: 0px solid rgb(0, 0, 0);
    width:40%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(0, 0, 0);
    background-color: white;
     border-radius: .2rem;

  }



  .bento-container-div{
    display: flex;
background-color: #eeeeee;
    align-items: center;
      position: relative;
      padding-top:1rem ;
      
  }

  .bento-container{
    margin-left:7rem;
 
    display: flex;
    flex-direction: row;
    gap:1.5rem;
    /* background-color: rgb(255, 255, 255); */
    width: 100vw;
     transition: transform 1000ms ease;
  /*   translate: -500px; */

     

  }

  .bento-container-nav-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 99vw;




    position: absolute;
  }

 

  .bento-left{
    
      width: 5rem;
    height: 5rem;
   color: #eaeaea;
    background-color: #00000089; /* #716c6c4d; */
    margin-left: 1rem;
    border: 1px solid #eeeeee9f;
    border-radius: 50%;
    padding:0;
z-index: 999;
  transform: scale(0.5);
  opacity: 0;
  transition: transform .8s, opacity .8s;
 
  }

  .bento-left:hover{
     background-color: #000000bf;
  }

   .bento-container-div:hover .bento-left{
    
      transform: scale(1);
  opacity: 1;
   }

  .bento-right{

 width: 5rem;
    height: 5rem;
    color: #eaeaea;
    background-color:  #00000089; /* #716c6c4d; */
    margin-right: 0;
    border: 1px solid #eeeeee9f;
    border-radius: 50%;
    padding:0;
    z-index: 999;
      transform: scale(0.5);
  opacity: 0;
  transition: transform .8s, opacity .8s;
 
  }

    .bento-right:hover{
     background-color: #000000bf;
  }

     .bento-container-div:hover .bento-right{
    
      transform: scale(1);
  opacity: 1;
   }



  #card-bento{
    width:25%;
    height: 450px;
   background-position: center;
   background-size: cover;
    border: 0px solid black;
    flex-shrink: 0;
    border-radius: 1rem;
    position: relative;
    transition: transform .3s ease,  box-shadow 0.5s ease-in-out;
    box-shadow: 5px 5px 10px rgb(175, 175, 175);
  }




  #card-bento:hover  {
   
    transform: scale(1.02);
    box-shadow: 5px 5px 10px rgb(126, 126, 126);
  
  }

  #card-bento-name{
      font-size: 2rem;

  position: absolute;
   font-family: 'Montserrat', sans-serif; 

  font-weight: 400;
  font-style: normal;
  top: 90%;
  left:50%;
  transform: translate(-50%,-50%);
  color:rgb(255, 255, 255);
  width: 100%;

  display: flex;
  justify-content: center;
  border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
  }