@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.sticky-header-TopMounted {
    position: fixed;
    top: 0;
    z-index: 999;

    width: 100%;
    display: flex;

    justify-content: center;
    align-items: center;

background-color: transparent;
  box-shadow: 0 2px 10px rgba(60, 60, 60, 0.19); 

    
  }


  .sticky-header-ScrollUp {
    position: fixed;
    top: 0;
    z-index: 999;

    width: 100%;
    display: flex;
 
    justify-content: center;
    align-items: center;

background-color: black;
   
 

      
  }
  
 .header-home{
    position: relative;
    border:0px solid white;
    height:10rem;
   width: 90%;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
 background-color: transparent;
     z-index: 999;
    overflow: hidden;

  }

  .header-home-upper{
    border: 0px solid red;
    height: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .site-logo-div{
    border: 0px solid purple;
    display: flex;
    justify-content: center;
    align-items: end;

  }

  .site-logo{
    width: 100px;
    margin-bottom: -.5rem;
  }

  .header-home-lower{
    border: 0px solid green;
      height:50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
       position: relative;
  }

  .site-name-div{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    color:#eee;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0px solid pink;
    
  }

  .site-logo-tagline{
   font-family: "Jost";
   font-size: .9rem;
   letter-spacing: .2rem;

  }

  .site-name{
  font-size: 1.8rem;
  font-size: 2.3rem;
    letter-spacing: .8rem;
    z-index: 999;
font-weight: 400;
/* margin-bottom: -0.2rem;
margin-top: 0rem; */
font-family: "Prosto One", sans-serif;
margin-bottom: -.2rem;
/* background-color: red; */
width: 100%;

  }





.home-menu-ph{
  display: none;
}
 
   .page-nav-container{
   

     display: flex;
     justify-content:center;
  align-items: end;

     width: 25%;
    height: 100%;
     border: 0px solid rgb(145, 52, 52);

 transition: all .3s ease;
   }

 
 
   .page-nav{
    
    display: flex;
   /* 
    */
    align-items: end;
  
    width:100%;

height: 100%;

 font-weight: 400;
font-family: 'Montserrat', sans-serif; 
      font-family: "Questrial", sans-serif; 
      font-family: 'Jost';
/* font-family: 'Poppins'; */


    z-index: 1;
    border: 0px solid rgb(177, 104, 104);
     font-size: .9rem;
    letter-spacing: .1rem;
    

   }


 .page-nav-item{
    display: flex;  
   align-items: center;
   justify-content: center;
   border-bottom: 4px solid transparent;
 
 height: 100%;
 transition: all .3s ease;
   flex: 1;

   height: 75%;

   }

    .sticky-header-TopMounted .page-nav-item{
      color:rgb(225, 225, 225);
    }

   .page-nav-item-selected{
    justify-content: center;
    

   }

 

  .sticky-header-TopMounted .page-nav-item:hover{

/* border-bottom: 3px solid rgb(255, 255, 255);
 */
 color:white;
 

 
   }

   .sticky-header-ScrollUp .page-nav-item:hover{
/* border-bottom: 3px solid rgb(0,230,230); */
 color:rgb(255, 255, 255);


 
   }

.sticky-header-ScrollUp .page-nav-item{
      color:rgb(170, 170, 170);
      height: 75%;
    }

 .sticky-header-TopMounted  .page-nav-item-selected{
    display: flex;
   
    align-items: center;
  
    border-bottom: 3px solid rgb(255, 255, 255);
   
color: white;
flex: 1;
height: 75%;

  

 
  }

   .sticky-header-ScrollUp .page-nav-item-selected{
    display: flex;
 
    align-items: center;
    
    border-bottom: 4px solid  rgb(0,250,250);

color: rgb(0,250,250);
color:white;
flex: 1;
height: 75%;

  

 
  }




  
  .Home-Nav-Container{
    border: 0px solid rgb(220, 33, 33);
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    
    align-items: end;
    font-weight:400;
    margin-right: 0rem;

   z-index: 1;
    font-size: 1rem;
    height: 100%;
    width: 12%;
   

  }





.navlink{
    color: rgb(230, 230, 230);
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 75%;
  }



 .navlink:hover{
    color:rgb(255, 255, 255);
 
  }


 .navlink-selected {

    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    height: 75%;


  }


 /*   .navlink #fd-header-logo{
      display:none;
    }

    .navlink-selected #ol-header-logo{
      display:none;
    } */



  #header-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  }

 
 .searchIcon-div{
   color: rgb(235, 235, 235);
   height: 75%;

   display: flex;
   align-items: center;

   }

  .searchIcon-div :hover{
    color: rgb(255, 255, 255);
   }


.searchIcon{
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 0.2rem;
}



  .header-backArrow{
    position: absolute;
    bottom: 15px;
    left:5px;
    display: none;
   }

  .backToStore{
    
    position: absolute;
     font-size: 1.5rem;
     font-weight: 400;
     color:rgb(35, 35, 35);
     left:1rem;
     
   }

 


 @media (max-width:1280px){





  .page-nav{
       font-size: .9rem;
letter-spacing: .03rem;
  }
  
    .Home-Nav-Container{
          
      
    }
/*   #header-icon{
  font-size: 1.4rem;
  }

  .searchIcon{
  width: 1.4rem;
  height: 1.4rem;
}
 */
 }
 
 @media(max-width:1024px){

  .header-home{
 
  }
  




  .page-nav{
   font-size: .9rem;
   letter-spacing: 0rem;
  }
  
    .Home-Nav-Container{
      
          gap:1rem;
    }

 /*  #header-icon{
  font-size: 1.2rem;
  }

  .searchIcon{
  width: 1.2rem;
  height: 1.2rem;
}

 */



 }


 @media (max-width:850px){

 .page-nav-container{
   width: 30%;
 }

  
 }

 @media (max-width: 768px) {



  .page-nav{
       font-size: .85rem;
letter-spacing: 0rem;
  }
  
    .Home-Nav-Container{
        

    }
/*   #header-icon{
  font-size: 1.2rem;
  }

  .searchIcon{
  width: 1.2rem;
  height: 1.2rem;
} */
}

@media (max-width:700px){  /* Header layout changes */

  .sticky-header-TopMounted {
    
  }
      .header-home{
    /* height: 7rem; */
    height: 8rem;
 width: 95%;
  color:white;
  position: relative;
 justify-content: center;

  }

  .site-logo{
    width: 80px;
  }

    .site-logo-tagline{
 
   font-size: .8rem;
   letter-spacing: .15rem;

  }

   .site-name{
    font-size: 2rem;
    letter-spacing: .5rem;
  
   }
 



  .home-menu-ph{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  border: 0px solid rgb(255, 255, 255);
  position: absolute;
  left: 0rem;
  border-radius: 50%;
  bottom: .5rem;
  z-index: 999;

}

 .menu-icon{
font-size: 1.5rem;

          }

  
      .page-nav-container{
        display: none;
   


  }





 
  
  

.Home-Nav-Container{
         margin-right: 0rem;
          position: absolute;
          right: 0rem;
          height: 50%;
          border: 0px solid red;
          width: auto;
     
          
    }

  .sticky-header-ScrollUp .navlink {
    color:rgb(226, 226, 226);
  }

  
 .sticky-header-ScrollUp .navlink:hover, .sticky-header-ScrollUp .navlink-selected{
    color:rgb(255, 255, 255);
 
  }


 

  #header-icon{
  font-size: 1.5rem;
 
  }

 .searchIcon-div{
   display: flex;
  }

  .searchIcon{ 

  width: 1.5rem;
  height: 1.5rem;

}



  





}

@media (max-width: 480px){

     .page-nav{                
      width: 90%;
       font-size: .75rem;

  }


  #header-icon{
  font-size: 1.3rem;

  }

  .searchIcon{
  width: 1.3rem;
  height: 1.3rem;

}


}

@media (max-width: 400px){

 .sticky-header-TopMounted{
  background-color: black;
 }

 .header-home{
  height: 6.8rem;
 }

   .site-logo{
    width: 70px;
  }

  .site-logo-tagline{
 
   font-size: .7rem;
   letter-spacing: .1rem;

  }

   .site-name{
    font-size: 1.5rem;
    letter-spacing: .4rem;
    margin-bottom: -.2rem;
   }
}

