@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');




  .site-header-div{
    position: fixed;
    top: 0;
      left: 50%;

    z-index: 999;

    width: 100%;

    display: flex;
 
    justify-content: center;
    align-items: center;

 
  border: 0px solid red;



  }



  
 .header-home{
    position: relative;
    border:0px solid white;
    height:6rem;
    width: 100%;
  
color:rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
 background-color: transparent;
     z-index: 999;
   background-color: white;
   /*     background: rgba(255, 255, 255, 0.801);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);

  
  border: 1px solid rgba(255, 255, 255, 0.3); */

  }

    .headerAtTop{
   

background-color: transparent;
  box-shadow: 0 2px 10px transparent; 
  background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(00px);
  -webkit-backdrop-filter: blur(00px);
   
  }

/*   .headerAtTop:hover{
    background-color: white;
  } */


  .header-home-upper{
    border: 0px solid red;
    height: 00%;
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
  }

  .site-logo-div{
    border: 0px solid purple;
    display: flex;
    justify-content: center;
    align-items: end;
    transition: all .6s ease;

  }

  .site-logo{
    width: 110px;
    margin-bottom: -.6rem;
  }

  .header-home-lower{
    border: 0px solid green;
      height:100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
       position: relative;
       width: 90%;
       
  }

  .site-name-div{
    position: absolute;
    width: 100%;
    height: 100%;
    
    color:#ffffff; 
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0px solid pink;
   
    
  }

  .site-logo-tagline{
    display: none;
   font-family: "Jost";
   font-size: .9rem;
   letter-spacing: .2rem;

  }

  .site-name{
  
  font-size: 2.2rem;
    letter-spacing: .2rem;
    z-index: 999;
font-weight: 500;

font-family: "Prosto One", sans-serif;


color:black;
  will-change: transform;
    transform-origin: center center;

  }

   .headerAtTop .site-name{
    color:#ffffff;

   }





.home-menu-ph{
  display: none;
}
 
   .page-nav-wrapper-left{
   

     display: flex;
     justify-content:center;
  align-items: end;
   gap: 1rem;
      font-family: 'Raleway'; 
      font-family: 'Roboto';
    
 font-family: 'Outfit';
  font-family: "Figtree", sans-serif; 
  height: 100%;
     border: 0px solid rgb(145, 52, 52);
  font-size: .95rem;

 width: 15rem;
 color:black;


   }

    .headerAtTop  .page-nav-wrapper-left{
      color:white;
    }

 



 .page-nav-left{
    display:flex;  
   align-items: center;
   justify-content: flex-start;
   border-bottom: 0px solid transparent;
border: 0px solid blue;
 transition: all .3s ease;
   flex: 1;
   font-weight: 400;


   height:100%;
   

   }

   .page-nav-left:hover{
    color:blue;
   }


 

  


   .page-nav-left-selected{
  text-decoration: underline;
text-decoration-thickness: 1.5px;
text-decoration-color:rgb(0, 0, 0) ;
text-underline-offset: 3px;
pointer-events: none;

   }

    .headerAtTop   .page-nav-left-selected{
      text-decoration-color:rgb(255, 255, 255) ;
    }

 

  
  .page-nav-wrapper-right{
    border: 0px solid rgb(220, 33, 33);
    display: flex;
    flex-direction: row;  
    justify-content: space-evenly;
    
    align-items: end;
    font-weight:400;
    margin-right: 0rem;
 width: 10rem;
   z-index: 1;
    font-size: 1rem;
    height: 100%;
   
    /* width: 15%; */
   

  }





.page-nav-right{
   
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
  }

  .page-nav-right:hover{
    cursor: pointer;
  }

  .page-nav-right-selected{
 pointer-events: none;
  }

  
.cart-toggle{
  height: 100%;
  color: black;
  display: flex;
  align-items: center;
}




  #header-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;

  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transition: all .3s ease;
  color: rgb(75, 75, 75);

  }

  #header-icon:hover{
   
      color:blue;

  }

  .page-nav-right-selected   #header-icon{
    color:black;
  }

  .headerAtTop #header-icon{
    color:rgb(255, 255, 255);
    
  }






.searchIcon{
  width: 1.3rem;
  height: 1.3rem;
  margin-top: 0.2rem;
    transition: all .3s ease;
}

.searchIcon:hover{
 
  cursor: pointer;
}




 


 @media (max-width:1280px){

.page-nav-wrapper-left{
  width: 12rem;
}
 }
 
 @media(max-width:1024px){

  .header-home{
 
  }

    .site-name{
      font-size: 1.8rem;
        letter-spacing: .6rem;
    }

     .site-logo-tagline{
      font-size: .8rem;
        letter-spacing: .15rem;
      
     }
  

  .page-nav{
  /*  font-size: .85rem;
   letter-spacing: 0rem; */
  }

   .page-nav-item , .page-nav-item-selected{
    width: 6rem;
   } 




  
    .Home-Nav-Container{
      
       width: 10rem;
    }

       #header-icon{
  font-size: 1.4rem;
  }

  .searchIcon{
  width: 1.4rem;
  height: 1.4rem;
} 

  

 /*  #header-icon{
  font-size: 1.2rem;
  }

  .searchIcon{
  width: 1.2rem;
  height: 1.2rem;
}

 */



 }


 @media (max-width:850px){

 .page-nav-item,.page-nav-item-selected{
    width: 5rem;
   }
  
 }

 @media (max-width: 768px) {



  .page-nav{
       font-size: .85rem;
letter-spacing: 0rem;
  }
  

/*   #header-icon{
  font-size: 1.2rem;
  }

  .searchIcon{
  width: 1.2rem;
  height: 1.2rem;
} */
}

@media (max-width:700px){  /* Header layout changes */

  .sticky-header-TopMounted {
    
  }
      .header-home{
    /* height: 7rem; */
    height: 8rem;
 width: 95%;
  color:white;
  position: relative;
 justify-content: center;

  }

  .site-logo{
    width: 80px;
  }

    .site-logo-tagline{
 
   font-size: .8rem;
   letter-spacing: .15rem;

  }

   .site-name{
    font-size: 2rem;
    letter-spacing: .5rem;
  
   }
 



  .home-menu-ph{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  border: 0px solid rgb(255, 255, 255);
  position: absolute;
  left: 0rem;
  border-radius: 50%;
  bottom: .5rem;
  z-index: 999;

}

 .menu-icon{
font-size: 1.5rem;

          }

  
      .page-nav-container{
        display: none;

  }

  .Home-Nav-Container .desktop-only{
  display: none;
  }




 
  
  

.Home-Nav-Container{
         margin-right: 0rem;
          position: absolute;
          right: 0rem;
          height: 50%;
          border: 0px solid red;
          width: auto;
          gap: 1rem;
     
          
    }

  .sticky-header-ScrollUp .navlink {
    color:rgb(226, 226, 226);
  }

  
 .sticky-header-ScrollUp .navlink:hover, .sticky-header-ScrollUp .navlink-selected{
    color:rgb(255, 255, 255);
 
  }


 

  #header-icon{
  font-size: 1.5rem;
 
  }

 .searchIcon-div{
   display: flex;
  }

  .searchIcon{ 

  width: 1.5rem;
  height: 1.5rem;

}



  





}

@media (max-width: 480px){

     .page-nav{                
      width: 90%;
       font-size: .75rem;

  }


  #header-icon{
  font-size: 1.3rem;

  }

  .searchIcon{
  width: 1.3rem;
  height: 1.3rem;

}


}

@media (max-width: 400px){

 .sticky-header-TopMounted{
  background-color: black;
 }

 .header-home{
  /* height: 6.8rem; */
 }

   .site-logo{
    width: 85px;
  }

  .site-logo-tagline{
 
   font-size: .6rem;
   letter-spacing: .1rem;

  }

   .site-name{
    font-size: 1.5rem;
    letter-spacing: .4rem;
    margin-bottom: -.2rem;
   }

   .Home-Nav-Container{
    gap: .5rem;
   }
}

