.sticky-header {
    position: sticky;
    top: 0;
    z-index: 999;
   /*  background: linear-gradient(to bottom, rgb(22, 22, 22), #292828); */
  background-color: #eeeeee;  
   /*  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */ /* Optional shadow */
    width: 100%;
  }
  
  .header-home{
    
    border:0px solid white;
    height:5rem;
    
    color: black;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center; 
    padding-bottom: 0px;
  }

 
  
  .logo-title {
    border:0px solid rgb(8, 0, 255);
    padding-left: 10px;
    display:'flex';
    flex-direction: row;
    justify-content: center;
    gap: 0px;
    align-items: center;
    height: 100%;
    font-family: 'Trebuchet MS', 'Gill Sans MT', Calibri,'Gill Sans' , sans-serif;
  }
  
  .header-logo-name{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  height: 100%;
    border: 0px solid red;
  }
  .name{
    border: 0px solid red;
   letter-spacing: .1rem;
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }
  .logoImg{
    width:20rem;
    margin-left: .5rem;
   
  }
  .tagline{
    border: 0px solid red;
    font-size: .8rem;
  }

  .header-searchBar-div{
    width: 40%;
    display:flex;
    flex-direction: column;
   
    
  }
  .header-searchBar{
    border: 0px solid red;
   width: 100%;
    display:flex;
    position: relative;
    align-items: center;
    
  }
  .header-search-box{
  
    width: 100%;
    height: 2.5rem;
    border: 0px;
    border-radius: .2rem;
    background-color: rgb(255, 255, 255);
  }

  .suggestionBox{
    border: 0px solid red;
    color: black;
   width: 40%;
   max-height: 8rem;
   position: absolute;
   margin-top: 2.7rem;
   background-color: white;
  overflow: hidden;
  
  }
  .suggestion{
    color: black;
    padding: .4rem;
  }

  .suggestion:hover{
    background-color: gainsboro;
  }

  
  .Home-Nav-Container{
    border: 0px solid black;
    display: flex;
    flex-direction: row;  
    justify-content: center;
    gap:1.5rem;
    align-items: center;
    font-weight:400;
    margin-right: 1.2rem;
   
    font-size: .9rem;
    font-family: 'Trebuchet MS', 'Gill Sans MT', Calibri,'Gill Sans' , sans-serif;
  }


  .navlink{
    color: black;
    display: flex;
    flex-direction: row;
    gap: .2rem;
    align-items: center;
    justify-content: center;
    letter-spacing: .2rem;
    padding-bottom: .2rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0);
   
  
  

  }
  .navlink:hover{
    color:black;
   border-bottom: 0px solid grey;
   text-decoration: underline;
   text-underline-offset: .5rem;
   
  }
  .navlink-selected {
  
    letter-spacing: .2rem;
    padding:.2rem;
  color: black;
  border-radius: .3rem;
   
   border: 0px solid rgb(134, 130, 130);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .2rem;
   
  
  }

  .navlink-selected #header-nav-name{
    padding-bottom: .2rem;
    border-bottom: 2px solid rgb(48, 47, 47);
  }

  #header-icon{
    border: 0px solid black;
    height: 1.2rem;
    width: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  #header-nav-Icon{
    width: 100%;
  height: 100%;
  object-fit: cover;
  }

  .header-backArrow{
    position: absolute;
    bottom: 15px;
    left:5px;
    display: none;
   }

  .backToStore{
    
    position: absolute;
     font-size: 1.5rem;
     font-weight: 400;
     color:rgb(255, 255, 255);
     left:1rem;
     
   }
 
   .productDetails-nav-container{
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: rgb(26, 25, 25); 
     width: 100%;
     position: relative;
   }
 
 
   .productDetails-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 3.5rem;
    border: 0px solid red;
   background-color: rgb(26, 25, 25); 
     
   }
   .productDetails-nav-item{
     display: flex;
     border: 0px solid red;
     align-items: center;
     font-size: 1rem;
  
/*   background-color: rgba(255, 255, 255, 0.875); */
 height: 90%;
   padding-left:.5rem;
   padding-right:.5rem;
   
   color:rgb(255, 255, 255);
  
   }
   .productDetails-nav-item:hover{
border-bottom: 2px solid white;
color:rgb(255, 255, 255);
   }
 
   .Product-Details-SimilarProducts{
     border: 0px black solid;
   background-color: white;
  width: 100%;
  margin-top:2rem;
  margin-bottom:2rem;
   }

 

  @media (max-width:1025px){

    .header-home{
      height: 4rem;
    }
    .Home-Nav-Container{
      
        gap:.5rem;
   
        font-size: .8rem;
       
      }
   
      .navlink-selected{
        
        font-size: 1rem;
     
      }

      #header-nav-Icon{
        width: 20px;
      }
      .name{
       
        font-size: 1.6rem;
      
      }
      .tagline{
        font-size: .7rem;
      }
      .logoImg{
        width:4rem;
      }

  }

  @media (max-width:800px){
   
    .header-searchBar-div{

       width: 30%;
      
      }
      .suggestionBox{
        width: 30%;
      }
 
    .Home-Nav-Container{
     
        gap:.3rem;
      
        font-size: .7rem;
       
      }
   
      .navlink-selected{
    
        font-size: .8rem;
       
        
       
      
      }
      .name{
       
        font-size: 1.4rem;
       
      }
      .tagline{
        font-size: .7rem;
      }
      .logoImg{
        width:3.4rem;
      }

  }

  @media (max-width:630px){
    .header-home{
    

        height:5.5rem;
        
       
        align-items: start;
     
      }
      .logo-title {
       height: 50%;
      border: 0px solid red;
        gap: 0;
        align-items: start;
        gap:.2rem;

      }

      .header-backArrow{
        position: absolute;
        bottom: 10px;
        left:10px;
        display: block;
        font-size: 1.5rem;
        font-weight: 600;
      }

     


    .header-searchBar-div{
        right: 50%;
        translate:50% ;
        bottom:7px;
        position: absolute;
    
       width: 80%;
        display:flex;
       
        align-items: center;
      }
      .header-search-box{
  
        width: 100%;
        height: 2rem;
        border: 0px;
        border-radius: .2rem;
      }

      .suggestionBox{
        width: 100%;
      }
 
    .Home-Nav-Container{
       
        gap:1rem;
        align-items: center;
        padding-top: .7rem;
       
       
        font-size: .8rem;
       
      }
   
      .navlink-selected{
        
        font-size: 1rem;
        
        border-radius: .2rem;
        padding:.2rem;
    
      
      }
      .name{
      
        font-size: 1.8rem;
       
      }
      .tagline{
        font-size: .7rem;
      }
      .logoImg{
        width:3.2rem;
       
    
      }

  }

  @media (max-width:500px){
    
     
    
    .header-backArrow{
      position: absolute;
      bottom: 15px;
      left:5px;
      display: block;
      font-size: 1.2rem;
      font-weight: 600;
    }

    .Home-Nav-Container{
       
      gap:.8rem;
   
  
  
      margin-right: .5rem;
      font-size: .7rem;
    
    }
 
    .navlink-selected{
    
      font-size: .8rem;
   
      border-radius: .2rem;
      padding:.2rem;
     
    
    }
      .name{
    
        font-weight: 500;
        font-size: 1.4rem;

      }
      .tagline{
        font-size: .6rem;
      }
      .logoImg{
        width:2.8rem;
       
    
      }
    

  }

  
  @media (max-width:400px){
    
     
    
 
    
      .name{
      
        font-weight: 500;
        font-size: 1.2rem;
       
      }
      .tagline{
        font-size: .55rem;
      }
      .logoImg{
        width:2.4rem;
        padding-top: .3rem;
        
    
      }
      .logo-title{
        padding-left:10px;
      }
      
  }