
.footer-upper{
    border: 0px solid black;

    width: 100%;
    display: flex;
    justify-content: space-between;
     line-height: 1.8rem;
    font-size: 14px;
    background-color: rgb(0, 0, 0);
        font-family: 'Inter';
  padding: 2rem 0rem;
  
    
}

.upper-left{
    border: 0px solid rgb(255, 255, 255);
    width: 50%;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.upper-right{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 2rem;
    padding: 1rem;
    border: 0px solid rgb(255, 255, 255);
}

.upper-right-top{
    display: flex;
   gap: 8rem;
}

.upper-right-bottom{

}

.newsletter-wrapper{
    height: 2.5rem;
    display: flex;
}

.newsletter-input{
    width: 80%;
    background-color: black;
    border: 2px solid rgba(255, 255, 255, 0.605);
    color:white;
    height: 100%;
    padding: 10px;
    
}

.newsletter-input::placeholder{
    color:rgba(255, 255, 255, 0.605);
}

.newsletter-btn{
  height: 2.5rem;
  aspect-ratio: 1/1;
color:black;
    background-color: white;
    display: grid;
    place-items: center;
    font-size:1.5rem;
}

#footer-title{
    color:rgb(125,125,125);
    padding-bottom:1rem;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Figtree';
    letter-spacing: 1px;
    

}

.social-icons-div{
    
    display: flex;
    align-items: center;
    gap: 1rem;



    
}

#social-icon{

   font-size: 2rem;
   background-color: rgb(255, 255, 255);
   color:rgb(0, 0, 0);
   padding: 5px;
   border-radius: 1px;
}

