.solar-Img-main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: end;
    position: relative;

 

}

.solar-Img-wrapper-left{
    
    
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0px solid red;
    display:flex;
    justify-content: left;
   /*   left: -5rem; */
 
}

.solar-Img-container{
    position: relative;
    width: 100%;
    height: 100%;
    
}

.solar-Img-container img{
  
    width: 600px;
    position: absolute;
    

}

#solar-img-left{
    left: 0rem;
}

#solar-img-right{
    left: 15rem;
}

.solar-blur-Img{
    z-index: -1;
   
}

.solar-Img-wrapper-right{
 border: 0px solid yellow;
 width: 100%;
 height: 100%;
   position: absolute;
     display:flex;
    justify-content: right;
   /* right: -10rem; */
  
}


.solar-Img-wrapper-right img{
  

  /*    right: -10rem;  */

}

 @media(max-width:1200px){
    .solar-Img-container img{
  
    width: 500px; 
    position: absolute;

}



 }

  @media(max-width:1000px){
    .solar-Img-container img{
  
   /*  width: 400px; */
    position: absolute;

}

#solar-img-right{
    /* display: none;  */
}

 }

   @media(max-width:800px){
   
   }