.homeIntro{
 height: 100vh;
 width: 100%;

}




.video-hero {
  position: relative;
width: 100%;
height: 100vh;
  overflow: hidden;
 
}

.video-hero video {
 
  width: 100%;
  height: 100%;
  object-fit: cover;
  
  z-index: 0;
}


.home-intro-content {
  position: absolute;
  bottom:0;
  z-index: 1;
  color: white;
border: 0px solid red;

  height: 100vh;
  width: 35%;
  margin-left: 5rem;
  display: flex;
  align-items: end;

}


.carousel-container {
  height: 600px; /* Adjust based on your text size */
overflow: hidden;/* This hides the other 3 elements */
  position: relative;
  border: 0px solid #ddd;
 
}

.carousel-track {
  display: flex;
  flex-direction: column; /* Arranges items in a column */
  transition: transform 0.5s ease-in-out; /* Smooth sliding effect */
  height: 100%;
}

.carousel-item {
  min-height: 100%; /* Each item takes up the full container height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  opacity: 1;
}

.carousel-item h2{
    font-size: 4rem;
    font-family: Raleway;
    transition: transform 0.6s ease-in-out;
  
}

.carousel-item p{
    font-size: 1.3rem;
   transition: transform 0.8s ease-in-out, opacity 1s ease;
   font-family: "Outfit";
   font-weight: 300;
   font-family: "Rethink Sans", sans-serif;
   font-family: 'Jost';

    
}

.blur-content{
    opacity: .1;
}



.carousel-item span {
  color: #ff4757; /* Highlight style for your <span> tags */
  color:blue;
  font-weight: bold;
}

.home-carousel-buttons{
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    z-index: 999;
    position: absolute;
   right: 20rem;
    top: 30rem;
}

.home-intro-explore{
    position: absolute;

   width: 100%;
    bottom: 5rem;
    left: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit';
    display: flex;
    justify-content: start;
}


  .CrousalNav-div{
position: absolute;
bottom:6rem;

    width: 100%;
  
    border: 0px solid black;
    display: flex;
    justify-content: end;
   

  }

  .CrousalNav-content{
    width: 6rem;
    margin-right: 15rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

   .CrousalNav{
    border: 0px solid black;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid white;
   /*  background-color: #ffffff72; */

   }

   .CrousalNav:hover{
    cursor: pointer;
   }

     .CrousalNav-selected{
    
    
    background-color: rgb(218, 113, 42);
    background-color: blue;
   }
