.page-wrapper {
  width: 100%;
}

.main-stack-area {
  position: relative;
  width: 100%;
  /* Create enough scroll space for 3 cards */
  height: 350vh; 
  display: flex;
  flex-direction: column;
  align-items: center;

}

.stack-card {
  position: sticky;
  top: 10vh; /* Where the cards 'dock' */
  
  /* Initial width for the first card */
  width: 75%; 
  height: 30vh;



  border-radius: 15px;
  background-size: cover;
  background-position: center;
  transform-origin: top center;
  box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.3);
  
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  will-change: transform, width, filter;
  margin-bottom: 10vh; /* Space between cards in the flow */
  will-change: transform, width, filter;
  overflow: hidden;
  filter: brightness(1); /* Set initial state here too */
  transition: none !important; /* Stop CSS from fighting GSAP */
}

/* Titles */
.stack-card-title-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  font-size: 8rem;
  line-height: 5.5rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  pointer-events: none;

}

#explore-card-name1 { color: white; }
#explore-card-name2 { color: rgba(255, 255, 255, 0.5); }
#explore-card-name3 { color: rgba(255, 255, 255, 0.25); }