
.PetShop-collection-wapper{
  
width: 100%;
display: flex;
flex-direction: column;
align-items: center;


}

.PetShop-collection{
  width: 100%;
    height: 200vh;
    position: relative;
}



.pet-section{
  width: 100%;
  display: flex;
  position: sticky;
  top:0rem;
  background-color: rgb(255, 255, 190);
  background-color: rgb(255, 211, 211,.9);
  overflow: hidden; 
}

.pet-products-wrapper{
  width: 55%;
  display: grid;
  place-items: center;
  border: 0px solid red;
  position: relative;

   
}

.pet-png-wrapper{
  position: absolute;
  top:15rem;
  right: -5rem;
  opacity: .15;
  transform: scale(1.2) rotate(-45deg);
}

.petShop-head{
    position: absolute;
    bottom: 5rem;
    left: 5rem;
    z-index: 2;
    font-size: 6rem;
    font-weight: 600;
    font-family: 'Figtree';
    color:white;
    mix-blend-mode:screen;
}

.pet-preview-wrapper{
  width: 45%;
  height: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.pet-product{

width: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
cursor: pointer;



}



.pet-food-img-wrapper{
  width: 90%;
  aspect-ratio: 1/1;
background-color: white;
border: 1px solid rgba(0,0,0,0.1);
  display: grid;
  place-items: center;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.pet-food-img-wrapper img{
  width: 70%;
  z-index: 1;
 transition: opacity .2s ease;
}

.pet-food-img-wrapper:hover img{
  opacity: 0;
}


.pet-product-bg-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
    opacity: 0;
     transition: opacity .2s ease;
}

.pet-food-img-wrapper:hover .pet-product-bg-wrapper{
  opacity: 1;
}

.pet-food-Info-wrapper{

  width: 90%;
  height: 20%;
  padding: 10px 0rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
 font-size: .9rem;
  font-family: 'Figtree';
  /*  background-color: rgb(255, 255, 190); */
  color:rgba(0,0,0,0.8);
   text-transform: capitalize;
}

.pet-info-line1{
  display: flex;
  justify-content: space-between;
  font-weight: 600;
 
}

.pet-food-brand{
 text-transform: uppercase;
}

.arc-container {
/* gives scroll space */
height: 100vh;
width: 100%;
  display: flex;
  justify-content:center  ;
align-items: center;

 transform: translate(-50%,50%); 
 

}

.dog-main{
  position: absolute;
  width: 35%;
  left: -5rem;
 top: 10rem;
 z-index: 1;

}



.arc {
  position: relative;
  width: 1500px;
  height: 1500px;
  border-radius: 50%;
   background-color: rgba(255, 128, 128, 0.3);

  border: 0px solid rgba(0,0,0,0.2);
    will-change: transform;
  transform: translateZ(0); /* GPU acceleration */
}

/* Items placed on arc */
.arc-item {
  display: grid;
  place-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  --total: 4;
  --spread: 60deg; /* 🔥 control spacing */

  transform:
    rotate(calc(-165deg + (var(--i) * (var(--spread) / (var(--total) - 1)))))
    translate(850px)
    rotate(calc(180deg - (var(--i) * (var(--spread) / (var(--total) - 1)))));
}

.arc-item img{
 width: 170px;

}

.pet-product-img{
    border: 1px solid white;
}

.pet-product-img:hover{
    border-color: rgb(0, 0, 0,.1);
}
