

.Categories-div{
    margin-top: 4rem;
 
}

.Categories-container{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

overflow-x: hidden;
border: 0px solid yellow; 
/* background-image: url('./QM-BG-HP.jpg');
background-position: bottom;
background-size: cover; */


}

.Categories-head-div{
    
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;

     position: relative;
     margin-bottom: 1rem;

 background-color: white;



  }
.carousel-container {
  
     position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
  height: 100vh;
  width: 100%;
  perspective: 1000px;
/*   overflow: hidden; */
   border: 0px solid #0213ff;
  
   


 
}

.wall{

      width: 100%;
  height:57vh;
  
 background-color: #ffffff;
  background-image:
    linear-gradient(rgb(220,220,220) 1px, transparent 1px),
    linear-gradient(90deg, rgb(220,220,220) 1px, transparent 1px);
  background-size: 70px 70px;


  
}

.floor {

  width: 100%;
  height:40vh;

 background-color: #ffffff;
  background-image:
    linear-gradient(rgb(220,220,220) 1px, transparent 1px),
    linear-gradient(90deg, rgb(220,220,220) 1px, transparent 1px);
  background-size: 70px 70px;
;



  /* 3D tilt */
  transform-origin: top;
  transform: perspective(600px) rotateX(65deg);

  /* styling */
  border-top: 1px solid rgba(255,255,255,0.1);
  box-shadow: inset 0 20px 40px rgba(85, 85, 85, 0.3);
}







.carousel {
  position: relative;
  width: 100%;
  height:65%;
  display: flex;

  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease;
    border: 0px solid #ff0202;
/*  background: radial-gradient(at center, white 20%, transparent); */
/*  background: radial-gradient(at center, white 20%, transparent); */
   
   
}



.carousel-card {
  position: absolute;
  width: 280px;
  height: 420px;
    width: 250px;
  height: 375px;

  background-color: #f9f9f9;
  border: 1px solid #aaa;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  transition: all 0.6s ease;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);

  background-position: center;
  background-size: cover;
    
}

.carousel-card:hover{
    filter: grayscale(0%) !important; /* slow this down */
    cursor: pointer;

      
   

}
.carousel-card::after {
  content: "";
  position: absolute;
  bottom: -4em;
  left: 50%;
  transform: translateX(-50%) scaleX(2);
  width: 100%;
  height: 1rem;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, .5),
    transparent 70%
  );
  filter: blur(10px);
  z-index: 0;

  /* fade smoothly */
  opacity: var(--shadowOpacity, 1);
  transition: opacity 0.8s ease;
}

.carousel-card:hover::after {
  opacity: 0;
}

.no-shadow::after {
  opacity: 0 !important;
  filter: none !important;
  background: none !important;
    transition: all 1s ease;
}

.carousel-name{
    transition: all .6s ease;
    position: absolute;
    font-family: 'Montserrat';
    font-family: "Questrial", sans-serif;
   /*  font-family: 'Josefin Sans'; */
   font-family: "Prosto One", sans-serif;
   font-family: 'Jost';
   border: 0px solid red;
   padding: .5rem;
   width: 18rem;
   text-align: center;
   /* background-color: rgb(240,240,240); */



    letter-spacing: .2rem;
  
    font-weight:300;
    color:rgb(70, 70, 70);
 
    text-shadow: 0px 0px 0px rgb(170, 170, 170);
}

.carousel-name-sm{
    display: none;
}






.carousel-controls {
    position: absolute;
    bottom: 17%;
  display: flex;
  justify-content: space-between;

  z-index: 1;
   border: 0px solid red;
   width: 30rem;
}

.carousel-controls button {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  font-size: 2.5rem;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
     border: 0px solid red;
}

.carousel-controls button:hover {
  background-color: rgb(230,230,230);
}

.explore-btn{

  width: 18rem;
  border: 1px solid black;
  text-align: center;
  height:3rem;
  background-color: rgb(30,30,30);
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Jost';
  font-size: 1.1rem;
  letter-spacing: .05rem;
  transition: all .3s ease;
}

.explore-btn:hover{
  letter-spacing: .1rem;
  cursor: pointer;
  z-index: 99;
}


@media(max-width:1350px){
   .carousel-controls {
  
  
} 
}

@media(max-width:1000px){

    .carousel-card {
         width: 280px;
  height: 400px;
    }

   .carousel-controls {
  

} 
}

@media(max-width:450px){
 .carousel-controls {
  display: none;  
} 
}
@media(max-width:400px){

    .carousel-card {
         width: 230px;
  height: 345px;
    }

    .carousel-name{
        display: none;
    }

    .carousel-name-sm{
    display: flex;
    color:white;
    font-family: 'Roboto Condensed';
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.floor{
    height:35vh;
}

.explore-btn{
   bottom: 25%;
}



    
}