.account-Page{

    height:100vh;
    display: flex;
    flex-direction:row;
    font-size: .9rem;
    justify-content:space-between;
    user-select: none;
  
    border: 0px solid red;

  }

  .Login-Page input:focus::placeholder {
  color: transparent;
}

    .accountPageImg{

   height: 100%;
   width: 60%;

   overflow: hidden;
   background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url('account-stock5.jpg');  /* LoginImg/Login-Img.jpg */
   background-position: top;
   background-repeat:no-repeat;
   background-size: cover;
   display: flex;
   align-items: end;

  }

  .account-head-div{
     
/*   margin-bottom: 5rem; */
  margin-left: 5rem;
  margin-bottom: 4rem;

  color:white;
  border: 0px solid red;
     display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    
  /* font-family: "Bodoni Moda SC", serif;  */
  }

  .account-head{
     font-size: 4rem;
  font-family: "Prosto One", sans-serif;
  font-family: 'Raleway';
  
 /*  font-family: "Figtree", sans-serif;  */ /* second best*/
  
  font-weight: 500;
  }

  .account-head-description{
  border: 0px solid blue;
  color:white;
  width: 50%;
  

   font-weight: 300;
   font-size: 1.2rem;
   font-family: 'Inter';
   font-family: 'Roboto';
   font-family: 'Outfit';
   
  
   
   line-height: 1.5rem;

  }






  .account-container{
   
   height: 100%;
    width: 40%;
  border-top: 0px solid rgb(200,200,200);
   border-bottom: 1px solid rgb(200,200,200);
    display: flex;
    flex-direction: column;
    align-items: center;
  justify-content: center;
 font-family: 'Inter'; 
font-weight: 400;
  background-color: rgb(255, 255, 255);
  border: 0px solid red;

  }

  .account-page-title-div{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 1rem;
  }

    .account-page-title{
       font-size: 1.8rem;

   font-weight:400;
   margin-bottom: 0rem;
  color:rgb(50,50,50);

    padding: 1rem;
    padding-top: .05rem;
  font-family:'Jost';
    font-family: "Questrial", sans-serif; 
    font-family: 'Raleway';
    border: 0px solid blue;
    width: 100%;
    text-align: center;
    letter-spacing: .3rem;
     color:rgb(0, 0, 0);
 font-size: 2rem;
 font-weight:500;
font-family: 'Raleway';
font-family:'Lato';
     font-family: "Prosto One", sans-serif;
   
  
  }

  .account-page-title-tagline{
    font-size: .75rem;
    letter-spacing: .05rem;
  }


.account-page-switch{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 2.5rem;

  font-family: 'Poppins'; 
  font-family: 'Raleway';
/* font-family: 'Outfit'; */
  border: 0px solid blue;
    border-bottom: 1px solid rgb(220, 220, 220);

}

.account-section-selected{
  
         border-bottom: 1px solid transparent;

}

.account-section-selected .animated-underline::after {
  transform: scaleX(0);
}

.account-section{
   border-bottom: 2px solid transparent;
    color:rgb(130, 130, 130) ;
   
}

#switch-section{
  width: 35%;
  height: 100%;
    display: flex;
  align-items: center;
  justify-content: center;
  

/*  */
  
}

#switch-section:hover{
  cursor: pointer;
  color:rgb(80,80,80);

}

#switch-section-head{
   height: 2.5rem;
width: 7rem;
font-size: .85rem;

 display: flex;
 align-items: center;
 justify-content: center;
  border-bottom: 2px solid transparent;
   letter-spacing: .05rem;
   transition: all .3s ease;
   color:rgb(130, 130, 130);


}

#switch-section-head:hover{

  color:rgb(0, 0, 0);

}

.account-section-selected #switch-section-head{
  border-bottom: 2px solid rgb(80 230,230);
  border-bottom: 2px solid rgb(0, 0, 0);
  color:rgb(0, 0, 0);
 
  font-weight: 500;
}









  

  .account-div{
    height: 100%;
    width: 100%;
border: 0px solid black;
    display: flex;
    align-items: start;
  justify-content: center;
  }

  .account-loggedIn-div{
  border: 0px solid red;
  }


  #user-Input-box-div{
    display: flex;
    flex-direction: column;
    /* height: 90%; */
    width: 70%;
    gap:20px;
    position: relative;
    align-items: center;
   justify-content:start;
     border: 0px solid red;
     margin-top: 2rem;
     height: 90%;
      

  }

  #user-Input-content{

    height: 80%;
    width: 100%;


    }

  #user-Input-box{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
   width: 100%;
    gap:2rem;
    border: 0px solid red;
    padding: 1rem;
    padding-top: 0rem;
/*     background-color: rgb(245,245,245); */
  }

  #account-input-div{
     width: 100%;
    display: flex;
    flex-direction: column;
      position: relative;
 
}

 #input-heading{
 position: absolute;
  left: 0rem;
  top: 50%;
  transform: translateY(-50%);
    pointer-events: none;
  transition: all 0.2s ease;
   font-family: 'Inter';
   font-family: 'Jost';


   font-weight: 400;
   color:rgb(130,130,130);
   font-size: 1rem;

 }



 #account-input{
    height: 2.5rem;
    width: 100%;
    /* background-color: rgb(240, 240, 240); */
     /* background-color: rgb(245,245,245); */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: 'Jost';
    border: 0;
     border-bottom: 1px solid rgb(220,220,220);

    color:rgba(41, 41, 41, 0.92);
    font-size: .9rem;
    padding-left:0px;
    margin-top: .5rem;
    

    
  }

  #account-input:focus{
        outline: none;
  /*   background-color: white; */
    /* border-bottom: 1px solid rgb(200,200,200); */
  }

/* Focused */
#account-input-div:focus-within #input-heading {
  top: -0.45rem;
  font-size: 0.85rem;
  color: #000;
}

/* ✅ Input has value */
#account-input-div:has(#account-input:not([value=""])) #input-heading {
  top: -0.45rem;
  font-size: 0.85rem;
  color: #000;
}



  

  #account-button{
    width:100%;
    height: 2.5rem;
  border-radius: 20px;
  overflow: hidden;

    font-weight: 500;
    font-size: 1rem;
    font-family: 'Poppins';
  font-family: 'Outfit';
    transition: all  .3s ease;
    border: 1px solid black;
/*    position: absolute;
   bottom: 1.5rem;  */
   
  }

   #account-button:hover{
    border: 1px solid transparent;
   }

 
  .account-loggedIn-div{
      display: flex;
    flex-direction: column;
 position: relative;
    align-items: start;
    justify-content:space-between;
font-family: 'Roboto Condensed';
  
 height:90%; 
    width: 70%;
 color:rgb(49, 49, 49);
  border: 0px solid black;
    gap:2rem;
    margin-top: 1rem;
}

  




  @media(max-width:1200px){

    .accountPageImg{
      width: 50%;
    }

    .account-container{
      width: 50%;
    }
  
     
  }

  @media(max-width:900px){

.account-page-title{
font-size: 2.2rem;
margin-top: 1.5rem;
 /*  margin-top: 3rem; */
}
  .accountPageImg{

   height: 100%;
   width: 55%;

   overflow: hidden;
   background-image: url('LoginImg/Login-Img-sm.jpg');
   background-position: center;
   background-repeat:no-repeat;
   background-size: cover;

  }
 #user-Input-box-div,.account-loggedIn-div{
  width: 80%;
 }
 
 #account-button{
   height: 2.6rem;
      bottom: 1.5rem;
         font-size: 1rem;
   
 }


  }

    @media(max-width:750px){

.account-page-title{
font-size: 2rem;
 
  font-weight: 400;
 
}
          .accountPageImg{
      width: 45%;
    }

     .account-container{
      width: 55%;
    }
     #user-Input-box-div,.account-loggedIn-div{
  width: 90%;
 }

    }

    @media(max-width:600px){

          .account-page-title{
          
            }

          .accountPageImg{
      display: none;
    }

     .account-container{
      width: 100%;
    }
     #user-Input-box-div,.account-loggedIn-div{
  width: 65%;


 }

    }

     @media(max-width:500px){
     #user-Input-box-div,.account-loggedIn-div{
  width: 75%;
 }
     }

          @media(max-width:400px){

        .account-page-title{
          display: none;
font-size: 1.5rem;
margin-top: 1rem;
 
 border: 1px solid yellow;
 
}

     #user-Input-box-div,.account-loggedIn-div{
  width: 80%;
  font-size:.8rem ;
  justify-content: flex-start;
 }
 .account-page-switch{
  font-weight: 400;
  margin-top: 2rem;
 }                                 
   input::placeholder{
    color:rgb(160, 160, 160);
    font-size: .8rem;
  } 
  #account-input{
    font-size: .8rem;
    height: 2.2rem;
  }


    }

