
  .product-review-box{
    border: 0px solid rgb(72, 72, 192);
    width: 100%;
    height: 90%;

  
   

    margin-top: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  border-bottom: 1px solid rgb(229, 229, 229);
    gap:1rem;

  }

  .review-box-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
   margin-bottom: 1rem;
   
  }

  .review-head{
    font-size: 1.5rem;
      font-weight: 500;
    color:rgb(70, 70, 70);
    font-family:'Roboto'; 
     padding-right:.5rem;
  }

  .review-line{
      height: 1px;
  background-color: rgb(63, 63, 63);
  width: 100%;
  }

  .reviews{
    display: flex;
    flex-direction: column;
    gap: 0rem;
    border-bottom: 0px solid rgb(115, 115, 115);

    padding:1rem;
    padding-left: 0rem;
    padding-top: 0rem;
            
    border:0px solid rgb(148, 54, 54);
    border-bottom: 0px solid rgb(220,220,220);
  }


  .review-user-icon{
    height: 1.5rem;
    width: 1.5rem;
  }

  .reviewer-name{
    font-family: 'Poppins', sans-serif;
      font-weight: 400;
    font-size: .9rem;
    color:rgb(75, 75, 75);
  }

  .user-review{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding-bottom:.5rem;

      }
    .username-div{
         display:flex;
    flex-direction: row;
    align-items: center;
    gap:.5rem;
    }

    .user-review-date{
        font-size: .7rem;
        color:rgb(121, 121, 121);
        font-family: 'Inter';
    }

      .review-comment{
         margin: 0 auto; 
         width: 90%;
        font-size: .8rem;
        color:rgb(100, 100, 100);
        font-weight: 400;
        font-family: 'Inter';
      padding:1.5rem;
      padding-left: .5rem;
      padding-bottom: .5rem;
      border-radius: 0rem;
     background-color: rgb(245,245,245);
     background-color: white;
    border: 0px solid rgb(230,230,230);
    border-bottom: 1px solid rgb(230,230,230);
    line-height: 1.1rem;

        
      }

      .review-line-div{
        display:none;
        justify-content: center;
        align-items: center;
        width: 100%;
        border: 0px red solid;
        margin-top: 1rem;
        background-color:rgb(150,150,150);
        height: 1px;
        
         transform: scaleY(0.5);

      }

 @media(max-width:1000px){

   .review-head{

    font-size: 1.3rem;
   } 
   .reviewer-name{
    font-size: .9rem;
   }
    .review-user-icon{
    height: 1.8rem;
    width: 1.8rem;
  }

   .username-div{
        gap:.2rem;
      }

    .user-review-date{
      font-size: .7rem;
    }
    .review-comment{
      font-size: .8rem;
    }
     .review-line-div{
        margin-top: 1.5rem;
     }

      }

   @media(max-width:450px){

      .user-review{
        padding-left:0rem;
        padding-right:0rem;
      }

 

        .review-user-icon{
    height: 1.5rem;
    width: 1.5rem;
  }

         .reviewer-name{
    font-size: .75rem;
   }

    .review-comment{
        padding:1.5rem;
         padding-left: .5rem;
         font-size: .75rem;
    }
   }