.scroll-btn {
  --bg: white;
  --text: black;
  --border: black;

  position: relative;
  background-color: var(--bg);
  color: var(--text);
  border: 1px solid var(--border);
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  width:100%;
  height: 100%;
  font-family: inherit;

  transition: background-color 0.35s ease, color 0.35s ease, border-color 0.35s ease;
}

/* ================= THEMES ================= */
.scroll-btn--lightMode {
  --bg: white;
  --text: black;
  --border: black;
}

.scroll-btn--darkMode {
  --bg: black;
  --text: white;
  --border: transparent;
}

.scroll-btn--colorMode {
  --bg: var(--btn-bg);
  --text: white;
  --border: transparent;
}

/* ================= HOVER THEMES ================= */
.scroll-btn.hover-lightMode:hover {
  --bg: white;
  --text: black;
  --border: black;
}

.scroll-btn.hover-darkMode:hover {
  --bg: black;
  --text: white;
  --border: transparent;
}

.scroll-btn.hover-colorMode:hover {
  --bg: var(--btn-hover-bg); /* automatically set to same as color */
  --text: white;
  --border: transparent;
}

/* ================= VERTICAL SCROLL TEXT ================= */
.scroll-btn__viewport {
  height: 2.5em;
  overflow: hidden;
}

.scroll-btn__inner {
  transition: transform 0.3s ease;
}

.scroll-btn__text {
  line-height: 2.5em;
  text-align: center;
}

.scroll-btn:hover .scroll-btn__inner {
  transform: translateY(-2.5em);
}
