


 .Fitness-Collection-wrapper{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10rem;


 }


 .fitness-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 height: 100vh; 

  font-family: 'Arial Black', sans-serif;
   /*  background-image: url('/MachineImg1.jpg'); */
  background-position: center;
  background-size: cover;
  position: relative;
  transition: background-image 0s linear 1s;
}

.fitness-video-wrapper{
  width: 100%;
  height:  240px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);


  transition: height 0.8s cubic-bezier(0.77, 0, 0.175, 1);
/*      background-image: url('/ImageCrousel/IC-Shoes.webp');
  background-position: center;
  background-size: cover;  */
  
}

.fitness-video-expanded{
  height: calc(100vh - 250px);
}

.fitness-video-content {
  width: 100%;
  height: 100%;
  /* This ensures the video covers the area without stretching */
  object-fit: cover; 
}

.banners-viewport {
  width: 100%;

  overflow: hidden;

/*     background-image: url('/ImageCrousel/IC-Shoes.webp');
  background-position: center;
  background-size: cover; */


}



.test-inner-video{
  position: absolute;
  width: 100%;
  height: 100%;
}

.banners-wrapper{
  display: flex;
  flex-direction: row;
/*   overflow-x: auto; */
  width: max-content; /* important */
  animation: slideLeft 14s linear infinite;
   will-change: transform;
  transform: translateZ(0); 


}

@keyframes slideLeft {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-50%, 0, 0);
  }
}

.fitness-banner-wrapper {
  position: relative;
  width: 1600px;
 height: 100vh; 
  overflow: visible;
    flex-shrink: 0; 
      will-change: transform;
  backface-visibility: hidden;
  border: 0px solid green;
    transition: height 0.8s cubic-bezier(0.77, 0, 0.175, 1);
    


}

.fitness-active{
 height: 100vh; 
}

.banner-inner {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 250px; /* original banner height */
}

.fitness-banner-part {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height:100%;
 /*    background: #a881f1;
    background: rgb(255, 224, 0); */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.8s cubic-bezier(0.77, 0, 0.175, 1), background .8s ease;
   will-change: transform;
}

.fitness-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fitness-content h1 {
  font-size: 12rem;
  margin: 0;
  color: white;
  letter-spacing: 10px;
  font-family:'Roboto Condensed';
  font-weight: 900;
}

/* Masking Logic */
.fitness-top {
  clip-path: inset(0 0 50% 0);
  z-index: 2;
}

.fitness-bottom {
  clip-path: inset(50% 0 0 0);
  z-index: 1;
}

.fitness-banner-wrapper.fitness-active .fitness-top {
  transform: translateY(calc(-50vh + 125px));
}

.fitness-banner-wrapper.fitness-active .fitness-bottom {
  transform: translateY(calc(50vh - 125px));
}



/*  .test-wave-section {

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */


 .video-text-wrapper{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
 }

 .fitness-head-1{
  font-weight: 400;
 font-family: 'Bebas Neue';
text-transform: uppercase;
  font-size: 4rem;

 }

 .fitness-head-2{
  font-weight: 400;
  font-family: 'Figtree';
  font-size: 1.2rem;
  text-transform: uppercase;

 }

 .fitness-btn{
 font-family: 'Figtree';
 padding: 10px 14px;
 border: 1px solid white;

 }

 