@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
 
  margin:0px;
  color:black;
 background-color: white;  /* #ded9d9; */
 
 overflow-x: hidden;
 width: 100%;

}
*, *::before, *::after {
  box-sizing: border-box;
}

a {


  text-decoration:none;
}

.outlet-container{
/* overflow: hidden; */
}

.screen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4); /* semi-transparent dark */
  z-index: 9999; /* make sure it’s on top */
  backdrop-filter: blur(1px); /* optional blur */
}
                       

