.Icon-button-wrapper{
    
/* Now you can change this to 15rem, 18rem, or 100% and it won't break */
 width: var(--btn-width);
  height: var(--btn-height);
    display: flex;
    justify-content: flex-end; /* Keeps the button anchored to the right */
    align-items: center;
    position: relative;
    cursor: pointer;

    
    
}

.icon-circle-div{
 width: var(--btn-height);
  height: var(--btn-height);
border: 1px solid var(--btn-content-color);
color:blue;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 50%;
 position: absolute;
 left: 0; 
 transition: all .3s ease;
 z-index: 2;
}

.icon-circle{
    width: var(--btn-icon-size);
    height:var(--btn-icon-size);
}

.long-btn{
/*  width: 75%;  */
width: calc(100% - (var(--btn-height) + 0.2rem));

height: var(--btn-height);
display: flex;
align-items: center;
justify-content:end;
border: 1px solid var(--btn-content-color);
 transition: all .2s ease;
 border-radius: 100px; /* High value keeps it pill-shaped at any height */
 background-color: var(--btn-bg-color);


}
.Icon-button-wrapper:hover .long-btn,
.Icon-button-active .long-btn {
    background-color: transparent;
    width: 100%;
}

.Icon-button-wrapper:hover .button-text,
.Icon-button-active .button-text{
    color: var(--btn-content-color);
}

.button-text{
     position: absolute;
    right: 0%;
    top:50%;
    transform: translate(0,-50%); 
 font-size: var(--btn-font-size);
width: calc(100% - (var(--btn-height) + 0.2rem));;
font-family: 'Outfit';
 display: flex;
align-items: center;
justify-content: center;

color:black;

}

.Icon-button-wrapper:hover,
.Icon-button-active{
    cursor: pointer;
}



.Icon-button-wrapper:hover .icon-circle-div,
.Icon-button-active .icon-circle-div{
     background-color: blue;
     transform: scale(.85);
     color:white;
     border: 1px solid transparent;
}

