
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.product-page-container {
  width: 100%;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.pd-navBar{
  color:rgb(120, 120, 120);
  height: 10rem;
  width: 85%;
  display: flex;
  justify-content: start;
  align-items: end;
  padding-bottom: 2rem;
  font-family: 'Figtree';
  font-size: .9rem;
    font-weight: 500;
}

.pd-navBar span{
  color:black;

}

.product-page-inner {
  display: flex;
   /* enough height for scrolling effect */
  position: relative;
/*   margin-top: 6rem; */
  border: 0px solid red;
  width: 85%;

}

.product-left {
  width: 55%;
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
 border: 0px solid blue;
    background-color: #eee;
   
}

.product-left img {
  max-width: 100%;
  max-height: 100%;
}

.product-right {
  width: 45%;
user-select: none;
  padding: 0rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
   border: 0px solid blue;
  

}

.info-box {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.credit-box{

width: 100%;
border: 0px solid black;
 display: flex;
  align-items: start;
  justify-content: center;
}

.review-box {
  height: 80vh;
  display: flex;
  align-items: end;
  justify-content: center;


}

.product-tags-wrapper{
  border: 0px solid red;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 2rem;
  font-family: 'Figtree';
  font-size: .8rem;
  font-weight: 500;
  color:rgb(120,120,120);
}

#tag-head{
 font-weight: 600;
 color:black;
}

.product-tag{
  text-transform: capitalize;
}

/* This appears after product section scrolls out */
.next-section {
  min-height: 80vh;
  background-color: #ffffff;
  margin: 2rem 0rem;
  
  width: 100%;
  border: 0px solid red;
}





.product-detail{
  display: flex;
  justify-content: space-around;
  height: 95vh;
    border:0px solid rgb(200, 226, 29);
   width: 95%;
   font-family: 'Montserrat', sans-serif;
    
    line-height: 1.4rem;
    color:black;
    padding:1rem;
  /*  overflow-y: auto; */ /* Enables scrolling */

 
  }

  .pd-backButton{
    position: fixed;
    top: 12rem;
   
    z-index: 999;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:50%;
    left:.5rem;
    transition: all .3s ease;
  }
   .pd-backButton:hover{
 background-color: rgb(220, 220, 220);
   }


   @media(max-width:1200px){

.product-right{
    padding-left: 2rem;
  padding-right: 2rem;
}
   }

   @media(max-width:1000px){

.product-right{
    padding-left: 1rem;
  padding-right: 1rem;
}
   }

   @media(max-width:850px){

    .product-left{
      width:50%
    }
    
    .product-right{
      width:50%
    }
    
   }

  
   @media(max-width:700px){

    .product-page-inner{
      display: flex;
      flex-direction: column;
      height:auto;
    }
     .product-left{
      width:100%;
   height: 90vh;
      position: unset; 
    }
    
    .product-right{
      width:100%;
       padding-left: 1.5rem;
  padding-right: 1.5rem;

    }

    .info-box{
      margin-top: 0rem;
    }

    
   }

     
   @media(max-width:450px){

    .product-page-inner{
      display: flex;
      flex-direction: column;
      height:auto;
 
    }
     .product-left{
      width:100%;
   height: 70vh;
      position: unset; 
    }
    
    .product-right{
      width:100%;
      padding-left:1rem;
      padding-right:1rem;
    }

    .credit-box{
      height: 25vh;
    }

    .review-box{
      height: 80vh;
    }
    
   }