
.productDetails-div{
    display: flex;
  width: 100%;
  
  margin-top: 0rem;;
    align-items: center;
    overflow-x: hidden;
    border:0px solid black;
    justify-content: center;
  
    
   

}
.product-detail{
  display: flex;
  justify-content: space-around;
  height: 80vh;
    border:0px solid rgb(182, 16, 16);
   width: 100%;
    
    
    line-height: 1.4rem;
    color:black;
    padding:1rem;
   overflow-y: auto; /* Enables scrolling */

   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

 
  .product-info-div{
    border: 0px solid red;
    width: 40%;

  }

  .product-info-pd{
    border: 0px solid black;
    width: 90%;
    
    padding:2rem ;
   font-size: 1rem;
   background-color: rgb(188, 202, 230); 
    box-shadow: 10px 10px #1a1a1a5e;
    position: relative;
    display: flex;
    flex-direction: column;
   
    gap: .7rem;
  }

  .review-box{
    border: 0px solid rgb(255, 255, 255);
    width: 90%;

    padding:2rem ;
    background-color: rgb(188, 202, 230);
    box-shadow: 10px 10px #1a1a1a5e;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap:1rem;
  }

  .reviews{
    display: flex;
    flex-direction: column;
    gap: .6rem;
    border-bottom: 2px solid white;
    padding:.8rem;
  }

  .user-review{
    display:flex;
    flex-direction: row;
    align-items: center;

    gap:.4rem
  }

  .product-title{
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: .8rem;
    display: flex;
    flex-direction: column;
    border: 0px red solid;
    gap:.5rem;
  }
  .product-description{
    width: 80%;
    font-size: 1.07rem;
    line-height: 1.5rem;
  }
  .price-num{
    font-size: 1.5rem;
  }
  .product-info-price-div,.product-info-rating-div{
    display: flex;
    flex-direction: row;
    gap:.8rem;
    align-items: center;
    font-size: 1.2rem;
    padding-top: .6rem;
    
    border: 0px red solid;
  }
  .policy-ship-div{
    
    border: 0px red solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10rem;
    padding-top:.5rem;
  }
  .quantity-container-div{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    padding:.5rem;
   
    
    border: 0px red solid;
  }
  .quantity-container {
   
  
    display: flex;
    align-items: center;
    border: 0px red solid; 
   
  
  }
  
  .quantity-input {
    width: 1rem;
    height: 1rem;
    text-align: center;
    font-size: 1.2rem;
    margin: 0 .7rem;
    
   
  }
  
  .decrease-btn ,.increase-btn {
   
    height: 1.2rem;
    width: 1.2rem;
    border: 0px solid #ccc;
    color:white;
    background-color: #413b3b;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15%;
  }
  

  
  .addTocartBtn{
    width: 70%;
    background-color: #1a1a1aaf;
    font-weight: 500;
   margin-top:.5rem;
   margin: 0.5rem auto 0 auto; /* Top, horizontal auto, bottom 0 */
   display: flex;
   color:white;
   padding:.5rem;
   border-radius: .5rem;
   justify-content: center;
   
   
  }
  .addTocartBtn:hover{
    background-color: rgba(54, 51, 51, 0.838);
    cursor: pointer;
  }

  
.carousel-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 1.2rem;
    width: 45%;
    position: sticky;
    top:0;
    border: 0px solid red;
    
  }
  .carousel-sub-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .8rem;
   
  }
  .leftArrow,.rightArrow{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  height: 3rem;
  width: .8rem;
  background-color: #1a1a1a00;
  color: #050505;
    
  }
  .ImageBox{
  width:37.5rem;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border: 0px solid black;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 20px #1a1a1a5e;
  user-select: none;
  }
 
  .currentImage{
    transition: translate 400ms ease-in-out;
    width: 600px;
  }
  .ImgSelecters{
    display: flex;
    flex-direction: row;
    position: relative;
    gap:3px;
    top:-20px;
  }
  .imgBtn{
    height:8px;
    width: 8px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    border:1px solid white;
  }
  .imgBtn:hover{
    height: 10px;
    width: 10px;
   background-color:rgba(56, 123, 123, 0.713);
   box-shadow: 5px;
  }
  .imgBtn-clicked{
    height: 10px;
    width: 10px;
   background-color: rgba(56, 123, 123, 0.713);
   border-radius: 50%;
   border:1px solid white;
  }

  .backToStore{
    position: absolute;
    top:5rem;
    left:2rem;
    font-size: 2rem;
    font-weight: 600;
    color:black;
  }
  .productDetails-nav{
   display: flex;
   justify-content: center;
   align-items: center;
   gap:2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   height: 3.5rem;
   background-color: rgb(255, 255, 255);
    
  }
  .productDetails-nav-item{
    display: flex;
    align-items: center;
  background-color: rgba(255, 255, 255, 0.875);
height: 90%;
  padding-left:.5rem;
  padding-right:.5rem;
  border-radius: 10%;
  color:black;
 
  }
  .productDetails-nav-item:hover{
    background-color: rgba(227, 230, 235, 0.875);
  }

  .Product-Details-SimilarProducts{
    border: 0px black solid;
  background-color: white;
 width: 100%;
 margin-top:2rem;
 margin-bottom:2rem;
  }

  .similarProducts-head{
  font-size: 2rem;
  padding:1rem;
  padding-left:2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

.Product-Details-SimilarProducts-list{
 
  background-color: white;
 width: 100%;
 display: flex;
 
 justify-content: space-around;
}
.productDetails-product{

  width: 18%;
  border:0px solid black;
  padding:.3rem;
  height:300px;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: white;
  border-radius: .3rem;
  color:black; 
  box-shadow: 0px 1px 1px  rgba(69, 67, 67, 0.2);   
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}


.productDetails-product:hover{
  
  box-shadow: 0px 3px 5px   rgb(98, 95, 95);
}


  @media (max-width:1390px){

    .product-detail{

        margin-top: 2rem;
        line-height: 1rem;
        gap:2rem;
      }
      .product-description{
        width: 80%;
      }

      .product-info{
      
        height: 67vh;
        
      }

      .leftArrow,.rightArrow{
    
      height: 3rem;
      width: .2rem;
   
        
      }
      .ImageBox{
      width: 31.25rem;
      }

    
      .currentImage{
        transition: translate 400ms ease-in-out;
        width: 500px;
      }
   
      
  }

  @media (max-width:1125px){

    .product-detail{

        margin-top: 2rem;
        line-height: 1.2rem;
        gap:2rem;
      }
      .product-title{
        padding-bottom: .6rem;
      }
      .product-info{
      
        height: 65vh;
        gap:.2rem;
        
      }
      .price-num{
        font-size: 1.1rem;
      }
      .product-description{
        width: 90%;
        font-size: 1rem;
      }

      .leftArrow,.rightArrow{
    
      height: 3rem;
      width: .2rem;
   
        
      }
      .ImageBox{
      width: 25rem;
      }

    
      .currentImage{
        transition: translate 400ms ease-in-out;
        width: 400px;
      }
   
  
  }
  @media (max-width:950px){

    .product-detail{

        margin-top: 2rem;
        line-height: 1.2rem;
        gap:2rem;

        
      }
    
      .carousel-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 1.2rem;
        width: 45%;
        border:0px solid red;
      }
      .carousel-sub-div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: .2rem;
       
      }
      .product-description{
      
        font-size: 1.07rem;
        line-height: 1rem;
      }
      .price-num{
        font-size: 1.08rem;
        font-weight: 600;
      }
  

      .leftArrow,.rightArrow{
    
      height: 3rem;
      width: .2rem;
   
        
      }
      .ImageBox{
      width: 18.75rem;
      }

    
      .currentImage{
        transition: translate 400ms ease-in-out;
        width: 300px;
      }

      .product-info{
        border: 0px solid black;
        width: 35%;
        height: 65vh;
        padding:1rem ;
        gap:.5rem;
        background-color: rgba(147, 170, 213, 0.67); 
        box-shadow: 10px 10px #1a1a1a5e;
        position: relative;
      }
      .product-info-price-div,.product-info-rating-div{
        display: flex;
        flex-direction: row;
        gap:.2rem;
        align-items: center;
        font-size: .8rem;
      }
      .product-description{
        width: 15rem;
        font-size: .9rem;
        line-height: 1.4rem;
      }
    
      
      .quantity-input {
        width: 1.7rem;
        height: 1.5rem;
        text-align: center;
        font-size: 1rem;
        margin: 0 .8rem;
      }
       
  
  
  .decrease-btn ,.increase-btn {
    width: 1rem;
    height: 1.5rem;
  
  }
  
 
  
  .addTocartBtn{
    
    bottom: 1rem;
  
  }

  }
 
  @media (max-width:745px){
    .product-detail{
      
        display: flex;
        
    
        flex-direction: column;
        gap:2rem;
        
      }
      .product-info{
      
        width: 65%;
    
      }
      .product-info-price-div,.product-info-rating-div{
      
        font-size: 1rem;
      }
      
    
      
      
      
    .carousel-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-right: 0px;
       
        width: 45%;
        
      }
      .carousel-sub-div{
     
        gap: .5rem;
       
      }
    
      .ImageBox{
      width: 31.25rem;
      box-shadow: 0px 10px 20px #1a1a1a5e;
     
      }
      
      .currentImage{
        transition: translate 400ms ease-in-out;
        width: 500px;
      }
      .backToStore{
        position: absolute;
        top:8rem;
        left:1rem;
        font-size: 1.5rem;
        font-weight: 600;
      }
  }

  
  @media (max-width:600px){
    .product-detail{
      
        display: flex;
        
    
        flex-direction: column;
        gap:2rem;
        
      }
      .product-info{
      
        width: 70%;
    
      }
      .product-info-price-div,.product-info-rating-div{
      
        font-size: .8rem;
      
      }
      .product-description{
        width: 15rem;
        font-size: .9rem;
      }
 
    .carousel-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
        width: 45%;
        
      }
      .carousel-sub-div{
     
        gap: .5rem;
       
      }
    
      .ImageBox{
      width: 18.75rem;
     
      }
      
      .currentImage{
        transition: translate 400ms ease-in-out;
        width: 300px;
      }
     
  
  
  .quantity-input {
    width: 1.5rem;
    height: 1.5rem;
  
  }
  
  .decrease-btn ,.increase-btn {
    width: 1rem;
    height: 1.5rem;
  
  }
  
 
  
  .addTocartBtn{
    
    bottom: 1.5rem;
  
  }
 

  }

  @media (max-width:400px){
    .product-detail{
      
        display: flex;
        flex-direction: column;
        gap:2rem;
        
      }
      .product-info{
      
        width: 70%;
        box-shadow: 5px 5px #1a1a1a5e;
    
      }
      .product-info-price-div,.product-info-rating-div{
      
        font-size: .8rem;
      
      }
      
      .price-num{
        font-size: 1.1rem;
      
      }
      .product-description{
        width: 15rem;
        font-size: .9rem;
      }
      .rating-num{
        display: none;
      }
 
    .carousel-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
        width: 45%;
        
      }
      .carousel-sub-div{
     
        gap: .5rem;
       
      }
    
      .ImageBox{
      width: 15.625rem;
  
     
      }
      
      .currentImage{
        transition: translate 400ms ease-in-out;
        width: 250px;
      }
     
  
  
  .quantity-input {
    width: 1.5rem;
    height: 1.5rem;
  
  }
  
  .decrease-btn ,.increase-btn {
    width: 1rem;
    height: 1.5rem;
  
  }

  .leftArrow,.rightArrow{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    height: 2.5rem;
    width: .6rem;
    color: #050505;
    background-color: #1a1a1a00;
      
    }
  
 
  
  .addTocartBtn{
    
    bottom: 1.5rem;
  
  }
  .ImageBox{
   
    box-shadow: 0px 10px 20px #1a1a1a5e;
    }
    

  }