
.productDetails-div{
    display: flex;
  width: 100%;
  
  margin-top: 0rem;;
    align-items: center;
    overflow-x: hidden;
    border:0px solid black;
    justify-content: center;
  
    
   

}
.product-detail{
  display: flex;
  justify-content: space-around;
  height: 80vh;
    border:0px solid rgb(200, 226, 29);
   width: 95%;
    
    
    line-height: 1.4rem;
    color:black;
    padding:1rem;
   overflow-y: auto; /* Enables scrolling */

   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

 #pd-subHead{
  font-size: 1rem;
  font-weight: 600;
 }
  .product-info-div{
    border: 0px solid rgb(0, 255, 21);
    width: 40%;
    
   

  }

  .product-info-pd{
    border: 0px solid black;
    width: 100%;
    
    padding:2rem ;

   font-size: 1rem;
   
   /* background: linear-gradient(to right,  rgb(83, 120, 200)0%, #cdd5df , rgb(83, 120, 200) 100%); */
   background: radial-gradient(circle, #ffffff 0%, rgba(18, 18, 88) 100%);  
    box-shadow: 10px 10px #ffffff;
    position: relative;
    display: flex;
    flex-direction: column;
   
    gap: .7rem;
  }

  .review-box{
    border: 0px solid rgb(255, 255, 255);
    width: 100%;
  
    padding:2rem ;
    background: radial-gradient(circle, #2898e2c5 0%, rgba(18, 18, 88)  100%);  
    box-shadow: 10px 10px #1a1a1a5e;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap:1rem;
  }

  .reviews{
    display: flex;
    flex-direction: column;
    gap: .6rem;
    border-bottom: 2px solid white;
    padding:.8rem;
  }

  .user-review{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

      }

  .product-title{
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: .8rem;
    display: flex;
    flex-direction: column;
    border: 0px red solid;
    gap:.5rem;
  }
  .product-description{
    width: 80%;
    font-size: 1.07rem;
    line-height: 1.5rem;
  }
  .price-num{
    font-size: 1.5rem;
  }
  .product-info-price-div,.product-info-rating-div{
    display: flex;
    flex-direction: row;
    gap:.8rem;
    align-items: center;
    font-size: 1.2rem;
    padding-top: .6rem;
    
    border: 0px red solid;
  }
  .policy-ship-div{
    
    border: 0px red solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between ;
    
  
  }
  .quantity-container-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
  
   
    
    border: 0px red solid;
  }
  .quantity-container {
   
  
    display: flex;
    align-items: center;
    border: 0px red solid; 
    padding-right: 5rem;
   
  
  }
  
  .quantity-input {
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    font-size: 1.2rem;
    margin: 0 .7rem;
    
   
  }
  
  .decrease-btn ,.increase-btn {
   
    height: 1.2rem;
    width: 1.2rem;
    border: 0px solid #ccc;
    color:white;
    background-color: #413b3b;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15%;
  }
  

  
  .addTocartBtn{
    width: 70%;
    background-color: #1a1a1aaf;
    font-weight: 500;
   margin-top:.5rem;
   margin: 0.5rem auto 0 auto; /* Top, horizontal auto, bottom 0 */
   display: flex;
   color:white;
   padding:.5rem;
   border-radius: .5rem;
   justify-content: center;
   
   
  }
  .addTocartBtn:hover{
    background-color: rgba(54, 51, 51, 0.838);
    cursor: pointer;
  }

  
.carousel-div{
    display: flex;
    flex-direction: column;
    align-items: center;
  
    width: 45%;
    position: sticky;
    top:0;
    border: 0px solid red;
    
  }
  .carousel-sub-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .8rem;
   
  }
  .leftArrow,.rightArrow{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  height: 2.5rem;
  padding:.5rem;
  border-radius: 20%;
  background-color: #413c3c;
  color: #ffffff;
  border: 0px solid white;
    
  }
  .ImageBox{
  width:37.5rem;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border: 0px solid black;
  

  user-select: none;
  }
 
  .currentImage{
    transition: translate 400ms ease-in-out;
    width: 600px;
  }
  .ImgSelecters{
    display: flex;
    flex-direction: row;
    position: relative;
    gap:3px;
    top:-20px;
  }
  .imgBtn{
    height:8px;
    width: 8px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    border:1px solid white;
  }
  .imgBtn:hover{
    height: 10px;
    width: 10px;
   background-color:rgba(56, 123, 123, 0.713);
   box-shadow: 5px;
  }
  .imgBtn-clicked{
    height: 10px;
    width: 10px;
   background-color: rgba(56, 123, 123, 0.713);
   border-radius: 50%;
   border:1px solid white;
  }

  

  .similarProducts-head{
  font-size: 2rem;
  padding:1rem;
  padding-left:2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

.Product-Details-SimilarProducts-list{
 
  background-color: white;
 width: 100%;
 display: flex;
 
 justify-content: space-around;
}
.productDetails-product{

  width: 18%;
  border:1px solid rgb(147, 146, 146);
  padding:.3rem;
  height:300px;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: .3rem;
  color:black; 
  box-shadow: 0px 1px 1px  rgba(69, 67, 67, 0.2);   
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}


.productDetails-product:hover{
  
  box-shadow: 0px 3px 5px   rgb(98, 95, 95);
}


  @media (max-width:1390px){

    .product-detail{
      border: 0px solid red;
    }

      .product-description{
        width: 80%;
      }

      .product-info{
      
        height: 67vh;
        
      }

      .leftArrow,.rightArrow{
  
        height: 2.5rem;
        padding:.2rem;
    
          
        }
      .ImageBox{
      width: 31.25rem;
      }

    
      .currentImage{
        transition: translate 400ms ease-in-out;
        width: 500px;
      }

      .productDetails-product{

        width: 24%;
      
      }

     
   
      
  }

  @media (max-width:1125px){

 

      .product-info-div{
        border: 0px solid rgb(0, 255, 21);
        width: 45%;

      }
      .product-title{
        padding-bottom: .6rem;
      }
      .product-info{
      
        height: 65vh;
        gap:.2rem;
        
      }
      .price-num{
        font-size: 1.1rem;
      }
      .product-description{
        width: 90%;
        font-size: 1rem;
      }

      .policy-ship-div{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap:1rem;
      }
      .quantity-container{
        padding:0rem ;
      }
  
    

      .leftArrow,.rightArrow{
  
        height: 2.5rem;
        padding:.2rem;
  
        }

      .ImageBox{
      width: 25rem;
      }

    
      .currentImage{
        transition: translate 400ms ease-in-out;
        width: 400px;
      }
   
  
  }
  @media (max-width:950px){

    .productDetails-nav{
      gap:1rem;
    }

    .reviews{
      display: flex;
      flex-direction: column;
      gap: .6rem;
      border-bottom: 2px solid white;
      padding: 0px;
      padding-bottom: .8rem;
      
    }
  
    
      .carousel-div{
     border: 0px solid red;
        width: 45%;
     
      }
      .carousel-sub-div{
        
        gap: .2rem;
        border: 0px solid rgb(0, 34, 255);
       
      }
      .product-description{
      
        font-size: 1.07rem;
       
      }
      .price-num{
        font-size: 1.08rem;
        font-weight: 600;
      }
  

    .leftArrow,.rightArrow{
  
        height: 2.5rem;
        padding:.2rem;
    
          
        }
      .ImageBox{
      width: 18.75rem;
      }

    
      .currentImage{
        transition: translate 400ms ease-in-out;
        width: 300px;
      }

    
      .product-info-price-div,.product-info-rating-div{
        
        gap:.2rem;
        align-items: center;
        font-size: .8rem;
      }
      .product-description{
        width: 15rem;
        font-size: .9rem;
        line-height: 1.4rem;
      }
    
      
      .quantity-input {
        width: 1.7rem;
        height: 1.5rem;
        text-align: center;
        font-size: 1rem;
        margin: 0 .8rem;
      }
       
  
  
  .decrease-btn ,.increase-btn {
    width: 1.5rem;
    height: 1.5rem;
  
  }
  
 
  
  .addTocartBtn{
    
    bottom: 1rem;
  
  }

  }
 
  @media (max-width:745px){

    .productDetails-nav{
    
      gap:.8rem;
     width: 90%;
      height: 2.5rem;
      
       
     }
     .productDetails-nav-item{
      
       font-size: .8rem;
    
     background-color: rgba(255, 255, 255, 0.875);
   height: 90%;
     padding-left:0rem;
     padding-right:0rem;
     border-radius: 10%;
     color:black;
    
     }

    .productDetails-div{
      display: flex;
      justify-content: center;
      border: 0px solid black;
      width: 100%;
      padding-top:1rem;
      
    }
    .product-info-div{
      border: 0px solid rgb(64, 255, 0);
      width: 95%;
     
  
    }
    .product-detail{
      
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
    overflow-y: visible;
        flex-direction: column;
        gap:2rem;
        border: 0px solid black;
        width: 100%;
        padding: 0;
        
      }
      .product-info-pd{
        padding: 2rem;
       width: 100%;
        box-shadow: 0px 0px #ffffff5e;

      }
      .review-box{
        padding:1rem ;
        width: 100%;
        box-shadow: 0px 0px #ffffff5e;

      }
   
      .product-info-price-div,.product-info-rating-div{
      
        font-size: 1rem;
      }
      
    
      
      
      
    .carousel-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-right: 0px;
       
        width: 45%;
        
      }
      .carousel-sub-div{
     
        gap: .5rem;
       
      }
    
      .ImageBox{
      width: 31.25rem;
     
     
      }
      
      .currentImage{
        transition: translate 400ms ease-in-out;
        width: 500px;
      }

      .Product-Details-SimilarProducts-list{
 
        background-color: white;
       width: 100%;
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       grid-template-rows: repeat(2, auto);
     gap:1rem;
     justify-items: center; 
      
      }
      .productDetails-product{

        width: 90%;
      
      }
      

    
  }

  
  @media (max-width:600px){

    .backToStore{
      display: none;
    }

    
    .productDetails-nav{
    
      
     width: 80%;
      
      
       
     }

   
    
 
     
      .product-info-price-div,.product-info-rating-div{
      
        font-size: .8rem;
      
      }
      .product-description{
        width: 15rem;
        font-size: .9rem;
      }
 
    .carousel-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
        width: 45%;
        
      }
      .carousel-sub-div{
     
        gap: .5rem;
       
      }
    
      .ImageBox{
      width: 18.75rem;
     
      }
      
      .currentImage{
        transition: translate 400ms ease-in-out;
        width: 300px;
      }
     
  
  
  .quantity-input {
    width: 1.5rem;
    height: 1.5rem;
  
  }
  

  
 
  
  
 

  }

  @media (max-width:400px){

    .backToStore{
    
    
       font-size: 1rem;
      
       left:.2rem;
       
     }

     .productDetails-nav{
    
      
      width: 85%;
    

        
      }
      .productDetails-nav-item{
        font-size: .7rem;
      }


    .product-detail{
      
        display: flex;
        flex-direction: column;
        gap:2rem;
        
      }
      .product-info{
      
        width: 70%;
        box-shadow: 5px 5px #1a1a1a5e;
    
      }
      .product-info-price-div,.product-info-rating-div{
      
        font-size: .8rem;
      
      }
      
      .price-num{
        font-size: 1.1rem;
      
      }
      .product-description{
        width: 15rem;
        font-size: .9rem;
      }
      .rating-num{
        display: none;
      }
 
  
      .carousel-sub-div{
     
        gap: 0rem;
       
      }
      .leftArrow{
        margin-right: -1rem;
     
       
      }
     
      .rightArrow{
        margin-left: -1rem;
       
      }
    
     /*  .ImageBox{
      width: 15.625rem;
  
     
      }
      
      .currentImage{
        transition: translate 400ms ease-in-out;
        width: 250px;
      }  */
     
  
  
  .quantity-input {
    width: 1.5rem;
    height: 1.5rem;
  
  }
  
 

  .leftArrow,.rightArrow{
  
    height: 2.2rem;
    padding:.3rem;
    background-color: rgba(0, 0, 0, 0.579);
    z-index: 1;
    border-radius: 50%;

      
    }
  
 
  
  .addTocartBtn{
    
    bottom: 1.5rem;
  
  }


    .Product-Details-SimilarProducts-list{
      gap:0rem;
    }

    .productDetails-product{

      width: 100%;
    
    }
    

  }