.account-user-info-wrapper{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;

  border: 0px solid rgb(216, 216, 216);
  width: 90%;
 padding: 1rem;
  font-family: sans-serif;
gap:10px;



  
}

.account-user-info{
    display: flex;
    flex-direction: column;
  justify-content:center;
  align-items: center;
    gap: 2rem;
}

.user-img-container{
  height: 6rem;
  width:6rem;
  border: 1px solid rgb(170, 170, 170);
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
      box-shadow: 0px 5px 10px rgb(130, 130, 130);
}

.user-img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-name{
  font-size: 1.5rem;
}

.user-credits-wrapper{
  width: 100%;
  border: 0px solid blue;
text-align: center;
 padding: 1rem;
 font-size: .9rem;
 color:rgb(0, 0, 0);
font-weight: 500;
  font-family: 'Figtree';


}

.user-email{
 font-size: 1rem;
  font-weight: 400;
  color:rgb(85, 85, 85);
  font-family:sans-serif;
}

.user-activity-wrapper{
  width: 90%;
  display: flex;
  flex-direction:column;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;

  

  
}

.user-activity{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
 

}



.user-activity-btn{
  color:rgb(0, 100, 255);
  font-size: 1rem;
  cursor: pointer;

}

.user-activity-btn span{

}


